<div class="breadcrumb">
  <p>{{ title }}</p>
  <ol>
    {{#each breadcrumb}}
    <li>
      {{#if url }}
        <a {{#if id}}id="{{id}}"{{/if}} href={{ url }}>{{ text }}</a>
      {{else }}
        {{ text }}
      {{/if }}
    </li>
    {{/each}}
  </ol>
</div>
