{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row" role="main" id="content">
  <div class="columns columns--sidebar-left">
    <div class="column">

      <div class="row row--large">

        <div class="sort {{ modifier }}">
          <div class="columns">
            <div class="column">
              <a href="#" class="link link--map">Terug naar Expression</a>
            </div>
            <div class="column d-align-right">
              {{render "@pageactions" pageactions }}
            </div>
          </div>
        </div>

        <div id="modal-1" class="modal modal--off-screen" hidden role="alert">
          <div class="modal__inner">
            <div class="modal__content">
              <h2>Permanente link</h2>

              <h3>Kopieer de regeling naar uw clipboard </h3>
              <div class="row">
                {{render "@copydata" }}
              </div>
              <h3>Verfijn in Linktool </h3>
              <p>Ga naar de
                <a href="http://linkeddata-acc.overheid.nl/front/portal/linktool-bwb-verfijnen?ext-id=http%3a%2f%2fwetten.overheid.nl%2fid%2fBWBR0032203%2f2016-07-01%2f0%2fDeel1&amp;geldigheidsdatum=2016-07-01&amp;zichtdatum=2016-07-01"
                  id="aLinktoolurl" rel="external" target="_blank">Linktool</a>
              </p>
            </div>
            <button type="button" data-handler="close-modal" class="modal__close">
              <span class="visually-hidden">sluiten</span>
            </button>
          </div>
        </div>
      </div>



      <h1>Manifestation <span class="h1__sub">24 resultaten</span></h1>

      <p>
        Dit besluit treedt in werking, op het tijdstip dat het besluit van Provinciale Staten tot het vaststellen van hoofdplafond.
      </p>

      <h2>Coordinaten</h2>
       {{ render "@sources-list" sourcesContext }}
      <h2>JPG</h2>
       {{ render "@sources-list" sourcesContext2 }}
      <h2>PDF</h2>
       {{ render "@sources-list" sourcesContext3 }}

    </div>
    <div class="column column--sidebar">

      <div id="modal-filter" class="modal-sidebar" role="alert" data-decorator="init-sticky">

        <div class="modal-sidebar__content">
          {{render "@nav" navWetContext }}

          <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close">
            <span class="visually-hidden">Sluiten</span>
          </button>
        </div>

    </div>
  </div>
</div>

</div>

{{ render "@footer" }}
