{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row" role="main" id="content">
  <div class="columns columns--sidebar-left">
    <div class="column">

      {{!-- <p class=""><a href="#" class="icon icon--house">Terug naar repository</a></p> --}}

      <h1>Area <span class="h1__sub">2 resultaten</span></h1>

      <p>
        Dit besluit treedt in werking, op het tijdstip dat het besluit van Provinciale Staten tot het vaststellen van hoofdplafond.
      </p>

      {{ render "@browse" repoContext }}

    </div>
    <div class="column column--sidebar">

      <div id="modal-filter" class="modal-sidebar" role="alert" data-decorator="init-sticky">

        <div class="modal-sidebar__content">
          {{render "@nav" navWetContext }}

          <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close">
            <span class="visually-hidden">Sluiten</span>
          </button>
        </div>

    </div>
  </div>
</div>

</div>

{{ render "@footer" }}
