{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container" id="content" role="main">
  <div class="row row--spacer">
    <div class="jumbotron jumbotron--highlight">

      <div class="jumbotron__content jumbotron__content--centered">

        <div class="jumbotron__heading jumbotron__heading--centered">
          <p class="jumbotron__subheader">Repository</p>
          <h1 class="jumbotron__header">Fusce dapibus, tellus ac cursus commodo, tortor mauris</h1>
          <p class="jumbotron__intro">
               Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur.
          </p>
        </div>

        <form class="form form__row form__row--medium u-nomargin">
          <fieldset class="u-nomargin">
            <legend class="visually-hidden">Doorzoek de decentrale overheden</legend>
            <div class="form__row form__row--medium">
              <div class="column form__row column-d-9">
                <label for="1" class="form__label form__label--medium">Repositories</label>
                {{ render "@select-custom" selectCustomContext }}
              </div>
            </div>
            <div class="align-right">
              <button type="submit" class="form__button button button--primary button--large">Bekijk inhoud</button>
            </div>
          </fieldset>
        </form>



      </div>

    </div>
  </div>

  <div class="">
    <div class="columns columns--dominant">
      <div class="column u-order--d2">
         {{render "@picture" }}
      </div>
      <div class="column u-order--d1 column--padded-med">
        <div class="block-content">
          <p class="block-content__subheading">
            <i>Repository</i>
          </p>
          <h2 class="block-content__heading">Gebruik repositoryservice</h2>
          <p>
             Via deze service is het mogelijk om de repository te benaderen. Via verschillende manieren is het mogelijk om items op te
            vragen/in te zien. De mogelijkheden worden hieronder beschreven per niveau. In het algemeen gelden de volgende mogelijkheden.
          </p>
          <p>
            <a href="#" class="button button--secondary">Meer over de repository</a>
          </p>
        </div>
      </div>

    </div>
  </div>

</div>

{{ render "@footer" }}
