<div class="facetgroup {{modifier}}" data-decorator="init-facetgroup">
  <ul class="facetgroup__list">
    {{#each items}}
      <li><a {{#if id}}id="{{id}}"{{/if}} href="{{href}}" class="{{#if selected}}is-selected{{/if}}">{{label}}</a> {{#if amount}}<span class="amount">({{amount}})</span>{{/if}}</li>
    {{/each}}
  </ul>
  {{#if_gt items.length '5'}}
    {{#> @modal modal }}
      <h2>{{modalTitle}}</h2>
      <div class="js-facetgroup__listholder"></div>
    {{/@modal}}
  {{/if_gt}}
</div>
