<div data-decorator="init-form-conditionals">
  <div id="citem-1" role="region" class="js-form-conditionals__citem">
    <div class="form__row">
      {{ render "@select-custom" dateselectionType merge=true }}
    </div>
  </div>
  <div id="citem-2" role="region" class="js-form-conditionals__citem">
    <div class="form__row">
      {{render "@datepicker" dateselectionDatum merge=true }}
    </div>
  </div>
  <div id="citem-3" role="region" class="js-form-conditionals__citem">
    {{#if_eq layout 'narrow'}}
      <div class="form__row">
        {{render "@datepicker" dateselectionDatumStart merge=true }}
      </div>
      <div class="form__row">
        {{render "@datepicker" dateselectionDatumEnd merge=true }}
      </div>
    {{else}}
      <div class="columns">
        <div class="column">
          <div class="form__row">
            {{render "@datepicker" dateselectionDatumStart merge=true }}
          </div>
        </div>
        <div class="column">
          <div class="form__row">
            {{render "@datepicker" dateselectionDatumEnd merge=true }}
          </div>
        </div>
      </div>
    {{/if_eq}}
  </div>
</div>
