<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="{{~ path '/vendor/kpm/js/index.js/index.js' ~}}"></script>
  <link rel="stylesheet" href="{{~ path '/vendor/kpm/css/index.css/index.css' ~}}">


  {{!-- <link rel="stylesheet" title="1" href="{{~ path '/css/transition.css' ~}}"> --}}
  <link rel="stylesheet" title="1" href="{{~ path '/css/generic.css' ~}}">
  <link rel="stylesheet" href="{{~ path '/css/print.css' ~}}">

</head>
<body class="preview">
  {{{ yield }}}

  <script src="{{~ path '/js/main.js' ~}}"></script>

  {{!-- Only include on bwb --}}
  <script src="{{~ path '/js/bwb.js' ~}}"></script>

</body>
</html>
