<div class="article__header--law">
  <h3>{{ counter }}</h3>

  <p>Versie geldend per 01-04-2012</p>

  <ul>
    <li><a href="#">Versie informatie <span class="visually-hidden">{{ counter }}</span></a></li>
    <li><a href="#">Versie vergelijk <span class="visually-hidden">{{ counter }}</span></a></li>
    <li><a href="#">Relaties <span class="visually-hidden">{{ counter }}</span> (11) </a></li>
    <li><a href="#">Permanente link <span class="visually-hidden">{{ counter }}</span></a></li>
    <li><a href="#">Print <span class="visually-hidden">{{ counter }}</span></a></li>
    <li><a href="#">Bewaar <span class="visually-hidden">{{ counter }}</span></a></li>
  </ul>
</div>
