<ul class="list--sources">
	{{#each items }}
		<li>
			<div class="list--source__information">

				{{ name }}
			
				{{#if files }}
					{{#each files }}
						<span class="label label--{{ type }}">{{ type}}</span>
					{{/each}}
				{{/if}}
			</div>

			<button href="{{ buttonLink }}" class="button button--primary" {{ buttonDisabled }}>{{ buttonText }}</button>

			{{#if moreInfo }}

				<div class="collapsible collapsible--small" data-decorator="init-collapsible" id="c1">
				  <div class="collapsible__header">
				    <a href="#c1" aria-controls="collapsible-content-1" aria-expanded="true" data-handler="toggle-collapsible">show/hide</a>

				  </div>
				  <div class="collapsible__content" id="collapsible-content-1">

				  	<div>
					  	<h3>{{ title }}</h3>
					  	<div class="well well--linkContainer">{{ link }}</div>

					  	<button href="{{ link }}" class="button button--primary">Data API</button>
					    
						{{#if tableData }}
							<table>
								{{#each tableData }}
									<tr>
										<th>{{ type }}</th>
										<td data-before="{{ type }}">{{{ value }}}</td>
								{{/each}}
							</table>
						{{/if}}
					</div>

				  </div>
				</div>

				
			{{/if}}
		</li>
	{{/each}}
</ul>