{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumbAttenderen merge=true }}
  </div>
</div>

<div class="container" role="main" id="content">

  <div class="row">

    {{#> @jumbotron jumbotronContext }}
      <form class="form" data-decorator="init-form-validation">
        <fieldset>
          <legend class="visually-hidden">E-mailadres</legend>
          <div class="form__row">
            {{render "@input-text" inputEmailContext }}
          </div>
        </fieldset>
        <div class="align-right form__row">
          {{ render "@button" buttonSubmit }}
        </div>
      </form>
    {{/@jumbotron}}

  </div>

</div>

{{ render "@footer" }}
