{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumbAttenderen merge=true }}
  </div>
</div>

<div class="container" role="main" id="content">

  <div class="row">

    {{#> @jumbotron jumbotronContext }}
      <form class="form" data-decorator="init-form-validation">
        <fieldset>
          <legend class="visually-hidden">E-mailadres</legend>
            <div class="columns">
              <div class="column">
                <div class="form__row">
                  {{render "@input-text" inputPostcodeContext }}
                </div>
              </div>
              <div class="column">
                <div class="form__row">
                  {{render "@input-text" inputHuisnummerContext }}
                </div>
              </div>
            </div>
            <div class="form__rowsubmit">
              <div class="form__rowsubmit__item">
                {{ render "@button" buttonSubmit }}
              </div>
            </div>
        </fieldset>

      </form>
    {{/@jumbotron}}

  </div>
</div>


{{ render "@footer" }}
