{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div id="content" role="main" class="container">

  <div class="row">

    {{#> @jumbotron jumbotronContext }}
      <form class="form" data-decorator="init-form-validation">
        <fieldset>
          <legend class="visually-hidden">E-mailadres</legend>
          <div class="columns">
            <div class="column">
              <div class="form__row form__row--medium">
                {{render "@input-text" inputEmailContext }}
              </div>
            </div>
            <div class="column">
              <div class="form__row form__row--medium">
                {{render "@input-text" inputPWContext }}
              </div>
            </div>
          </div>
        </fieldset>
        <div class="">
          <div class="columns">
            <div class="u-order--d2 align-right form__row">
              <button type="submit" class="form__button button button--primary">Inloggen</button>
            </div>
            <div class="u-order--d1 u-nomargin">
              <a href="/components/preview/templates-att-homepage" class="icon icon--right icon--mail">Wachtwoord vergeten</a>
            </div>
          </div>
        </div>
      </form>
    {{/@jumbotron}}

  </div>

</div>

{{ render "@footer" }}
