<div {{ create_attribute({'class': ['jumbotron', modifier ? 'jumbotron--' ~ modifier], 'id': id|lower}) }}>
  <div {{ create_attribute({
    'class': [
      'jumbotron__content',
      centered ? 'jumbotron__content--centered',
      (centered and size ) ? ' jumbotron__content--centered-' ~ size,
      contentcentered ? 'jumbotron__content--aligncenter'
    ]}) }}>
    {% if backlink %}
      {{ backlink }}
    {% endif %}
    <div class="jumbotron__heading {% if headingcentered %}jumbotron__heading--centered{% endif %}">
      {% if subheading %}<p class="jumbotron__subheader">{{ subheading }}</p>{% endif %}
      {% if heading %}<{{ h ?? 'h1'}} class="jumbotron__header{{ hstyle ? ' ' ~ hstyle}}">{{ heading }}</{{ h ?? 'h1'}}>{% endif %}
    {% if intro %}
      <p class="jumbotron__intro">
        {{ intro }}
      </p>
    {% endif %}
    {% if text %}
      {{ text }}
    {% endif %}
    </div>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
