{{ render "@header" header merge=true }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container">

  <article>

    <h1 class="docRegelingOpschrift">Regeling van de Minister van Binnenlandse Zaken en Koninkrijksrelaties, van
      <del>[datum]</del><ins>01-01-2021</ins>, houdende regels over het beschermen
      en benutten van de fysieke leefomgeving (Omgevingsregeling)</h1>

    {{ render "@well" }}

    <p>
      De Minister van Binnenlandse Zaken en Koninkrijksrelaties,
    </p>
    <p>
      De Minister van Economische Zaken en Klimaat, de Minister van Infrastructuur en Waterstaat, de Minister van
      Justitie en
      Veiligheid, de Minister van Landbouw, Natuur en Voedselkwaliteit, de Minister van Onderwijs, Cultuur en
      Wetenschap; Gedaan, mede namens de Minister van Defensie, <del class="del del--img"><img src="/images/temp/wat-doet-overheid.jpg"
        class="valign valign--middle" width="70" height="40" alt="alt tekst" /></del><ins class="ins ins--img"><img src="/images/temp/wat-doet-overheid.jpg"
        class="valign valign--middle" width="70" height="40" alt="alt tekst" /></ins> de Minister van Economische Zaken en Klimaat, de
      Minister van Infrastructuur en Waterstaat, de Minister van Justitie en Veiligheid, de Minister
      van Landbouw, Natuur en Voedselkwaliteit, de Minister van Onderwijs, Cultuur en Wetenschap;
    </p>

    <h2>Tekst elementen</h2>
    <p>
      Dit is een stuk tekst waar alle elementen voorkomen met een <strong><del>strang</del><ins>strong</ins></strong>,
      een <em><del>am</del><ins>em</ins></em>, een <b><del>p</del><ins>b</ins></b> en een <u><del>anderlijn</del><ins>underline</ins></u>. Verder houden we ook rekening met <sup><del>suup</del><ins>sup</ins></sup> en <sub><del>suub</del><ins>sub</ins></sub> bijvoegingen.
      Een afkorting zoals <del><abbr title="Nederlandse Zpoorwegen">NZ</abbr></del><ins><abbr title="Nederlandse Spoorwegen">NS</abbr></ins> werkt ook met een renvooi weergave.
    </p>
    <p>
      Dit een link naar de <del><a href="#">detailpagina</a></del><ins><a href="#">overzichtspagina</a></ins>.
    </p>
    <blockquote>
      Dit is een <del>blockqoate</del><ins>blockquote</ins>.
    </blockquote>
    <ins class="ins ins--block">
      <p class="figcaption">Toegevoegde tekst</p>
      <blockquote>
        Dit is een nieuwe blockquote.
      </blockquote>
    </ins>



    <h2>Lijst - custom</h2>
    {{ render "@list--custom" listCustom merge=true }}

    <h2>Definitie lijst</h2>
    {{ render "@definitionlist" dlList }}

    <h2>Afbeelding</h2>
    <p>
      <del class="del del--img"><img src="/images/temp/wat-doet-overheid.jpg" class="valign valign--middle" width="70" height="40" alt="alt tekst" /></del>
      <ins class="ins ins--img"><img src="/images/temp/wat-doet-overheid.jpg" class="valign valign--middle" width="70" height="40" alt="alt tekst" /></ins>
    </p>

    <h2>Figure</h2>
    <h3>Standaard del/in</h3>
    <ins class="ins ins--figure">
      <figure>
        <picture><img src="https://zoek.officielebekendmakingen.nl/stcrt-2020-64380-7.png" style="" alt="stcrt-2020-64380-7.png" /></picture>
        <figcaption>Dit is de bron.</figcaption>
      </figure>
    </ins>
    <del class="del del--figure">
      <figure>
        <picture><img src="https://zoek.officielebekendmakingen.nl/stcrt-2020-64380-7.png" style="" alt="stcrt-2020-64380-7.png" /></picture>
        <figcaption>Dit is de bron.</figcaption>
      </figure>
    </del>
    <h3>Aangepaste afbeelding</h3>
    <figure>
      <picture><del><img src="https://zoek.officielebekendmakingen.nl/stcrt-2020-64380-7.png" style="" alt="stcrt-2020-64380-7.png" /></del><ins><img src="https://zoek.officielebekendmakingen.nl/stcrt-2020-64380-7.png" style="" alt="stcrt-2020-64380-7.png" /></ins></picture>
      <figcaption>Dit is de bron.</figcaption>
    </figure>
    <h3>Aangepaste tekst (figcaption)</h3>
    <figure>
      <picture><img src="https://zoek.officielebekendmakingen.nl/stcrt-2020-64380-7.png" style="" alt="stcrt-2020-64380-7.png" /></picture>
      <figcaption><del>Dit is de bron.</del><ins>De formule voor ultiem geluk.</ins></figcaption>
    </figure>






    <p>
      De Minister van Economische Zaken en Klimaat, de Minister van Infrastructuur en Waterstaat, de Minister van
      Justitie en
      Veiligheid, de Minister van Landbouw, Natuur en Voedselkwaliteit, de Minister van Onderwijs, Cultuur en
      Wetenschap; Gedaan, mede namens de Minister van Defensie, <img src="/images/temp/wat-doet-overheid.jpg"
        class="valign valign--middle" width="70" height="40" alt="alt tekst"/> de Minister van Economische Zaken en Klimaat, de
      Minister van Infrastructuur en Waterstaat, de Minister van Justitie en Veiligheid, de Minister
      van Landbouw, Natuur en Voedselkwaliteit, de Minister van Onderwijs, Cultuur en Wetenschap;
    </p>
    <div class="columns">
      <div>
        <p>
          kolom 1
        </p>
      </div>
      <div>
        <p>
          kolom 2
        </p>
      </div>
    </div>
    <p>
      Gedaan, mede namens de Minister van Defensie, de Minister van Economische Zaken en Klimaat, de Minister van
      Infrastructuur
      en Waterstaat, de Minister van Justitie en Veiligheid, de Minister van Landbouw, Natuur en Voedselkwaliteit, de
      Minister
      van Onderwijs, Cultuur en Wetenschap; De Verdragenbank bevat de gegevens van de verdragen, waarbij het Koninkrijk
      der Nederlanden partij is. Verdragsgegevens zijn
      onder andere de datum en de plaats van de totstandkoming. <q cite="bron.html">De appel valt niet ver van de
        boom</q>, zei truus met een ondertoon. De datum van inwerkingtreding, de vindplaats van de verdragstekst,
      de partijen (landen, gebiedsdelen en internationale organisaties) en de datum van bekrachtiging, de gelding voor
      Europees
      Nederland, Aruba, Curaçao, Sint Maarten en/of het Caribische deel van Nederland (Bonaire, Sint Eustatius, Saba),
      eventuele
      voorbehouden, verklaringen en bezwaren en de verbanden tussen verdragen.
    </p>

    <p>
      Besluit:
    </p>


    <h2 class="docHoofdstuk">Hoofdstuk 1 algemene bepalingen [docHoofdstuk]</h2>
    <h3 class="docAfdeling">Afdeling 1.1 algemeen [docAfdeling]</h3>
    <p>Text</p>


    <h2 class="docHoofdstuk">Hoofdstuk 2 aanwijzing en geometrische begrenzing van locaties [docHoofdstuk]</h2>
    <h3 class="docAfdeling">Afdeling 2.1 algemene bepalingen [docAfdeling]</h3>
    <h4 class="docArtikel">Artikel 2.1 (toepassingsbereik) [docArtikel]</h4>
    <p>
      Dit hoofdstuk is van toepassing op de aanwijzing (<a href="#voetnoot1" data-decorator="init-footnote">voetnoot
        1</a>) of geometrische begrenzing van locaties voor de toepassing van de wet.
    </p>


    <h3 class="docAfdeling">Afdeling 2.2 Water [docAfdeling]</h3>
    <h4 class="docParagraaf">§ 2.2.1 Oppervlaktewateren en rijkswateren [docParagraaf]</h4>

    <h5 class="docArtikel">Artikel 2.2 (geometrische begrenzing oppervlaktewaterlichamen) [5]</h5>
    <ol class="list list--nummeric">
      <li>
        De geometrische begrenzing van de oppervlaktewaterlichamen (<a href="#voetnoot2"
          data-decorator="init-footnote">voetnoot 2</a>), bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en
        waarvan het beheer van de waterkwaliteit bij het Rijk berust, is vastgelegd in bijlage III.
      </li>
      <li>
        De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het
        Omgevingsbesluit en waarvan het beheer van de waterkwantiteit bij het Rijk berust, is vastgelegd in bijlage III.
      </li>
      <li>
        De geometrische begrenzing van de oppervlaktewaterlichamen (<a href="#voetnoot2"
          data-decorator="init-footnote">voetnoot 2</a>), bedoeld in bijlage II, onder 1, bij Omgevingsbesluit en
        waarvan het waterstaatkundig beheer bij het Rijk berust, is vastgelegd in bijlage III.
      </li>
    </ol>

    <div class="table__container">
      <table class="table" aria-describedby="described123">
        <caption>Hier de tabeltitel.</caption>
        <thead>
          <tr>
            <th>Header kolom 1</th>
            <th>Header kolom 2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Waarde kolom 1, rij 1
              <sup>
                <a href="#tabelnoot1" id="referentie1" data-decorator="init-footnote">1</a>
              </sup>
            </td>
            <td>Waarde kolom 2, rij 1</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <ul class="list-custom footnotes footnotes--clean">
                <li class=" list-custom__item " id="tabelnoot1">
                  <span class="list-custom__itembullet">1</span>Dit is een tabelnoot.
                  <a href="#referentie1" class="reference">Terug naar referentie 1.</a>
                </li>
              </ul>
            </td>
          </tr>
        </tfoot>
      </table>
      <div class="table__caption" id="described123">
        Dit is de tabelbron.
      </div>
    </div>

    <h2>Tabel</h2>

    <div class="table__container">
      <table class="table table--untouched table--striped table__data-overview" aria-describedby="tableDes2">
        <caption>Zebra1 en pgwide 0 (titel van de tabel)</caption>
        <col>
        <colgroup span="2"></colgroup>
        <thead>
          <tr>
            <th colspan="2" scope="colgroup">Ontwerplevensduur</th>
            <th colspan="1" scope="colgroup">Toepassing</th>
          </tr>
        </thead>

        <tbody>
          <tr class="table__rowheading table__rowheading--lvl2">
            <th scope="col" colspan="3">Row 2</th>
          </tr>
          <tr class="table__rowheading table__rowheading--lvl3">
            <th scope="col" colspan="3">Row 3</th>
          </tr>
          <tr class="table__rowheading table__rowheading--lvl4">
            <th scope="col" colspan="3"><del>Row 7</del><ins>row 4</ins></th>
          </tr>
          <tr class="table__rowheading table__rowheading--lvl5">
            <th scope="col" colspan="3">Row 5</th>
          </tr>
          <tr class="table__rowheading table__rowheading--lvl5 ins">
            <th scope="col" colspan="3" class="ins"><ins>Row 6</ins></th>
          </tr>
          <tr class="table__rowheading table__rowheading--lvl6">
            <th scope="col">Klasse</th>
            <th scope="col">Jaren</th>
            <th scope="col"></th>
          </tr>
          <tr class="del">
            <td><del>1A</del></td>
            <td><del>5</del></td>
            <td><del>Tijdelijke bouwwerken, anders dan een woonfunctie: waarbij de termijn genoemd in de omgevingsvergunning
              als bedoeld in
              PM niet langer is dan 5 jaar of die vergunningsvrij zijn voor de activiteit bouwen als bedoeld in PM. Voor
              bouwwerken
              in gevolgklasse CC2 of CC3: binnen deze klasse moeten de in rekening te brengen belastingen zijn gebaseerd
              op een referentieperiode
              van 15 jaar. Voor CC1 is dit 5 jaar.</del></td>
          </tr>
          <tr class="ins">
            <td><ins>1A</ins></td>
            <td><ins>5</ins></td>
            <td><ins>Tijdelijke bouwwerken, anders dan een woonfunctie: waarbij de termijn genoemd in de omgevingsvergunning
              als bedoeld in
              PM niet langer is dan 5 jaar of die vergunningsvrij zijn voor de activiteit bouwen als bedoeld in PM. Voor
              bouwwerken
              in gevolgklasse CC2 of CC3: binnen deze klasse moeten de in rekening te brengen belastingen zijn gebaseerd
              op een referentieperiode
              van 15 jaar. Voor CC1 is dit 5 jaar.</ins></td>
          </tr>
          <tr>
            <th scope="col">Klasse</th>
            <th scope="col">Jaren</th>
            <th scope="col"></th>
          </tr>
          <tr>
            <td>1A</td>
            <td class="valign--middle">5</td>
            <td>Tijdelijke bouwwerken, anders dan een woonfunctie: waarbij de termijn genoemd in de omgevingsvergunning
              als bedoeld in PM
              niet langer is dan 5 jaar of die vergunningsvrij zijn voor de activiteit bouwen als bedoeld in PM. Voor
              bouwwerken in gevolgklasse
              CC2 of CC3: binnen deze klasse moeten de in rekening te brengen belastingen zijn gebaseerd op een
              referentieperiode van 15
              jaar. Voor CC1 is dit 5 jaar.</td>
          </tr>
          <tr>
            <td>1B</td>
            <td class="">15</td>
            <td>Tijdelijke bouwwerken, anders dan de bouwwerken die vallen in klasse 1A.</td>
          </tr>
          <tr>
            <td>2</td>
            <td>15</td>
            <td>Constructies en bouwwerken voor landbouw en tuinbouw en soortgelijke toepassingen, alleen voor
              productiedoeleinden, waarbij
              het aantal personen dat in het gebouw aanwezig is, beperkt is; 2 15 Industriebouwwerken, wel of niet
              tijdelijk, met 1 of
              2 bouwlagen.</td>
          </tr>
          <tr>
            <td>3</td>
            <td>50</td>
            <td>Bouwwerken anders dan bedoeld onder 1A, 1B en 2.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">Dit is de voetnote</td>
          </tr>
        </tfoot>
      </table>
      <div id="tableDes2">
        Dit is een tabel bron
      </div>
    </div>


    <div class="table__container">
      <table class="table table--untouched" aria-describedby="table2Summary">
        <thead>
          <tr>
            <th scope="colgroup">Hoofdstuk</th>
            <th scope="colgroup">Wat wordt geregeld?</th>
            <th scope="colgroup"><span class="rotated">Reken- en meetmethode</span></th>
            <th scope="colgroup">Waar?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">2 Locaties</th>
            <td>Aanwijzing agglomeraties richtlijn omgevingslawaai</td>
            <td>n.v.t.</td>
            <td>Afdeling 2.5</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th rowspan="3" scope="rowgroup">6 Meet- en rekenvoorschriften decentraal Bijlage XIX gereguleerde
              activiteiten</th>
            <td>Berekenen geluid op geluidgevoelige gebouwen door activiteiten:</td>
            <td></td>
            <td rowspan="2">§ 6.2.1 Bijlage XIX</td>
          </tr>
          <tr>
            <td>• Anders dan specifieke activiteiten</td>
            <td>Handleiding meten en rekenen industrielawaai</td>
          </tr>
          <tr>
            <td>• Binnenschietbanen</td>
            <td>In bijlage</td>
            <td></td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th rowspan="2" scope="rowgroup">7 Gegevens en bescheiden</th>
            <td>Aanvraagvereisten bij enkele milieubelastende activiteiten:</td>
            <td rowspan="2">n.v.t</td>
            <td rowspan="2">§ 7.1.3.5<br>§ 7.1.3.10<br>§ 7.1.3.12</td>
          </tr>
          <tr>
            <td>• de aard en omvang van de geluidemissies;<br> • de door de activiteit veroorzaakte geluidimmissie;
              en<Br>• de maatregelen die worden
              getroffen om geluidemissies te voorkomen of, als dat niet mogelijk is, te beperken.</td>
          </tr>
        </tbody>
      </table>
      <div class="table__caption" id="table2Summary">
        <p>
          Dit is the summary/caption van de tabel hieronder, met een aria-describedby.
        </p>
        <p>extra</p>
      </div>
    </div>

    <h2>Del / Ins (in een tabel)</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Header
            <del>kolom 1</del>
            <ins>rij 1</ins>
          </th>
          <th>Header kolom 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarde
            <del>kolom 1</del>
            <ins>rij 1</ins>, rij 1</td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr class="ins">
          <th>
            <ins>Header kolom 1</ins>
          </th>
          <th>
            <ins>Header kolom 2</ins>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarde
            <del>kolom 1</del>
            <ins>rij 1</ins>, rij 1</td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr class="del">
          <th>
            <del>Header kolom 1</del>
          </th>
          <th>
            <del>Header kolom 2</del>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarde
            <del>kolom 1</del>
            <ins>rij 1</ins>, rij 1</td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr class="table__rowheading table__rowheading--lvl1 ins">
          <th>
            <ins>Header kolom 1</ins>
          </th>
          <th>
            <ins>Header kolom 2</ins>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
        <tr class="ins">
          <td>
            <ins>Waarde kolom 1, rij 1</ins>
          </td>
          <td>
            <ins>Waarde kolom 2, rij 1</ins>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr class="table__rowheading table__rowheading--lvl1 del">
          <th>
            <del>Header kolom 1</del>
          </th>
          <th>
            <del>Header kolom 2</del>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
        <tr class="del">
          <td>
            <del>Waarde kolom 1, rij 1</del>
          </td>
          <td>
            <del>Waarde kolom 2, rij 1</del>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr class="table__rowheading table__rowheading--lvl1">
          <th>Header kolom 1</th>
          <th class="del">
            <del>Header kolom 2</del>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td class="del">Waarde kolom 2, rij 1</td>
        </tr>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td class="del">
            <del>Waarde kolom 2, rij 1</del>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr class="table__rowheading table__rowheading--lvl1">
          <th>Header kolom 1</th>
          <th class="ins">
            <ins>Header kolom 2</ins>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td class="ins"><ins>Waarde kolom 2, rij 1</ins></td>
        </tr>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td class="ins">
            <ins>Waarde kolom 2, rij 1</ins>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr class="table__rowheading table__rowheading--lvl1">
          <th>
            <del>Text</del>
            <ins>Header kolom 1</ins>
          </th>
          <th>
            <span class="rotated">
              <del>Text</del>
              <ins>Header kolom 2</ins>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
      </tbody>
    </table>

    <table class="table table--condensed">
      <caption>Tabel, condensed.</caption>
      <thead>
        <tr class="table__rowheading table__rowheading--lvl1">
          <th>
            <del>Text</del>
            <ins>Header kolom 1</ins>
          </th>
          <th>
            <del>Text</del>
            <ins>Header kolom 2</ins>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
      </tbody>
    </table>

    <table class="table table--borderless">
      <caption>Tabel, <del>borderloos</del><ins>borderless</ins>.</caption>
      <thead>
        <tr class="table__rowheading table__rowheading--lvl1">
          <th>
            <del>Text</del>
            <ins>Header kolom 1</ins>
          </th>
          <th>
            <del>Text</del>
            <ins>Header kolom 2</ins>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
      </tbody>
    </table>

    <table class="table table--borderless">
      <caption>Tabel, met footnote.</caption>
      <thead>
        <tr class="table__rowheading table__rowheading--lvl1">
          <th>
            <del>Text</del>
            <ins>Header kolom 1</ins>
          </th>
          <th>
            <del>Text</del>
            <ins>Header kolom 2</ins>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2">
            <ul class="list-custom footnotes">
              <li class="list-custom__item" id="n1">
                <ins>
                  <span class="list-custom__itembullet">1</span>
                  <p>
                    Bal: Besluit activiteiten leefomgeving; Bbl: Besluit bouwwerken leefomgeving; Bkl: Besluit kwaliteit leefomgeving. <a href="#n1-link" class="reference">Terug naar link van noot.</a>
                  </p>
                </ins>
              </li>
            </ul>
        </td>
      </tr>
    </tfoot>
    </table>

    <table class="table table--striped">
      <caption>Tabel, striped.</caption>
      <thead>
        <tr class="table__rowheading table__rowheading--lvl1">
          <th>
            <del>Text</del>
            <ins>Header kolom 1</ins>
          </th>
          <th>
            <del>Text</del>
            <ins>Header kolom 2</ins>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarde kolom 1, rij 1</td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
        <tr class="del">
          <td><del>Waarde kolom 1, rij 1</del></td>
          <td><del>Waarde kolom 2, rij 1</del></td>
        </tr>
        <tr class="ins">
          <td><ins>Waarde kolom 1, rij 1</ins></td>
          <td><ins>Waarde kolom 2, rij 1</ins></td>
        </tr>
      </tbody>
    </table>

    <ins class="ins ins--table">
      <table class="table">
        <caption>Tabel, in een blok.</caption>
        <thead>
          <tr class="table__rowheading table__rowheading--lvl1">
            <th>Header kolom 1</th>
            <th>Header kolom 2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Waarde kolom 1, rij 1</td>
            <td>Waarde kolom 2, rij 1</td>
          </tr>
        </tbody>
      </table>
    </ins>

    <del class="del del--table">
      <table class="table">
        <caption>Tabel, in een blok.</caption>
        <thead>
          <tr class="table__rowheading table__rowheading--lvl1">
            <th>Header kolom 1</th>
            <th>Header kolom 2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Waarde kolom 1, rij 1</td>
            <td>Waarde kolom 2, rij 1</td>
          </tr>
        </tbody>
      </table>
    </del>


    <h5 class="docArtikel">Artikel 2.3 [5]</h5>
    <ol>
      <li>
        De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het
        Omgevingsbesluit en waarvan
        het beheer van de waterkwaliteit bij het Rijk berust, is vastgelegd in bijlage III.
        <ol class="list list--nummeric">
          <li>
            De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het
            Omgevingsbesluit en waarvan
            het beheer van de waterkwaliteit bij het Rijk berust, is vastgelegd in bijlage III.
          </li>
          <li>
            De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het
            Omgevingsbesluit en waarvan
            het beheer van de waterkwantiteit bij het Rijk berust, is vastgelegd in bijlage III.
          </li>
          <li>
            De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij
            Omgevingsbesluit en waarvan
            het waterstaatkundig beheer bij het Rijk berust, is vastgelegd in bijlage III.
          </li>
        </ol>
      </li>
      <li>
        De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het
        Omgevingsbesluit en waarvan
        het beheer van de waterkwantiteit bij het Rijk berust, is vastgelegd in bijlage III.
      </li>
      <li>
        De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij Omgevingsbesluit
        en waarvan
        het waterstaatkundig beheer bij het Rijk berust, is vastgelegd in bijlage III.
      </li>
    </ol>

    <ul class="list-custom footnotes">
      <li class="list-custom__item" id="voetnoot1">
        <span class="list-custom__itembullet">1</span>Willem-Alexander Claus George
        <del>Frederik</del><ins>Ferdinand</ins>, Koning der Nederlanden, Prins van Oranje-Nassau, Jonkheer van Amsberg
        (Utrecht, 27 april 1967) is sinds 30 april 2013 koning der Nederlanden. Hij is het oudste kind van prinses
        Beatrix en
        prins Claus.
        <a href="#referentie1" class="reference">Terug naar referentie 1</a>
      </li>
      <li class="list-custom__item" id="voetnoot2">
        <span class="list-custom__itembullet">3</span>Cras in ipsum condimentum, egestas metus id, tristique metus.
        <a href="#referentie2" class="reference">Terug naar referentie 2</a>
      </li>
    </ul>

    <article>
      <h1>[h1]Lichaam in lichaam</h1>
      <p>In een nieuwe artikel kan een nieuwe h-structuur gestart worden. Een 'article' mag <strong>alleen</strong>
        gebruikt worden als de inhoud erin ook buiten deze context kan leven.</p>
      <blockquote>The article element represents a complete, or self-contained, composition in a document, page,
        application, or site. This
        could be a magazine, newspaper, technical or scholarly article, an essay or report, a blog or other social media
        post.</blockquote>
      <cite>W3C</cite>
      <h2>[h2]</h2>
      <p>txt</p>
      <h3>[h3]</h3>
      <p>txt</p>
    </article>

  </article>

  <hr>

  <p class="docRegelingOpschrift">docRegelingOpschrift</p>
  <p class="docHoofdstuk">docHoofdstuk</p>
  <p class="docTitel">docTitel</p>
  <p class="docAfdeling">docAfdeling</p>
  <p class="docParagraaf">§ docParagraaf</p>
  <p class="docSubparagraaf">§ docSubparagraaf</p>
  <p class="docSubsubparagraaf">§ docSubsubparagraaf</p>

  <p class="docArtikel">docArtikel</p>
  <p class="docFormeleInhoud">docFormeleInhoud</p>
  <p class="docFormeleDivisie">docFormeleDivisie</p>
  <p class="docDivisie">docDivisie</p>

  <hr>

  <div>

    <h2>Toelichting</h2>

    <h3>1. Algemeen deel</h3>
    <h4>Samenvatting</h4>
    <p>Gedaan, mede namens de Minister van Defensie, de Minister van Economische Zaken en Klimaat, de Minister van
      Infrastructuur
      en Waterstaat, de Minister van Justitie en Veiligheid, de Minister van Landbouw, Natuur en Voedselkwaliteit, de
      Minister
      van Onderwijs, Cultuur en Wetenschap; De Verdragenbank bevat de gegevens van de verdragen, waarbij het Koninkrijk
      der Nederlanden
      partij is. Verdragsgegevens zijn onder andere de datum en de plaats van de totstandkoming. De appel valt niet ver
      van de
      boom, zei truus met een ondertoon.</p>
    <h4>Andere tussenkop</h4>
    <p>Gedaan, mede namens de Minister van Defensie, de Minister van Economische Zaken en Klimaat, de Minister van
      Infrastructuur
      en Waterstaat, de Minister van Justitie en Veiligheid, de Minister van Landbouw, Natuur en Voedselkwaliteit, de
      Minister
      van Onderwijs, Cultuur en Wetenschap; De Verdragenbank bevat de gegevens van de verdragen, waarbij het Koninkrijk
      der Nederlanden
      partij is. Verdragsgegevens zijn onder andere de datum en de plaats van de totstandkoming. De appel valt niet ver
      van de
      boom, zei truus met een ondertoon.</p>

    <h3>Afdeling 2.2 water</h3>
    <h4>§ 2.2.1 Rijkswateren</h4>
    <h5>Artikel 2.2 bladiabla gelaat</h5>
    <p>tekst</p>
    <p aria-role="headings" aria-level="6"><strong></strong>lekker dan</p>
    <p>tekst</p>

  </div>


</div>



{{ render "@footer" }}
