<div class="sort {{ modifier }}">
  <div class="columns">
    <div class="column">
      {{#if options}}
      Sorteer op:
      <ul class="sort__options">
        {{#each options}}
          <li>
            <a href="{{href}}" role="button" class="sort--ascending {{active}}" aria-pressed="{{#if active}}true{{else}}false{{/if}}"><span class="visually-hidden">Sorteer op: </span>{{label}}</a>
          </li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    {{#if columns}}
      <div class="column d-align-right">
      {{#if buttonDownload}}
        <a href="#" class="icon icon--download">Download</a>
      {{/if}}
      {{#if amountPerPageFilter}}
          Aantal:
          <ul class="sort__options">
            <li>
              <a href="{{href}}" class="is-active" role="button" aria-pressed="true"><span class="visually-hidden">Toon </span>10<span class="visually-hidden"> resultaten per pagina</span></a>
            </li>
            <li>
              <a href="{{href}}" class="" role="button" aria-pressed="false"><span class="visually-hidden">Toon </span>20<span class="visually-hidden"> resultaten per pagina</span></a>
            </li>
            <li>
              <a href="{{href}}" class=""  role="button" aria-pressed="false"><span class="visually-hidden">Toon </span>50<span class="visually-hidden"> resultaten per pagina</span></a>
            </li>
          </ul>

      {{/if}}
      </div>
    {{/if}}
  </div>
</div>
