<a href="{{ action }}">{{ text }}</a>

<p>Dit is een <a href="{{ action }}">{{ text }}</a> in een zin</p>

<ul>
  <li>Dit is een <a href="{{ action }}">{{ text }}</a> in een li-item</li>
  <li><a href="{{ action }}">{{ text }} als volledige li-item</a></li>
</ul>
