<div class="jumbotron{{#if modifier}} jumbotron--{{ modifier }}{{/if}}">
  <div class="jumbotron__content{{#if centered}} jumbotron__content--centered jumbotron__content--centered{{#if size}}-{{size}}{{/if}}{{/if}} {{#if contentcentered}}jumbotron__content--aligncenter{{/if}}">
    <div class="jumbotron__heading {{#if headingcentered}}jumbotron__heading--centered{{/if}}">
      {{#if subheading}}<p class="jumbotron__subheader">{{subheading}}</p>{{/if}}
      {{#if heading}}<{{#if h}}{{h}}{{else}}h1{{/if}} class="jumbotron__header {{#if hstyle}}{{hstyle}}{{/if}}">{{heading}}</{{#if h}}{{h}}{{else}}h1{{/if}}>{{/if}}
      {{#if intro}}
        <p class="jumbotron__intro">
          {{intro}}
        </p>
        {{#if text}}
          {{{text}}}
        {{/if}}
      {{/if}}
    </div>
    {{#> @partial-block}}
      {{content}}
    {{/ @partial-block}}
  </div>
</div>
