<div class="jumbotron {{ modifier }}">
  <div class="jumbotron__content{% if centered %} jumbotron__content--centered jumbotron__content--centered{{ size ? '-' ~ size}}{% endif %}">
    <div class="jumbotron__heading{% if headingcentered %} jumbotron__heading--centered{% endif %}">
      {% if subheading %}<p class="jumbotron__subheader">{{ subheading }}</p>{% endif %}
      {% if heading %}<{{ h ?? 'h1'}} class="jumbotron__header{{ hstyle ? ' ' ~ hstyle}}">{{ heading }}</{{ h ?? 'h1'}}>{% endif %}
      {% if intro %}
      <p class="jumbotron__intro">
        {{ intro }}
      </p>
      {% if text %}
      {{ text }}
      {% endif %}
    {% endif %}
    </div>
    {% block content %}
    {{ content }}
    {% endblock %}
  </div>
</div>
