<div class="jumbotron {{ modifier }}">
  <div class="jumbotron__content {{#if centered}}jumbotron__content--centered{{#if size}}-{{size}}{{/if}}{{/if}}">
    <div class="jumbotron__heading {{#if centered}}jumbotron__heading--centered{{/if}}">
      {{#if subheading}}<p class="jumbotron__subheader">{{subheading}}</p>{{/if}}
      {{#if heading}}<{{h}} class="jumbotron__header">{{heading}}</{{h}}>{{/if}}
      {{#if intro}}
      <p class="jumbotron__intro">
        {{intro}}
      </p>
      {{/if}}
    </div>
    {{#if content}}
      {{{content}}}
    {{/if}}
    {{#if button}}
      <p>
        <a href="{{link}}" class="button button--primary">{{button}}</a>
      </p>
    {{/if}}
    {{content}}
  </div>
</div>
