<div class="form__element">
  <div class="form__element__label">
    <label id="labelId">{{ label }}</label>
  </div>
  <div class="form__element__label">
    <select aria-describedby="labelid" class="multipleSelect" multiple name="{{name}}" data-decorator="init-multiselect" data-decorator-placeholder="{{placeholder}}" data-multiselect-helptext="{{helptext}}">
      {{#each categories}}
        <optgroup label="{{ title }}">
          {{#each options}}
            <option value="{{ value }}">{{ label }}</option>
          {{/each}}
        </optgroup>
      {{/each}}
    </select>
  </div>
</div>
