{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

{{ render "@document-banner" documentbanner merge=true }}
<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
      <a href="#" class="icon--backlink">Terug naar zoekresultaten (9430)</a>

      <h3 class="nav-sub__heading "><i>Publicatie</i></h3>
      {{ render "@treeview" treeview }}

      <h3 class="nav-sub__heading">Informatie</h3>
      {{render "@nav" navInformatie }}
    </div>
  </div>
  <div id="content" role="main" class="content">

    {{ render "@pageactions" pageactions }}

    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <div class="officiele-publicatie" lang="nl" xml:lang="nl">
          <div class="_p_bladgemeenschappelijkeregeling">
            <a name="id1-3">
              <!---->
            </a>
            <a name="id1-3-1">
              <!---->
            </a>
            <p class="staatscourant_kop _p_single-kop-titel">
              <a name="id1-3-1-1">
                <!---->
              </a>Reglement van orde voor de vergaderingen en andere werkzaamheden en het dagelijks bestuur Avri</p>
            <div class="_p_regeling">
              <a name="id1-3-2">
                <!---->
              </a>
              <div class="aanhef _p_aanhef">
                <a name="id1-3-2-1">
                  <!---->
                </a>
                <div class="_p_preambule">
                  <a name="id1-3-2-1-1">
                    <!---->
                  </a>
                  <p class="al _p_al">
                    <a name="id1-3-2-1-1-1">
                      <!---->
                    </a>Het dagelijks bestuur van Avri;</p>
                  <p class="al _p_al">
                    <a name="id1-3-2-1-1-2">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="al _p_al">
                    <a name="id1-3-2-1-1-3">
                      <!---->
                    </a>gelet op 15, derde lid, van de gemeenschappelijke regeling Avri en artikel 52 van de Gemeentewet;</p>
                  <p class="al _p_al">
                    <a name="id1-3-2-1-1-4">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="al _p_al">
                    <a name="id1-3-2-1-1-5">
                      <!---->
                    </a>besluit </p>
                  <p class="al _p_al">
                    <a name="id1-3-2-1-1-6">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="al _p_al">
                    <a name="id1-3-2-1-1-7">
                      <!---->
                    </a>vast te stellen het Reglement van orde voor de vergaderingen en andere werkzaamheden van het dagelijks bestuur
                    </p>
                  <p class="al _p_al">
                    <a name="id1-3-2-1-1-8">
                      <!---->
                    </a>&nbsp;</p>
                </div>
              </div>
              <div class="_p_regeling-tekst">
                <a name="id1-3-2-2">
                  <!---->
                </a>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-1">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-1-1">
                    <!---->
                  </a>
                  <p class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-1-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">1:</span> Verdeling werkzaamheden en onderlinge vervanging</p>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-1-2-2">
                            <!---->
                          </a>Het dagelijks bestuur regelt de verdeling van zijn werkzaamheden.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-1-3-2">
                            <!---->
                          </a>Het dagelijks bestuur regelt de onderlinge vervanging in geval van verhindering of ontstentenis van één
                          der leden.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>3.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-1-4-2">
                            <!---->
                          </a>Een lid van het dagelijks bestuur dat verhinderd is zijn activiteiten uit te oefenen, geeft daarvan zo
                          spoedig mogelijk kennis aan de secretaris.</p>
                      </div>
                    </li>
                  </ul>


                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-2">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-2-1">
                    <!---->
                  </a>
                  <p class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-2-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">2:</span> Dag en plaats van de vergaderingen</p>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-2-2-2">
                            <!---->
                          </a>Het dagelijks bestuur vergadert in de regel eenmaal per maand op een in onderling overleg vast te stellen
                          dag en tijdstip en voorts zo dikwijls de voorzitter of een lid het nodig acht.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-2-3-2">
                            <!---->
                          </a>Indien een lid van het dagelijks bestuur een extra vergadering nodig acht, verzoekt hij onder opgave
                          van redenen aan de voorzitter deze bijeen te roepen. De secretaris zorgt na overleg met de voorzitter
                          voor een oproep voor deze vergadering – onder vermelding van de te bespreken onderwerpen – die, indien
                          mogelijk, uiterlijk 24 uur van tevoren op een bij Avri gebruikelijke wijze aan de leden van het dagelijks
                          bestuur wordt toegezonden.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>3.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-2-4-2">
                            <!---->
                          </a>De vergaderingen worden als regel in het kantoorgebouw van Avri in Geldermalsen gehouden.</p>
                      </div>
                    </li>
                  </ul>


                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-3">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-3-1">
                    <!---->
                  </a>
                  <p class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-3-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">3:</span> Verhindering</p>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-3-2-2">
                            <!---->
                          </a>Wanneer een lid van het dagelijks bestuur verhinderd is een vergadering geheel of gedeeltelijk bij te
                          wonen, geeft hij daarvan kennis aan de secretaris.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-3-3-2">
                            <!---->
                          </a>Wanneer de secretaris verhinderd is een vergadering geheel of gedeeltelijk bij te wonen, geeft hij daarvan
                          kennis aan de voorzitter, alsmede aan degene die de secretaris vervangt.</p>
                      </div>
                    </li>
                  </ul>

                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-4">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-4-1">
                    <!---->
                  </a>
                  <p class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-4-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">4:</span> Openbare vergadering</p>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-4-2-2">
                            <!---->
                          </a>Het dagelijks bestuur kan besluiten een openbare vergadering te houden.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-4-3-2">
                            <!---->
                          </a>De bepalingen van dit reglement zijn, voor zover mogelijk, van toepassing op een openbare vergadering.</p>
                      </div>
                    </li>
                  </ul>

                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-5">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-5-1">
                    <!---->
                  </a>
                  <p class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-5-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">5:</span> Agenda</p>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-5-2-2">
                            <!---->
                          </a>Voor elke vergadering wordt, ten minste 48 uur van tevoren, door de secretaris aan de leden van het dagelijks
                          bestuur een agenda met bespreekstukken toegezonden. De volledige verzameling vergaderstukken ligt voor
                          de leden bij het bestuurssecretariaat ter inzage.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-5-3-2">
                            <!---->
                          </a>Onderwerpen ten aanzien waarvan tijdige agendering als bedoeld in het eerst lid niet mogelijk is, maar
                          waarvan als gevolg van de spoedeisendheid geen uitstel mogelijk is, kunnen onder opgave van reden(en)
                          van urgentie uiterlijk acht uur voor de vergadering worden aangemeld bij de secretaris.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>3.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-5-4-2">
                            <!---->
                          </a>Het dagelijks bestuur kan besluiten, op voorstel van een lid of de voorzitter, onderwerpen die niet geagendeerd
                          zijn terstond in behandeling te nemen.</p>
                      </div>
                    </li>
                  </ul>


                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-6">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-6-1">
                    <!---->
                  </a>
                  <p class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-6-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">6:</span> Ambtelijke ondersteuning</p>
                  <p class="al _p_al">
                    <a name="id1-3-2-2-6-2">
                      <!---->
                    </a>De secretaris draagt zorg voor al hetgeen binnen de hem opgedragen taak nodig is in het belang van een vlot
                    verloop van de vergadering van het dagelijks bestuur.</p>
                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-7">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-7-1">
                    <!---->
                  </a>
                  <p class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-7-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">7:</span> Deelneming derden aan de vergadering</p>
                  <p class="al _p_al">
                    <a name="id1-3-2-2-7-2">
                      <!---->
                    </a>Het dagelijks bestuur kan besluiten een ambtelijk medewerker of derden voor een vergadering uit te nodigen
                    teneinde zijn mening ten aanzien van een onderwerp te geven dan wel een (nadere) toelichting te verschaffen
                    op een agendapunt.</p>
                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-8">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-8-1">
                    <!---->
                  </a>
                  <p class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-8-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">8:</span> Stemmingen</p>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-8-2-2">
                            <!---->
                          </a>Indien geen van de leden van het dagelijks bestuur bij het nemen van een besluit stemming vraagt, wordt
                          het voorstel geacht te zijn aangenomen.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-8-3-2">
                            <!---->
                          </a>Indien een lid van het dagelijks bestuur bij het nemen van een besluit stemming vraagt, wordt mondeling
                          gestemd, tenzij het derde lid van dit artikel wordt toegepast.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>3.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-8-4-2">
                            <!---->
                          </a>&nbsp;</p>
                        <ul class="_explicit whitespace-small _p_lijst">
                          <li class="li _p_li">
                            <span>a.</span>
                            <div>
                              <p class="al _p_al">
                                <a name="id1-3-2-2-8-4-3-1-2">
                                  <!---->
                                </a> Indien een lid van het dagelijks bestuur dat verlangt, wordt bij het nemen van een besluit over
                                een benoeming, voordracht of aanbeveling van personen gestemd bij gesloten en ongetekende briefjes.</p>
                            </div>
                          </li>
                          <li class="li _p_li">
                            <span>b.</span>
                            <div>
                              <p class="al _p_al">
                                <a name="id1-3-2-2-8-4-3-2-2">
                                  <!---->
                                </a>Indien daarbij de stemming beperkt is tot één persoon en de stemmen staken, beslist de voorzitter.</p>
                            </div>
                          </li>
                          <li class="li _p_li">
                            <span>c.</span>
                            <div>
                              <p class="al _p_al">
                                <a name="id1-3-2-2-8-4-3-3-2">
                                  <!---->
                                </a>Indien in de overige gevallen bij een eerste stemming door niemand de volstrekte meerderheid is
                                verkregen, heeft een tweede stemming plaats tussen de twee personen die bij de eerste stemming
                                de meeste stemmen hebben gekregen. Indien voor de tweede stemming personen een gelijk aantal stemmen
                                hebben gekregen beslist voor de deelname aan de tweede stemming het lot.</p>
                              <p class="al _p_al">
                                <a name="id1-3-2-2-8-4-3-3-3">
                                  <!---->
                                </a>Indien bij de tweede stemming de stemmen staken, beslist de voorzitter.</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>


                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-9">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-9-1">
                    <!---->
                  </a>
                  <p class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-9-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">9:</span> Besluitenlijst</p>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-9-2-2">
                            <!---->
                          </a>De secretaris draagt zorg voor het bijhouden van een besluitenlijst van de vergadering.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-9-3-2">
                            <!---->
                          </a>De besluitenlijst bevat, naast een formulering van door het dagelijks bestuur genomen besluiten, ten
                          minste:</p>
                        <ul class="_explicit whitespace-small _p_lijst">
                          <li class="li _p_li">
                            <span>a.</span>
                            <div>
                              <p class="al _p_al">
                                <a name="id1-3-2-2-9-3-3-1-2">
                                  <!---->
                                </a>de namen van de aan- en afwezige leden;</p>
                            </div>
                          </li>
                          <li class="li _p_li">
                            <span>b.</span>
                            <div>
                              <p class="al _p_al">
                                <a name="id1-3-2-2-9-3-3-2-2">
                                  <!---->
                                </a>de namen van de andere personen die hebben deelgenomen aan de beraadslaging.</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>3.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-9-4-2">
                            <!---->
                          </a>Stemverhoudingen worden alleen vermeld als een lid van het dagelijks bestuur daarom vraagt.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>4.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-9-5-2">
                            <!---->
                          </a>De besluitenlijst wordt in de eerstvolgende vergadering vastgesteld.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>5.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-9-6-2">
                            <!---->
                          </a>Voor zover de aard en de inhoud van de besluiten zich daartegen niet verzetten, wordt de besluitenlijst
                          zo spoedig mogelijk na de vergadering toegezonden aan de leden van het algemeen bestuur.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>6.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-9-7-2">
                            <!---->
                          </a>Het dagelijks bestuur kan besluiten de besluitenlijst openbaar te maken op de bij Avri gebruikelijke
                          wijze.</p>
                      </div>
                    </li>
                  </ul>





                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-10">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-10-1">
                    <!---->
                  </a>
                  <p class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-10-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">10:</span> Parafenbesluit en besluitenlijst</p>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-10-2-2">
                            <!---->
                          </a>Besluiten buiten de vergadering komen tot stand door een parafenbesluit, zijnde een conceptbesluit, waarop
                          door geen der leden van het dagelijks bestuur, binnen een circulatietermijn van tien werkdagen, is aangegeven
                          dat bespreking in een vergadering van het dagelijks bestuur gewenst is en waarop door alle leden voor
                          akkoord is geparafeerd, waarna het als definitief parafenbesluit wordt beschouwd.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-10-3-2">
                            <!---->
                          </a>Indien wegens spoedeisendheid een besluit, ter beoordeling van de secretaris en het eerstverantwoordelijk
                          dagelijks bestuurslid, geen uitstel duldt en door tenminste de twee dagelijks bestuurleden buiten de
                          vergadering voor akkoord is geparafeerd, wordt het besluit als definitief parafenbesluit beschouwd. De
                          secretaris doet een kopie van het besluit toekomen aan het lid van het dagelijks bestuur dat geen paraaf
                          heeft gezet.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>3.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-10-4-2">
                            <!---->
                          </a>In de door het dagelijks bestuur vastgestelde vakantieperiode komen besluiten buiten de vergadering tot
                          stand indien door tenminste twee leden van het dagelijks bestuur buiten de vergadering voor akkoord is
                          geparafeerd, waardoor het besluit als definitief parafenbesluit wordt beschouwd. In de eerstvolgende
                          dagelijks bestuurvergadering worden de besluiten ter kennis van het dagelijks bestuur gebracht.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>4.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-10-5-2">
                            <!---->
                          </a>Na het plaatsen van de laatst benodigde paraaf dateert de secretaris het parafenbesluit. Het parafenbesluit
                          wordt geacht te zijn genomen op de datum van de dagtekening door de secretaris.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>5.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-10-6-2">
                            <!---->
                          </a>De secretaris draagt zorg voor het periodiek opstellen van een besluitenlijst, zijnde een gedagtekend
                          en genummerd overzicht, met vermelding van de door het dagelijks bestuur in de betreffende periode genomen
                          parafenbesluiten.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>6.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-10-7-2">
                            <!---->
                          </a>Voor zover de aard en de inhoud van de besluiten zich daartegen niet verzetten, draagt de secretaris
                          zorg voor spoedige toezending van de besluitenlijst aan de leden van het algemeen bestuur .</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>7.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-10-8-2">
                            <!---->
                          </a>Het dagelijks bestuur kan besluiten de besluitenlijst, bedoeld in het vijfde lid, openbaar te maken op
                          de bij Avri gebruikelijke wijze.</p>
                      </div>
                    </li>
                  </ul>






                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-11">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-11-1">
                    <!---->
                  </a>
                  <p class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-11-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">11:</span> Mandaatverlening</p>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-11-2-2">
                            <!---->
                          </a>Indien tijdens de door het dagelijks bestuur vastgestelde vakantieperiode een dagelijks bestuursbesluit
                          wegens spoedeisendheid geen uitstel duldt, zijn één of meer dagelijks bestuursleden bevoegd terzake een
                          b esluit te nemen.</p>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-2-11-3-2">
                            <!---->
                          </a>In de eerstvolgende vergadering van het dagelijks bestuur wordt van de uitoefening van het mandaat mededeling
                          gedaan.</p>
                      </div>
                    </li>
                  </ul>

                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-12">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-12-1">
                    <!---->
                  </a>
                  <p class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-12-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">12:</span> Inwerkingtreding</p>
                  <p class="al _p_al">
                    <a name="id1-3-2-2-12-2">
                      <!---->
                    </a>Dit reglement treedt in werking op 1 januari 2016. </p>
                </div>
              </div>
              <div class="_p_regeling-sluiting">
                <a name="id1-3-2-3">
                  <!---->
                </a>
                <div style="font-style: italic; line-height: 130%;">
                  <p>
                    <span class="_p_organisatie"> Aldus vastgesteld in de vergadering van het dagelijks bestuur op 16 december 2015</span>
                  </p>
                  <p>
                    <span class="_p_functie">De beoogd secretaris,</span>
                  </p>
                  <p>
                    <span class="_p_ondertekening_naam">
                      <span class="_p_voornaam">E.J. </span>
                      <span class="_p_achternaam">de Vries</span>
                    </span>
                  </p>
                  <p>
                    <span class="_p_functie">de voorzitter,</span>
                  </p>
                  <p>
                    <span class="_p_ondertekening_naam">
                      <span class="_p_voornaam">L. </span>
                      <span class="_p_achternaam">Verspuij</span>
                    </span>
                  </p>
                  <p>
                    <span class="_p_deze">Dit reglement van orde is op ........……………….. aan het algemeen bestuur medegedeeld.</span>
                  </p>
                </div>
              </div>
              <div class="_p_bijlage">
                <a name="id1-3-2-4">
                  <!---->
                </a>
                <a name="id1-3-2-4-1">
                  <!---->
                </a>
                <p class="hoofdstuk_kop _p_hoofdstuk_kop">
                  <a name="id1-3-2-4-1-1">
                    <!---->
                  </a>
                  <span class="vet _p_nadrukvet">Toelichting op het reglement van orde voor de vergaderingen en andere werkzaamheden van het dagelijks bestuur</span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-2">
                    <!---->
                  </a>
                  <span class="vet _p_nadrukvet">Algemeen</span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-3">
                    <!---->
                  </a>Ingevolge de gemeenschappelijke regeling en artikel 52 Gemeentewet stelt het dagelijks bestuur een reglement
                  van orde voor zijn vergaderingen en andere werkzaamheden vast. Onder werkzaamheden wordt blijkens de memorie
                  van toelichting bij de Gemeentewet (1994) onder meer verstaan de bekendmaking van besluiten. Ook bijvoorbeeld
                  de onderlinge vervanging tussen de dagelijks bestuursleden en het doen van voorstellen aan het algemeen bestuur
                  behoort daartoe. Waar nodig wordt hier in de toelichting aandacht aan besteed. </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-4">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-5">
                    <!---->
                  </a>
                  <span class="vet _p_nadrukvet">
                    <span class="italic _p_nadrukcur">Artikel 1: Verdeling werkzaamheden en onderlinge vervanging</span>
                  </span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-6">
                    <!---->
                  </a>In het eerste lid van dit artikel wordt een onderwerp geregeld zoals dat aan de orde zal zijn in het zogenaamde
                  constituerend beraad, de eerste vergadering van het dagelijks bestuur direct na de vergadering van het algemeen
                  bestuur waarin de dagelijks bestuursleden zijn benoemd.</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-7">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-8">
                    <!---->
                  </a>Wellicht ten overvloede wordt er op gewezen dat het dagelijks bestuur als geheel de verantwoordelijkheid draagt
                  voor de uitgeoefende taken, dit ondanks de portefeuilleverdeling en het eventueel gebruikmaken van de mogelijkheid
                  die in artikel 168 Gemeentewet geboden wordt (mandaat aan individuele leden van het dagelijks bestuur).</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-9">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-10">
                    <!---->
                  </a>Naast de verdeling van de werkzaamheden kan de onderlinge vervanging worden geregeld. De vervanging zal onderling
                  geregeld moeten worden. Met het derde lid wordt voldaan aan het gestelde in artikel 77 Gemeentewet. Om wille
                  van de nodige flexibiliteit is gekozen voor een algemene formulering. </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-11">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-12">
                    <!---->
                  </a>
                  <span class="vet _p_nadrukvet">
                    <span class="italic _p_nadrukcur">Artikel 2: Dag en plaats van de vergaderingen</span>
                  </span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-13">
                    <!---->
                  </a>Met het eerste en derde lid wordt voldaan aan het gestelde in artikel 53, eerst lid Gemeentewet. Ook hier is
                  weer gekozen voor een algemeen flexibele formulering, waardoor de mogelijkheid bestaat in bijzondere gevallen
                  af te wijken. Uit het tweede deel van het eerste lid en het tweede lid volgt dat de voorzitter (zie artikel 34
                  Gemeentewet), maar ook een lid van het dagelijks bestuur ervoor kan zorgen dat een extra vergadering wordt gehouden.
                  De formulering van het bepaalde in het tweede lid houdt overigens niet in dat de voorzitter de bevoegdheid zou
                  toekomen een extra vergadering tegen te houden. De imperatieve formulering van het eerst lid staat daaraan in
                  de weg. Het tweede lid geeft verder de procedure voor een extra vergadering weer. </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-14">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-15">
                    <!---->
                  </a>
                  <span class="italic _p_nadrukcur">
                    <span class="vet _p_nadrukvet">Artikel 3: Verhindering </span>
                  </span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-16">
                    <!---->
                  </a>Dit artikel schrijft voor hoe er gehandeld dient te worden bij verhindering van een lid van het dagelijks bestuur
                  danwel de secretaris. Het dagelijks bestuur kent geen plaatsvervangende leden.
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-17">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-18">
                    <!---->
                  </a>
                  <span class="italic _p_nadrukcur">
                    <span class="vet _p_nadrukvet">Artikel 4: Openbare vergadering </span>
                  </span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-19">
                    <!---->
                  </a>Ingevolge artikel 54 Gemeentewet is hoofdregel dat de vergaderingen met gesloten deuren plaatsvinden. Het dagelijks
                  bestuur kan daar zelf van afwijken. Via artikel 9 wordt dit ook uitdrukkelijk aan het dagelijks bestuur overgelaten.
                  Indien een vergadering van het dagelijks bestuur openbaar is, bepaalt het tweede lid van artikel 53 Gemeentewet
                  dat de voorzitter dag, plaats en tijdstip daarvan bekend moet maken.
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-20">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-21">
                    <!---->
                  </a>
                  <span class="italic _p_nadrukcur">
                    <span class="vet _p_nadrukvet">Artikel 5: Agenda </span>
                  </span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-22">
                    <!---->
                  </a>De rol van de secretaris bij de dagelijks bestuurvergaderingen wordt in de artikelen 103 tot en met 105 van de
                  Gemeentewet aangegeven. Nadere uitwerking van de taken van de secretaris vindt enerzijds plaats in dit reglement,
                  anderzijds in de voorbeeld organisatiebesluiten waarin de instructie voor de gemeentesecretaris geïntegreerd
                  is opgenomen.
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-23">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-24">
                    <!---->
                  </a>In dit artikel wordt aangegeven dat de secretaris verantwoordelijk is voor het doen toekomen van de agenda aan
                  de dagelijks bestuurleden.</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-25">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-26">
                    <!---->
                  </a>Tevens is kort aangegeven hoe zaken van spoedeisend belang worden geagendeerd. De secretaris zal al naar gelang
                  de omstandigheden dienen af te wegen of ten aanzien van de spoedeisende onderwerpen van tevoren gecommuniceerd
                  wordt met de dagelijks bestuursleden of dat dit in de vergadering gebeurd. Ook wordt beschreven hoe niet-geagendeerde
                  zaken in behandeling worden genomen. </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-27">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-28">
                    <!---->
                  </a>
                  <span class="italic _p_nadrukcur">
                    <span class="vet _p_nadrukvet">Artikel 6:Ambtelijke ondersteuning</span>
                  </span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-29">
                    <!---->
                  </a> Deze tekst is afgeleid van de artikelen 103, lid 1, en 104 Gemeentewet, waarbij is bepaald dat de secretaris
                  het college, de burgemeester en de door hen ingestelde commissies terzijde staat bij de uitoefening van hun taak
                  en in de vergadering van het college aanwezig is
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-30">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-31">
                    <!---->
                  </a>
                  <span class="italic _p_nadrukcur">
                    <span class="vet _p_nadrukvet">Artikel 7: Deelname van derden aan vergadering</span>
                  </span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-32">
                    <!---->
                  </a> Artikel 57 en 55 eerste lid Gemeentewet geven indirect aan dat het mogelijk is dat naast de dagelijks bestuurleden
                  en de secretaris anderen bij de vergadering aanwezig kunnen zijn. Deze Gemeentewetartikelen geven aan dat de
                  onschendbaarheid en de eventueel opgelegde geheimhouding voor allen aanwezig bij de vergadering geldt.
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-33">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-34">
                    <!---->
                  </a>
                  <span class="italic _p_nadrukcur">
                    <span class="vet _p_nadrukvet">Artikel 8: Stemmingen</span>
                  </span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-35">
                    <!---->
                  </a> In de eerste plaats moet hier worden gewezen op artikel 56 Gemeentewet, dat een regeling bevat met betrekking
                  tot zowel het vergader- als het besluitquorum ten aanzien van de vergaderingen van het dagelijks bestuur. Hoewel
                  het ingevolge de Memorie van Toelichting bij dit artikel aan het dagelijks bestuur vrijstaat in het reglement
                  van orde een zwaarder quorumvereiste te stellen, is hiervoor niet gekozen; het in de wet terzake opgenomen stelsel
                  is daarmee onverkort van toepassing.
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-36">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-37">
                    <!---->
                  </a>Ten aanzien van het stemmen wordt opgemerkt, dat in de praktijk slechts zelden wordt gestemd. In de meeste gevallen
                  is er sprake van een conformbesluit. Het is mogelijk om hier aansluiting te zoeken bij de bepalingen over stemmingen
                  die in het reglement van orde voor het algemeen bestuur zijn opgenomen. Het is praktisch om regelingen zo veel
                  mogelijk op elkaar af te stemmen. Wel is de regeling voor het algemeen bestuur erg uitgebreid. Hier is gekozen
                  om alleen het meest noodzakelijke te regelen. Opvallend is dat in artikel 59 Gemeentewet artikel 31 niet van
                  overeenkomstige toepassing is verklaard. Dat artikel bepaalt dat de stemming over het doen van benoemingen, voordrachten
                  of aanbevelingen bij gesloten en ongetekende stembriefjes geschiedt. Verder is bepaald dat indien de stemmen
                  over personen tot wie de keuze door een voordracht of herstemming is beperkt, staken, er in dezelfde vergadering
                  een herstemming wordt gehouden. Staken de stemmen opnieuw, dan beslist het lot. Van de hierdoor geboden ruimte
                  is in het reglement gebruikgemaakt. De opgenomen regeling komt erop neer dat in principe slechts wordt gestemd
                  indien één van de leden dat wenst. In dat geval wordt mondeling gestemd (ook over personen), tenzij ten aanzien
                  van personen om een schriftelijke stemming wordt verzocht. Over zaken wordt dus óf niet óf mondeling gestemd.
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-38">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-39">
                    <!---->
                  </a>
                  <span class="italic _p_nadrukcur">
                    <span class="vet _p_nadrukvet">Artikel 9: Besluitenlijst</span>
                  </span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-40">
                    <!---->
                  </a> Dit artikel regelt de taak van de secretaris tot het bijhouden van een besluitenlijst en de wijze waarop de lijst
                  wordt vastgesteld. Als op grond van artikel 55 van de Gemeentewet door het dagelijks bestuur een geheimhoudingsplicht
                  is opgelegd, zal ten aanzien van de eventuele besluiten over dit onderwerp een afzonderlijke besluitenlijst moeten
                  worden gemaakt. Dit zal door de secretaris afzonderlijk moeten worden bewaard totdat de geheimhouding is opgeheven.
                  De openbaarmaking geschiedt op de voor de Avri gebruikelijke wijze.
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-41">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-42">
                    <!---->
                  </a>
                  <span class="vet _p_nadrukvet">
                    <span class="italic _p_nadrukcur">Artikel 10: Parafenbesluit</span>
                  </span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-43">
                    <!---->
                  </a>Dit artikel regelt het parafenbesluit. Het parafenbesluit is een conceptbesluit dat door de leden van het dagelijks
                  bestuur van parafen wordt voorzien waarna dit door het dagelijks bestuur als een definitief meerderheidsbesluit
                  en dus als een conformbesluit wordt beschouwd. Parafenbesluiten zijn toegestaan mits voldaan wordt aan voorwaarden
                  die zijn gesteld door de afdeling rechtspraak van de Raad van State (16 juli 2003 (LJN-nr AH9850, zaaknr. 200200757/1).
                  Doordat met een parafenbesluit in materiële zin besluitvorming buiten de dagelijks bestuursvergadering plaatsvindt,
                  dient dit bekend gemaakt te zijn, hetzij op grond van het reglement van orde hetzij op grond van een bekend gemaakte
                  vaste praktijk. Daarbij moet bepaald zijn dat het altijd mogelijk is om beraadslaging en besluitvorming in een
                  dagelijks bestuursvergadering te vragen en moet tevens duidelijk zijn wanneer het besluit is genomen.</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-44">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-45">
                    <!---->
                  </a>Met dit artikel wordt geregeld dat er pas sprake is van een besluit als alle dagelijks bestuurleden hebben aangegeven
                  dat zij geen behoefte hebben aan bespreking van het voorstel in de vergadering. Een uitzondering is mogelijk
                  in geval van spoed. Indien de meerderheid, inclusief het eerstverantwoordelijk lid, heeft geparafeerd, wordt
                  het besluit als een definitief parafenbesluit beschouwd.</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-46">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-47">
                    <!---->
                  </a>Teneinde onduidelijkheid te voorkomen over de vraag wanneer een besluit is genomen, is geregeld dat het parafenbesluit
                  wordt geacht te zijn genomen, op de datum van dagtekening door de secretaris.</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-48">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-49">
                    <!---->
                  </a>
                  <span class="vet _p_nadrukvet">
                    <span class="italic _p_nadrukcur">Artikel 11: Mandaatverlening</span>
                  </span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-50">
                    <!---->
                  </a>Tijdens de vastgestelde vakanties kunnen belangrijke, spoedeisende besluiten in mandaat worden genomen.</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-51">
                    <!---->
                  </a>&nbsp;</p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-52">
                    <!---->
                  </a>
                  <span class="vet _p_nadrukvet">
                    <span class="italic _p_nadrukcur">Artikel 12: Inwerkingtreding</span>
                  </span>
                </p>
                <p class="al _p_al">
                  <a name="id1-3-2-4-53">
                    <!---->
                  </a>Dit artikel behoeft geen nadere uitleg. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    {{#> @modal modalDelen }}

      <h2>Permanente link</h2>
      <p class="form__sublegend">Kopieer de link naar uw clipboard </p>
      <div class="row">
        {{render "@copydata" copydata merge=true }}
      </div>

    {{/@modal}}

  </div>
</div>

{{ render "@disclaimer" }}

{{ render "@footer" }}
