{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

{{ render "@document-banner" documentbanner merge=true }}
<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
      <a href="#" class="icon--backlink">Terug naar zoekresultaten (9430)</a>

      <h3 class="nav-sub__heading "><i>Publicatie</i></h3>
      {{ render "@treeview" treeview }}

      <h3 class="nav-sub__heading">Informatie</h3>
      {{render "@nav" navInformatie }}
    </div>
  </div>
  <div id="content" role="main" class="content">

    {{ render "@pageactions" pageactions }}

    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="agenda_kop">
          <a id="d16e41" name="d16e41"></a>Agenda opgesteld 2&nbsp;juni 2016
        </h1>
        <h1 class="agenda_kop">
          <a id="d16e43" name="d16e43"></a>Agenda Dinsdag 7&nbsp;juni 2016
        </h1>
        <div class="separator"></div>
        <div class="agenda-divisie">
          <h1 class="agenda-divisie_kop">
            <a id="d16e47" name="d16e47"></a>A. OPENBARE BEHANDELING OM 13.30 UUR
          </h1>
          <div class="agenda-sectie">
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet">1. Stemmingen</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-33694-J.html" title="link naar publicatie kst-33694-J">33&nbsp;694, J</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">Motie van het lid Faber-van de Klashorst (PVV) c.s. dat werknemers bij defensie en veiligheidsdiensten alleen de
                Nederlandse nationaliteit mogen bezitten
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-33694-K.html" title="link naar publicatie kst-33694-K">33&nbsp;694, K</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">Motie van het lid Kuiper (ChristenUnie) c.s. over het nakomen van financiële internationale bondgenootschappelijke
                verplichtingen in NAVO-verband
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet">2. Behandeling van de volgende wetsvoorstellen</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <span class="tussenkop_vet"> I hamerstukken</span>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/34279">34&nbsp;279</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">Wijziging van de Wet langdurige zorg, de Wet maatschappelijke ondersteuning 2015, de Jeugdwet en de Zorgverzekeringswet
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-33089-H.html" title="link naar publicatie kst-33089-H">33&nbsp;089, H</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">Brief van de voorzitters van de vaste commissies voor Immigratie en Asiel/ JBZ-Raad en voor Veiligheid en Justitie
                van 2&nbsp;juni 2016 aan de Voorzitter van de Eerste Kamer der Staten-Generaal inzake instemmingsverzoek betreffende
                Voorstel voor een verordening betreffende de bevoegdheid, het toepasselijke recht, de erkenning en de tenuitvoerlegging
                van beslissingen op het gebied van het huwelijksvermogensstelsels (Interinstitutioneel nummer 2011/0059 (CNS));
                en Voorstel voor een verordening betreffende de bevoegdheid, het toepasselijk recht, de erkenning en de tenuitvoerlegging
                van beslissingen op het gebied van vermogensrechtelijke gevolgen van geregistreerde partnerschappen (Interinstitutioneel
                nummer 2011/0060 (CNS))
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <span class="tussenkop_vet"> II hamerstuk onder voorbehoud</span>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/34224">34&nbsp;224</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">Wijziging van Boek 4 van het Burgerlijk Wetboek om erfgenamen beter te beschermen tegen schulden van de erflater
                (Wet bescherming erfgenamen tegen schulden)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <span class="tussenkop_vet"> III debat</span>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/34067">34&nbsp;067</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">Wijziging van het Wetboek van Strafvordering in verband met de eigen bijdrage van veroordeelden aan de kosten van
                de strafvordering en de slachtofferzorg
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <span class="tussenkop_vet"> IV debat </span>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/34251">34&nbsp;251</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">Wijziging van een aantal onderwijswetten in verband met versterking van de bestuurskracht van onderwijsinstellingen
              </p>
            </div>
          </div>
          <div class="separator"></div>
        </div>

      </div>

    </article>

    {{#> @modal modalDelen }}

      <h2>Permanente link</h2>
      <p class="form__sublegend">Kopieer de link naar uw clipboard </p>
      <div class="row">
        {{render "@copydata" copydata merge=true }}
      </div>

    {{/@modal}}

  </div>
</div>

{{ render "@disclaimer" }}

{{ render "@footer" }}
