{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

<div class="container container--centered">

  <div class="row row--spacer u-margin-top-40">
    {{ render "@link--terug-naar" linkBack merge=true }}
    <div class="columns columns--gutter-med">
      <div class="column">
        <div class="form__row form__row--large">
          {{ render "@heading--preheader" preheader merge=true }}
          <h1 class="h1 h1--slim">Abonnement aanmaken</h1>
          <p>
             Tekst?
          </p>
        </div>
        <form class="form" data-decorator="init-form-validation">
          <div class="form__row">
              {{render "@input-text" titleInput }}
          </div>
          <div class="form__row">
            <div class="form__label form__label--accent">Melding bij nieuwe resultaten</div>
            {{render "@input-radio" radioMelding }}
          </div>
          <div class="form__row">
            <div class="form__label form__label--accent">Frequentie</div>
            {{render "@input-radio" radioFrequentie }}
          </div>
          <div class="form__rowsubmit">
            <div class="form__rowsubmit__item">
              {{ render "@button" buttonSubmit }}
            </div>
          </div>
        </form>
      </div>
      <div class="column"></div>
    </div>

  </div>

</div>

{{ render "@footer" }}
