<div class="pagination">
  <div class="pagination__index">
    <ul>
      <li class="prev"><a {{#if id}}id="{{id}}"{{/if}} href="#"><span class="">&laquo;</span></a></li>
      <li><a {{#if id}}id="{{id}}"{{/if}} href="#">{{ previousPage }}</a></li>
      <li class="active">{{ currentPage }}</li>
      <li>...</li>
      <li><a {{#if id}}id="{{id}}"{{/if}} href="#">{{ lastPage }}</a></li>
      <li class="next"><a {{#if id}}id="{{id}}"{{/if}} href="#"><span class="">&raquo;</span></a></li>
    </ul>
  </div>
  {{#if pageFilter}}
  <div class="pagination__filter">
    <div class="form__element">
      <label for="select--1">{{ filterLabel }}</label>
      <select id="select--1">
        {{#each filterOptions}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  {{/if}}
</div>
