{{!-- <fieldset class="form__element radiogroup {{ modifier }}">
  <legend>
    {{ fieldLabel }}

    {{#if explanation}}
      {{ render "@question-explanation" }}
    {{/if}}
  </legend>
  {{#each options }}
    <input class="radio__input" type="radio" id="option-{{ id }}" name="{{ ../name }}" />
    <label class="radio__label" for="option-{{ id  }}">
      {{{ text }}}
    </label>
  {{/each}}
</fieldset> --}}
{{#if group}}
<div class="input-radio-group">
{{/if}}
{{#each options }}
  <div class="input-radio">
    <input class="radio__input" {{checked}} {{disabled}} type="radio" {{#if linkedto}}data-linkedto="{{linkedto}}"{{/if}} id="option-{{ id }}" name="{{ name }}" />
    <label class="radio__label" for="option-{{ id  }}">
      {{{ text }}}
    </label>
  </div>
{{/each}}
