<div class="article__header--law {{ modifier }}">
  <h3>{{ counter }}</h3>

  <p>Versie geldend per 01-04-2012</p>

  <ul>
    <li class="action--version"><a href="#">Versie informatie <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--compare"><a href="#">Versie vergelijk <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--relations"><a href="#">Relaties <span class="visually-hidden">{{ counter }}</span> (11) </a></li>
    <li class="action--permalink"><a href="#">Permanente link <span class="visually-hidden">{{ counter }}</span></a>(128)</li>
    <li class="action--print"><a href="#">Print <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--download"><a href="#">Bewaar <span class="visually-hidden">{{ counter }}</span></a></li>
  </ul>
</div>
