<div class="article__header--law {{ modifier }}">
  {{#if useTitle}}
    <{{titleTag}}>{{ counter }}</{{titleTag}}>
  {{ else }}
    <p class="intro--text"> {{ activeFrom }}</p>
  {{/if}}
  <ul>
    <li class="action--relations">{{ relationsAmount }}<a href="#"><div>Relaties</div> <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--permalink"><a href="#"><div>Permanente link</div><span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--version"><a href="#"><div>Versie informatie</div> <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--compare"><a href="#"><div>Versie vergelijk</div> <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--print"><a href="#"><div>Print</div> <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--download"><a href="#"><div>Bewaar</div> <span class="visually-hidden">{{ counter }}</span></a></li>
  </ul>
  {{#if useTitle }}
    <p>{{ activeFrom }}</p>
  {{/if}}
</div>
