{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container columns columns--sticky-sidebar row">
  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <h2>Acties</h2>
    {{ render "@browse" actieblok }}
    <h2>Inhoudsopgave</h2>
    {{ render "@treeview--foldable" }}
  </div>
  <div>
    <h1>Goedkeuringswet Verdrag tussen Nederland en Noorwegen inzake het gebruik van een [...] vonnissen opgelegde vrijheidsstraffen (Trb. 2015, 37)</h1>
    <p>Wet van 30 juni 2015 tot goedkeuring en uitvoering van het op 2 maart 2015 te Veenhuizen tot stand gekomen Verdrag tussen het Koninkrijk der Nederlanden en het Koninkrijk Noorwegen inzake het gebruik van een penitentiaire inrichting in Nederland voor de tenuitvoerlegging van bij Noorse vonnissen opgelegde vrijheidsstraffen (Trb. 2015, 37)</p>
    <p>Wij Willem-Alexander, bij de gratie Gods, Koning der Nederlanden, Prins van Oranje-Nassau, enz. enz. enz.</p>
    <p>Allen, die deze zullen zien of horen lezen, saluut! doen te weten:</p>
    <p>Alzo Wij in overweging genomen hebben, dat het op 2 maart 2015 te Veenhuizen tot stand gekomen Verdrag tussen het Koninkrijk der Nederlanden en het Koninkrijk Noorwegen inzake het gebruik van een penitentiaire inrichting in Nederland voor de tenuitvoerlegging van bij Noorse vonnissen opgelegde vrijheidsstraffen ingevolge artikel 91, eerste lid, van de Grondwet de goedkeuring van de Staten-Generaal behoeft, alvorens het Koninkrijk daaraan kan worden gebonden en voorts dat het noodzakelijk is enige wettelijke voorzieningen te treffen teneinde uitvoering te geven aan genoemd verdrag;</p>
    <p>Zo is het, dat Wij, de Afdeling advisering van de Raad van State gehoord, en met gemeen overleg der Staten-Generaal, hebben goedgevonden en verstaan, gelijk Wij goedvinden en verstaan bij deze:</p>
    <h2>Artikel 1</h2>
    <p>Het op 2 maart 2015 te Veenhuizen tot stand gekomen Verdrag tussen het Koninkrijk der Nederlanden en het Koninkrijk Noorwegen inzake het gebruik van een penitentiaire inrichting in Nederland voor de tenuitvoerlegging van bij Noorse vonnissen opgelegde vrijheidsstraffen, waarvan de Engelse tekst en de vertaling in het Nederlands zijn geplaatst in Tractatenblad 2015, 37, wordt goedgekeurd voor het Europese deel van Nederland.</p>
    <h2>Artikel 2</h2>
    <p>De Nederlandse wet is niet van toepassing op vrijheidsbeneming ondergaan ten gevolge van de tenuitvoerlegging van bij Noorse vonnissen opgelegde vrijheidsstraffen, overeenkomstig het in artikel 1 genoemde verdrag.</p>
    <h2>Artikel 3</h2>
    <ol>
      <li>Het begeleid vervoer over Nederlands grondgebied van de gedetineerden, bedoeld in het in artikel 1 genoemde verdrag, van en naar de penitentiaire inrichting Veenhuizen, locatie Norgerhaven, geschiedt in opdracht van de bevoegde Noorse autoriteiten door en onder de bewaking van door Onze Minister van Veiligheid en Justitie aangewezen Nederlandse ambtenaren.</li>
      <li>De ambtenaren, bedoeld in het eerste lid, zijn bevoegd alle dienstige maatregelen te nemen ter beveiliging van de gedetineerden en ter voorkoming van hun ontvluchting.</li>
    </ol>
    <h2>Artikel 4</h2>
    <p>Onder toepassing van artikel 12 van de Wet raadgevend referendum treedt deze wet in werking met ingang van de dag na de datum van uitgifte van het Staatsblad waarin zij wordt geplaatst.</p>
    <p>Lasten en bevelen dat deze in het Staatsblad zal worden geplaatst en dat alle ministeries, autoriteiten, colleges en ambtenaren die zulks aangaat, aan de nauwkeurige uitvoering de hand zullen houden.</p>
    <p>Gegeven te</p>
    <p>Wassenaar, 30 juni 2015</p>
  </div>
</div>

{{ render "@footer" }}
