  <div class="homepageblock {{ modifier }} {{ color }}" style="background-image: url({{ image }});">

    <div class="content--inner">

      <h2>{{{ heading }}}</h2>

      {{#if subtitle }}
        <p>{{ subtitle }}</p>
      {{/if }}

      {{#if items }}
        <ul>
          {{#each items }}
            <li>
              {{#if url }}
              <a href="{{ url }}">
              {{/if}}
              {{{ text }}}
              {{#if subItems }}
              {{#each subItems }}
              <ul>
                <li>
                  {{#if url }}
                  <a href="{{ url }}">
                  {{/if}}
                  {{{ text }}}
                  {{#if url }}
                  </a>
                  {{/if}}
              </ul>
              {{/each}}
              {{/if}}
              {{#if url }}
              </a>
              {{/if}}
            </li>
          {{/each }}
        </ul>
      {{/if }}

      {{#if contextLinkText }}
        <a href="{{ contextLink }}" class="context-Link">{{ contextLinkText }}</a>
      {{/if }}

      {{#if content }}
        {{ content }}
      {{/if}}

    </div>

  </div>
