{{#if heading }}
  <h4 class="facet--heading">{{ heading }}</h4>
{{/if }}

{{#if orderedList }}
  <ol class="{{ modifier }}">
{{else}}
  <ul class="{{ modifier }}">
{{/if }}
{{#if orderedList }}
  {{#each items }}
    {{#if subitems }}
    <li>{{{ text }}}
      <ol>
      {{#each subitems }}
        <li>{{{ text }}}</li>
      {{/each }}
      </ol>
    </li>
    {{else}}
      <li>{{{ text }}}</li>
    {{/if }}
  {{/each }}
{{else}}
  {{#each items }}
    {{#if subitems }}
    <li>{{{ text }}}
      <ol>
      {{#each subitems }}
        <li>{{{ text }}}</li>
      {{/each }}
      </ol>
    </li>
    {{else}}
      <li>{{{ text }}}</li>
    {{/if }}
  {{/each }}
{{/if}}
{{#if orderedList }}
  </ol>
{{else}}
  </ul>
{{/if }}
