<div {{#if maxItems }}data-decorator="showmoreless" data-config='{"amount": "{{maxItems}}" }'{{/if}}>
{{#if heading }}
  <{{#if headingType }}{{headingType}}{{else}}h4{{/if}} class="facet--heading">{{ heading }}</{{#if headingType }}{{headingType}}{{else}}h4{{/if}}>
{{/if }}

{{#if orderedList }}
  <ol class="{{ modifier }}">
{{else}}
  <ul class="{{ modifier }}">
{{/if }}
{{#if orderedList }}
  {{#each items }}
    {{#if subitems }}
    <li>{{{ text }}}
      <ol>
      {{#each subitems }}
        <li>{{{ text }}}</li>
      {{/each }}
      </ol>
    </li>
    {{else}}
      <li>{{{ text }}}</li>
    {{/if }}
  {{/each }}
{{else}}
  {{#each items }}
    {{#if subitems }}
    <li>{{{ text }}}
      <ol>
      {{#each subitems }}
        <li>{{{ text }}}</li>
      {{/each }}
      </ol>
    </li>
    {{else}}
      <li>{{{ text }}}</li>
    {{/if }}
  {{/each }}
{{/if}}
{{#if orderedList }}
  </ol>
{{else}}
  </ul>
{{/if }}
</div>
