<div class="form__element">
  <label for="select--{{ id }}">{{ fieldLabel }}</label>
  {{#if fieldInstruction }}
    <small>{{ fieldInstruction }}</small>
  {{/if }}
  <select id="select--{{ id }}">
    {{#each values}}
    <option value="{{inputValue}}">{{displayValue}}</option>
    {{/each}}
  </select>
</div>
