<div class="table-topbar">
  <ul class="table-topbar__list">
    {{#each items}}
      <li><a {{#if id}}id="{{id}}"{{/if}} href="{{href}}" class="{{class}}" {{{attributes}}}>{{text}}</a></li>
    {{/each}}
  </ul>
</div>
