<div class="table-topbar {{modifier}}">
  <ul class="table-topbar__list">
    {{#each items}}
      <li><a {{#if id}}id="{{id}}"{{/if}} href="{{href}}" class="{{class}}">{{text}}</a></li>
    {{/each}}
  </ul>
</div>
