<div class="logo {{ modifier }}">
  <a {{#if id}}id="{{id}}"{{/if}} href="{{href}}"><img src="../../images/{{ file }}" alt="{{ alt }}" /></a>
  {{#if youAreHere }}
    <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
    {{#each youAreHere }}
      <span>{{ text }}</span>
    {{/each}}
    </p>
  {{/if}}
</div>
