{{ render "@header" headerContext merge="true" }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row">
  <a href="#" class="link cta__backwards">Terug naar alle datasets</a>
</div>

<div class="container row container--centered">
	<p>Dataset</p>
	<h1>Leefbaarometer 2.0 = meting 2016</h1>

	<div class="container--labels">
		<span class="label label--ok">ok</span>
		<span class="label label--characteristic">high value</span>
		<span class="label label--characteristic">referentieset</span>
		<span class="label label--characteristic">basisregister</span>
		<span class="label label--area">standaard</span>
		<span class="label label--basis">grondslag bekend</span>
	</div>

	<div class="well well--pageblock">
		<h2>Data-eigenaar</h2>
		<p><a href="#">Ministerie van Binnenlandse Zaken en Koninkrijksrelaties</a> | Uit catalogus: <a href="#">Data.overheid.nl</a></p>

		<p><a href="#" class="link link--forward">Alle datasets van deze eigenaar</a></p>

		{{ render "@definitionlist" }}
	</div> 

	{{ render "@tabs" tabsContext merge="true" }}

	<div class="container--labels">
		<h3>Tags</h3>
		<span class="label">BZK</span>
		<span class="label">bewoners</span>
		<span class="label">buurten</span>
		<span class="label">leefbaarheid</span>
		<span class="label">leefbarometer</span>
		<span class="label">veiligheid</span>
		<span class="label">wijken</span>
	</div>

</div>

<div class="container row container--centered">

	{{ render "@tabs" tabsSourcesContext }}


	<div class="container row">
	  <div class="well well--pageblock">
	    <h2>Is dit niet de dataset die u zoekt?</h2>

	    {{ render "@list--linklist" }}

	  </div>

	</div>

</div>


{{ render "@footer" }}
