{{ render "@header" headerContext merge="true" }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container container--centered">

  <h1 class="centered--title">Dataregister van de Nederlandse Overheid</h1>

  <div class="well well--pagesearch">
    <h2>Zoek binnen de <a href="#">12483</a> beschikbare datasets</h2>

    {{ render "@pagesearch" }}
  </div>
</div>

<div class="container row">

  <h2>Thema's</h2>

    {{ render "@themeblock" }}
    {{ render "@themeblock--cultuur" }}
    {{ render "@themeblock--economie" }}
    {{ render "@themeblock--financien" }}
    {{ render "@themeblock--huisvesting" }}
    {{ render "@themeblock--internationaal" }}
    {{ render "@themeblock--landbouw" }}
    {{ render "@themeblock--migratie" }}
    {{ render "@themeblock--natuur" }}
    {{ render "@themeblock--onderwijs" }}
    {{ render "@themeblock--veiligheid" }}
    {{ render "@themeblock--recht" }}
    {{ render "@themeblock--infrastructuur" }}
    {{ render "@themeblock--socialezekerheid" }}
    {{ render "@themeblock--verkeer" }}
    {{ render "@themeblock--werk" }}
    {{ render "@themeblock--zorg" }}

</div>

<div class="container row">

  <h2>Uitgelicht</h2>

  <ul class="list--highlights">
    <li>
      <a href="#">
        <img src="/images/temp/uitgelicht01.png" alt="referentiedatasets" />
        <h3>Nieuwe pilot met referentiedatasets</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/temp/uitgelicht02.png" alt="gebruikersbijeenkomst" />
        <h3>Verslag gebruikersbijeenkomst 22 juni 2018</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/images/temp/uitgelicht03.png" alt="voorbeeld datasets" />
        <h3>Bekijk hier het portfolio van geselecteerde voorbeeld datasets</h3>
      </a>
    </li>

</div>

<div class="container row">
  <h2>Actueel</h2>

  <h2>Veel bezocht</h2>
</div>

<div class="container row">
  <div class="">
    <h2>Voor data gebruikers</h2>

  </div>

  <div class="">
    <h2>Voor data eigenaren</h2>
  </div>
</div>

{{ render "@footer" }}
