{{ render "@header" headerContext merge="true" }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row">
  <a href="#" class="link cta__backwards">Terug naar alle datasets</a>
</div>

<div class="container row container--centered">
	<p>Dataset</p>
	<h1>Leefbaarometer 2.0 = meting 2016</h1>

	{{ render "@characteristic" }}

	<div class="well well--pageblock">
		<h2>Data-eigenaar</h2>
		<p><a href="#">Ministerie van Binnenlandse Zaken en Koninkrijksrelaties</a> | Uit catalogus: <a href="#">Data.overheid.nl</a></p>

		<p><a href="#" class="link link--forward">Alle datasets van deze eigenaar</a></p>

		{{ render "@definitionlist" definitionlistContext merge="true" }}
	</div> 

	{{ render "@tabs" tabsContext merge="true" }}

	<div class="container--labels">
		<h3>Tags</h3>
		<span class="label">BZK</span>
		<span class="label">bewoners</span>
		<span class="label">buurten</span>
		<span class="label">leefbaarheid</span>
		<span class="label">leefbarometer</span>
		<span class="label">veiligheid</span>
		<span class="label">wijken</span>
	</div>

</div>

<div class="container row container--centered">

	<div class="tabs " data-decorator="init-tabs">
	    <ul class="tabs__list">
	        <li role="presentation">
	            <a href="#panel-5" data-handler="open-panel" role="tab" id="tab-5" aria-controls="panel-5">Databronnen</a>
	        </li>
	        <li role="presentation">
	            <a href="#panel-6" data-handler="open-panel" role="tab" id="tab-6" aria-controls="panel-6">Documentatie</a>
	        </li>
	    </ul>
	    <div class="tabs__panels">
	        <div id="panel-5" role="tabpanel" aria-labelledby="tab-5">
	            {{ render "@sources-list" }}
	        </div>
	        <div id="panel-6" role="tabpanel" aria-labelledby="tab-6">
	            <h2>Documentatie</h2>
	            <p>
	                <p>Volgt</p>

	        </div>
	        
	    </div>
	</div>

</div>

<div class="container row container--centered">
  <div class="well well--pageblock">
    <h2>Is dit niet de dataset die u zoekt?</h2>

    {{ render "@list--linklist" }}

  </div>

</div>



{{ render "@footer" }}
