{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row">
  <div class="row row--spacer">
    <div class="jumbotron jumbotron--highlight">

      <div class="jumbotron__content jumbotron__content--centered">
        <div class="align-center">
          <p class="jumbotron__subheader">Automatisch op de hoogte blijven van gebeurtenissen in uw buurt?</p>
          <h1 class="jumbotron__header">Meld je aan voor de mail service</h1>
        </div>
        <div class="row">
          <p class="jumbotron__intro align-center">
             Schrijf u in en ontvang dagelijks een update in uw inbox over alles wat er bij u in de buurt gebeurt.
          </p>
        </div>

  <div class="container container--small">
        <form class="form">
          <fieldset>
            <legend class="visually-hidden">Zoek berichten</legend>
            <div class="form__row ">

              <div class="form__row form__row--medium">
                <label class="form__label" for="">Uw e-mailadres
                  <span class="mandatory">Verplicht veld</span>
                </label>
                <input class="form__input" type="text" placeholder="" />
              </div>

              <div class="columns">
                <div class="form__row form__row--medium">
                  <label class="form__label" for="">Postcode
                    <span class="mandatory">Verplicht veld</span>
                  </label>
                  <input class="form__input" type="text" />
                </div>
                <div class="form__row form__row--medium">
                  <label class="form__label" for="">Huisnummer + toev.
                  </label>
                  <input class="form__input" type="text" />
                </div>
              </div>

              <div class="form__row align-right">
                <button type="submit" class="form__button button button--primary">Selecteer gebied</button>
              </div>
            </div>
          </fieldset>
        </form>
</div>
      </div>

    </div>
  </div>

  <div class="container container--small">
    <div class="row row--spacer">
        <h3>Uw adres</h3>
       <address>
         Zwartjanstraat 31<br>
         3322AB Rotterdam
       </address>

       <h2 class="h2 h2--slim">Geselecteerd gebied</h2>
       <div class="row row--small">
        <div class="map">

        </div>
        </div>
       <h3>Over dit gebied zijn er momenteel 245 berichten</h3>
       <fieldset>
        <div class="form__row form__row--large">
          {{render "@input-radio" gebiedContext }}
          </div>
        </fieldset>

         {{ render "@collapsible" filter1 merge=true }}

       <p>
         U kunt zich voor deze e-mail service altijd afmelden. Meer details hiervan kunt u terugvinden in <a href="#">onze privacystatement</a>
       </p>
      <button type="submit" class="form__button button button--primary">Meld mij aan voor de nieuwsbrief</button>

    </div>
  </div>

</div>


{{ render "@footer" }}
