{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row">
  <div class="columns columns--sidebar-left">
    <div class="column">




      <div class="map">
        <div class="map__map"></div>
        <div class="map__controls">
          <div class="row row--spacer">
            <div class="columns">
              <div class="column">
                {{render "@input-text" inputSearchContext }}
              </div>
              <div class="column align-right">
                {{render "@buttonswitch" buttonswitchContext }}
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row row--spacer hidden-mobile">
        <div class="columns">
          <div class="column column-d-8">
            {{render "@input-text" inputSearchContext }}
          </div>
          <div class="column column-d-4 align-right">
             {{render "@buttonswitch" buttonswitchContext }}
          </div>
        </div>
      </div>



      <h1 class="h1 h1--slim">Zoekresultaten <span class="h1__sub">1-10 van de 105</span></h1>

      <div class="hidden-desktop">
        <address>
          Gouwestraat 26<br>
          3522 CJ Utrecht<br>
          Afstand: 250 meter
        </address>
        <p>
          <a href="#" data-decorator="init-modal" data-handler="open-modal" data-modal="modal-1">Wijzigen</a>&nbsp;
          <a href="#" data-decorator="init-modal" data-handler="open-modal" data-modal="modal-2">Bewaar deze zoekopdracht</a>
        </p>

      </div>

      <div class="hidden-desktop align-right">
        <button class="button button--primary button--icon-filter" data-decorator="init-modalsidebar" data-handler="open-modalsidebar" data-modal="modal-filter">Filter opties</button>
      </div>

      {{render "@resultlist" resultsContext }}


      <div id="modal-4" class="modal modal--wide modal--off-screen" hidden role="alert">
        <div class="modal__inner">
          <div class="modal__content">
            {{!-- {{render "@resultlist" resultmodalContext }} --}}
            <div class="row row--large">
              <div id="demo7" style="width:100%;height:200px; overflow: hidden"></div>
            </div>
            <h2>Aangevraagde evenementenvergunningen 2018</h2>
            <p class="pre-h">4 september 2018 - Aangevraagde evenementenvergunningen 2018</p>
            <ul class="list list--inline list--narrow">

              <li class="list__item">
                <a href="#" class="button button--primary">Bekijk publicatie</a>
              </li>
              <li class="list__item">
                <a href="#" class="button button--secendary">Open interactieve kaart</a>
              </li>

            </ul>
          </div>
          <button type="button" data-handler="close-modal" class="modal__close">
            <span class="visually-hidden">Sluiten</span>
          </button>
        </div>
      </div>

      <script id="data" type="application/json">
      {
        "debug": false,
        "mount_element": "#demo7",
        "locations": [{
            "locatieserver_id": "adr-617a18a4146998f5ea4c6851ef87c579",
            "title": "Wilhelmina van Pruisenweg 52, 2595AN ’s-Gravenhage"
        }, {
            "type": "punt",
            "geometry": "POINT(83388.72001447542 454483.4858568841)",
            "geometry_type": "WKT",
            "title": "Punt 1"
        }],
        "options": {
            "mode": "geoview"
        }
      }
      </script>

      {{!-- <div class="pull-right"> --}}
        {{render "@pagination" }}
      {{!-- </div> --}}

      <div class="row row--spacer">
        <div class="jumbotron jumbotron--promo">

          <div class="jumbotron__content">

            <p class="jumbotron__subheader">Automatisch op de hoogte blijven van gebeurtenissen in uw buurt?</p>

            <h2 class="jumbotron__header">Meld je aan voor de mail service</h2>

            <form class="form">
              <fieldset>
                <legend class="visually-hidden">Meld je aan voor de emailservice</legend>
                <div class="form__row">
                  {{ render "@input-inputsubmit" }}
                </div>
              </fieldset>
            </form>

          </div>

        </div>
      </div>



    </div>
    <div class="column column--sidebar">

      <div id="modal-filter" class="modal-sidebar" role="alert" data-decorator="init-fixedbottom-button">

        <div class="modal-sidebar__content" >


          <div class="row--spacer">
            <h2>Zoekfilter</h2>
            <address>
              Gouwestraat 26<br>
              3522 CJ Utrecht<br>
              Afstand: 250 meter
            </address>
            <ul class="list list--inline">
              <li><a href="#" data-decorator="init-modal" data-handler="open-modal" data-modal="modal-1">Wijzigen</a></li>
              <li><a href="#" data-decorator="init-modal" data-handler="open-modal" data-modal="modal-2">Bewaar deze zoekopdracht</a></li>
            </ul>

            <div id="modal-1" class="modal modal--wide modal--off-screen" hidden role="alert">
              <div class="modal__inner">
                <div class="modal__content">
                  <div class="align-center">
                    <p class="jumbotron__subheader">Wijzig uw zoekopdracht</p>
                    <h1 class="jumbotron__header">Welke buurt zoekt u?</h1>
                  </div>
                  <form class="form">
                    <fieldset>
                      <legend class="visually-hidden">Zoek berichten</legend>
                      <div class="form__row ">
                        <div class="columns">
                          <div class="form__row form__row--medium">
                            <label class="form__label" for="">Postcode
                              <span class="mandatory">Verplicht veld</span>
                            </label>
                            <input class="form__input" type="text" value="3522 CJ" placeholder="Bijv. 1337AA" />
                          </div>
                          <div class="form__row form__row--medium">
                            <label class="form__label" for="">Huisnummer + toev.
                            </label>
                            <input class="form__input" value="26" type="text" />
                          </div>
                          <div class="form__row form__row--medium">
                            <label class="form__label" for="">Straal
                              <span class="mandatory">Verplicht veld</span>
                            </label>
                            <div class="select-custom">
                              <select>
                                <option>250m</option>
                                <option>1km</option>
                                <option>2km</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form__row align-right">
                        <button type="submit" class="form__button button button--primary">Zoek opnieuw</button>
                      </div>
                    </fieldset>
                  </form>
                </div>

                <button type="button" data-handler="close-modal" class="modal__close">
                  <span class="visually-hidden">Sluiten</span>
                </button>
              </div>
            </div>

            <div id="modal-2" class="modal modal--wide modal--off-screen" hidden role="alert">
              <div class="modal__inner">
                <div class="modal__content">
                  <div class="align-center">
                    <p class="jumbotron__subheader">Deze zoekopdracht bewaren</p>
                    <h1 class="jumbotron__header">Meld je aan voor de mail</h1>
                    <p class="jumbotron__intro">Schrijf u in en ontvang dagelijks een update in uw inbox over alles wat er bij u in de buurt gebeurt.</p>
                  </div>
                  <form class="form">
                    <fieldset>
                      <legend class="visually-hidden">Meld je aan voor de emailservice</legend>
                      <div class="form__row">
                        {{ render "@input-inputsubmit" inputsubmitSearchSaveContext }}
                      </div>
                    </fieldset>
                  </form>
                </div>
                <button type="button" data-handler="close-modal" class="modal__close">
                  <span class="visually-hidden">Sluiten</span>
                </button>
              </div>
            </div>

          </div>

          <div class="form__row form__row--large">
            <h3>Geselecteerde filters (2)</h3>
            {{render "@form-selectedfilter" selectedfilterContext }}
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Gebied {{render "@tooltip"}}
              </legend>
              {{render "@input-radio" gebiedContext }}
            </fieldset>
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Publicatiedatum
              {{render "@tooltip"}}
              </legend>
              {{render "@input-radio" publicatiedatumContext }}
            </fieldset>
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Onderwerpen {{render "@tooltip"}}</legend>
              {{render "@input-checkbox" onderwerpContext }}
            </fieldset>
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Voorlichting {{render "@tooltip"}}</legend>
              {{render "@input-checkbox" voorlichtingContext }}
            </fieldset>
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Bestemming {{render "@tooltip"}}</legend>
              {{render "@input-checkbox" bestemmingContext }}
            </fieldset>
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Voorschriften {{render "@tooltip"}}</legend>
              {{render "@input-checkbox" voorschriftenContext }}
            </fieldset>
          </div>

          <a href="#" class="js-fixedbottom-button__button modal-sidebar__submit button button--primary" hidden data-decorator="init-sticky" data-config='{"position":"bottom"}'>Opnieuw zoeken</a>

        </div>




        <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close">
          <span class="visually-hidden">Sluiten</span>
        </button>

      </div>

    </div>
  </div>
</div>

{{ render "@footer" }}
