{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>


<div class="container columns columns--sticky-sidebar row" role="main" id="content">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

      <p>
        <a href="#" class="icon icon--arrow-cta-right">Terug naar zoekresultaten</a>
      </p>

      <h3 class="u-fontw--default"><i>Verdrag</i></h3>
      <div>
        {{render "@nav" navVerdragContext }}
      </div>
      <h3 class="u-fontw--default"><i>Depositair</i></h3>
      <div>
        {{render "@nav"  navDepositairContext }}
      </div>
      <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close"><span class="visually-hidden">Sluiten</span></button>
    </div>
  </div>

  <div id="content" role="main" class="content content--publication">

    <div class="align-right">
      {{ render "@pageactions"}}
    </div>

    <h1>Wijziging van bijlagen V en VII bij het Protocol van 1998 inzake persistente organische verontreinigende stoffen</h1>

  </div>

</div>

{{ render "@footer" }}
