{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row">
  <div class="columns columns--sidebar-left">
    <div class="column">

      {{ render "@sort" sortContext }}
      <div class="align-right">
        <a href="#" class="icon icon--download">Download {{render "@tooltip" }}</a>
      </div>


      <h1 class="h1 h1--result--list">Zoekresultaten <span class="h1__sub">1-10 van de 105 verdagen</span></h1>

      <div class=" hidden-desktop align-right">
        <button class="button block-element button--primary button--icon-filter" data-decorator="init-modalsidebar" data-handler="open-modalsidebar"
          data-modal="modal-filter">Filter opties</button>
      </div>
      <div class="row hidden-desktop">
        {{ render "@sort" sortContext }}
        <div class="align-right">
          <a href="#" class="icon icon--download">Download</a>
        </div>
      </div>

      {{render "@resultlist" resultsContext }}

      <div id="modal-4" class="modal modal--wide modal--off-screen" hidden role="alert">
        <div class="modal__inner">
          <div class="modal__content">
            <p><img src="https://via.placeholder.com/720x280.png?text=Kaart+met+marker"></p>
            <h2>Aangevraagde evenementenvergunningen 2018</h2>
            <p class="pre-h">4 september 2018 - Aangevraagde evenementenvergunningen 2018</p>
            <ul class="list list--inline list--narrow">

              <li class="list__item">
                <a href="#" class="button button--primary">Bekijk publicatie</a>
              </li>
              <li class="list__item">
                <a href="#" class="button button--secendary">Open interactieve kaart</a>
              </li>

            </ul>
          </div>
          <button type="button" data-handler="close-modal" class="modal__close">
            <span class="visually-hidden">Sluiten</span>
          </button>
        </div>
      </div>

      {{!-- <div class="pull-right"> --}}
        {{render "@pagination" }}
      {{!-- </div> --}}

    </div>
    <div class="column column--sidebar">

      <div id="modal-filter" class="modal-sidebar" role="alert" data-decorator="init-fixedbottom-button">

          <div class="modal-sidebar__content">


            <div class="form__row">
              <h2 class="u-nomargin">Zoekfilter</h2>
              <p><a href="#">Alle filters herstellen</a></p>
            </div>

            <div class="form__row form__row--large">
              <h3 class="h4">Geselecteerde filters (2)</h3>
              {{render "@form-selectedfilter" selectedfilterContext }}

            </div>
            <form id="formid">
            {{!-- <div class="form__row form__row--large hidden-desktop">
              <label for="">Filter op trefwoord</label>
              {{ render "@input-text" inputsearchMobContext }}
            </div> --}}
            <div class="form__row form__row--large">
              <fieldset>
                <legend>Zoekwoord(en)</legend>
                {{render "@input-inputsubmit" inputsubmitContext }}
              </fieldset>
            </div>
            <div class="form__row form__row--large">
              <fieldset>
                <legend>Totstandkoming</legend>
                <div class="form__row form__row--medium">
                  <label>Startdatum</label>
                  {{render "@datepicker" }}
                  <a href="#" class="reset"><small>Herstel</small></a>
                </div>
                <div class="form__row form__row--medium">
                  <label>Einddatum</label>
                  {{render "@datepicker" }}
                  <a href="#" class="reset"><small>Herstel</small></a>
                </div>
                <div class="form__row">
                  <label>Plaats</label>
                  {{render "@input-text" }}
                </div>
                <div class="form__row">
                  <div class="columns">
                    <div class="column">
                      <label>Huisnummer</label>
                      {{render "@input-text" }}
                    </div>
                    <div class="column">
                      <label>Toevoeging</label>
                      {{render "@input-text" }}
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="form__row form__row--large">
              <fieldset>
                <legend>Datum beschikbaar</legend>
                {{render "@input-radio" laatstContext }}
              </fieldset>
            </div>
            <div class="form__row form__row--large">
              <fieldset>
                <legend>Onderwerp</legend>
                {{render "@subselection" subselectionOnderwerpContext }}
              </fieldset>
            </div>
            <div class="form__row form__row--large">
              <fieldset>
                <legend>Partij</legend>
                {{render "@subselection" subselectionContext }}
              </fieldset>
            </div>

            <div class="form__row form__row--large">
              <fieldset>
                <legend>Tractatenblad/Staatsblad</legend>
                <div class="form__row">
                  <label>Jaar</label>
                  <input type="number" class="input-text" />
                  <a href="#" class="reset"><small>Herstel</small></a>
                </div>
                <div class="form__row">
                  <label>Nummer</label>
                  <input type="number" class="input-text" />
                  <a href="#" class="reset"><small>Herstel</small></a>
                </div>
              </fieldset>
            </div>
            <div class="form__row form__row--large">
              <fieldset>
                <legend>Type verdrag</legend>
                {{render "@input-checkbox" typeverdagContext }}
              </fieldset>
            </div>
            <div class="form__row form__row--large">
              <fieldset>
                <legend>Nederland depositaris</legend>
                {{render "@input-checkbox" depositarisContext }}
              </fieldset>
            </div>
            <div class="form__row form__row--large">
              <fieldset>
                <legend>Nu geldend voor Nederland</legend>
                {{render "@input-checkbox" geldendContext }}
              </fieldset>
            </div>
            <button type="submit" class="js-fixedbottom-button__button modal-sidebar__submit button button--primary" data-decorator="init-sticky"
              data-config='{"position":"bottom"}'>Opnieuw zoeken</button>
            </form>


          </div>
          {{!-- <a href="#" class="modal-sidebar__submit button button--primary">Opnieuw zoeken</a> --}}

          <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close">
            <span class="visually-hidden">Sluiten</span>
          </button>



      </div>

    </div>
  </div>
</div>

{{ render "@footer" }}
