{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>


<div class="container columns columns--sticky-sidebar row" role="main" id="content">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
      <p>
        <a href="#" class="icon icon--arrow-cta-right">Terug naar zoekresultaten</a>
      </p>

      <h3 class="u-fontw--default"><i>Verdrag</i></h3>
      <div>
        {{render "@nav" navVerdragContext }}
      </div>
      <h3 class="u-fontw--default"><i>Depositair</i></h3>
      <div>
        {{render "@nav"  navDepositairContext }}
      </div>
      <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close"><span class="visually-hidden">Sluiten</span></button>
    </div>
  </div>

  <div id="content" role="main" class="content content--publication">

    <div class="align-right">
      {{ render "@pageactions"}}
    </div>

    <h1>Wijziging van bijlagen V en VII bij het Protocol van 1998 inzake persistente organische verontreinigende stoffen</h1>

    <h2>Partijen</h2>
    <div class="table__container">
      <table class="table__data-overview table--striped">
        <thead>
          <tr>
            <th class="u-columnwidth-20p">Partij {{render "@tooltip" }}</th>
            <th>Ondertekening</th>
            <th>Voorlopige toepassing</th>
            <th>Ratificatie</th>
            <th>In werking</th>
            <th>Opzegging</th>
            <th>Buiten werking</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <a href="#">Albanië</a>
            </th>
            <td></td>
            <td></td>
            <td>04-05-2007 (T)</td>
            <td>01-08-2008</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>
              <a href="#">Andorra</a>
            </th>
            <td></td>
            <td></td>
            <td>04-05-2007 (T)</td>
            <td>01-08-2008</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>


    <h2>Partij</h2>
    <div class="table__container">
      <table class="table__data-overview table--striped">
        <thead>
          <tr>
            <th class="u-columnwidth-20p">Partij</th>
            <th>Voorbehoud/verklaring</th>
            <th>Bezwaren</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <a href="#">Belarus</a>
            </th>
            <td>Ja</td>
            <td>Nee</td>
          </tr>
          <tr>
            <th>
              <a href="#">Estland</a>
            </th>
            <td>Ja</td>
            <td>Nee</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>
      <strong>Toon details in de tabel</strong>
    </p>

    <div class="row">
      {{render "@buttonswitch" detailsContent}}
    </div>


    <h2>Belarus</h2>
    <p class="p pre-h cur">15-01-2016</p>
    <p>
      The Republic of Belarus on the basis of Article XV of the Agreement shall not apply Annex 3 to the Agreement with respect
      to:
    </p>
    <ul>
      <li>
        the prohibition referred to in paragraph 2.1.2(a) of Annex 3 to the Agreement on the taking of birds belonging to the populations
        listed in column B of table 1 of Annex 3 to the Agreement at various stages of reproduction and rearing and during their
        return to their breeding grounds if the taking has an unfavourable impact on the conservation status of the population
        concerned;
      </li>
      <li>
        the prohibition referred to in paragraph 2.1.2(b) of Annex 3 to the Agreement on the use of all indiscriminate means of taking
        out and means capable of causing mass destruction, the local disappearance, as well as causing serious anxiety to the
        birds belonging to the populations listed in column B of table 1 of Annex 3 to the Agreement;
      </li>
      <li>
        paragraph 4.1.4 of Annex 3 to the Agreement.
      </li>
    </ul>

    <div class="content-note">
      <h2 class="content-note__heading">België, 15-01-2016</h2>
      <p>In 2004 Belgium raised an objection to the accession of Albania in accordance with article 12, paragraph 2, of the Convention.
        Belgium has decided to withdraw this objection.</p>
    </div>


    <h2>Algemeen</h2>
    <div class="table__container">
    <table class="table__data-overview table--striped">
      <tbody>
        <tr>
          <th class="u-columnwidth-30p">Verdragsnummer</th>
          <td>012477</td>
        </tr>
        <tr>
          <th>Datum totstandkoming</th>
          <td>18-12-2009</td>
        </tr>
        <tr>
          <th>Plaats totstandkoming</th>
          <td>Genève</td>
        </tr>
        <tr>
          <th>Voorlopige toestand</th>
          <td></td>
        </tr>
        <tr>
          <th>In werking</th>
          <td>13-12-2010</td>
        </tr>
        <tr>
          <th>Tractatenblad</th>
          <td class="u-nopadding">
            <div data-decorator="showmoreless" data-config='{"labelmore":"Toon alle tractaten"}'>
              <ul class="list list--underlined">
                <li>
                  <a href="http://localhost:3000">2010, 258</a>
                </li>
                <li>
                  <a href="http://www.overheid.nl">2011, 142</a>
                </li>
                <li>
                  <a href="https://zoek.officielebekendmakingen.nl/trb-1980-145.html">2011, 142</a>
                </li>
                <li>
                  <a href="http://localhost:3000">2010, 258</a>
                </li>
                <li>
                  <a href="http://www.overheid.nl">2011, 142</a>
                </li>
                <li>
                  <a href="https://zoek.officielebekendmakingen.nl/trb-1980-145.html">2011, 142</a>
                </li>
              </ul>
            </div>




          </td>
        </tr>
      </tbody>
    </table>
    </div>

    <h2>Konkrijk der Nederlanden</h2>

    <div class="table__container">
      <table id="koninkrijktabel" class="table__data-overview table--striped">
        <thead>
          <tr>
            <th></th>
            <th>Voorlopige
              <br>toepassing
            </th>
            <th>In werking</th>
            <th>Terugwerkende kracht</th>
            <th class="u-columnwidth-20p">Buiten werking</th>
          </tr>
        </thead>
        <tbody>

          <tr>

            <th>Nederland (in Europa)</th>

            <td class="u-nobreak">17-07-1992</td>

            <td class="u-nobreak">09-11-1992</td>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

          </tr>

          <tr>

            <th>Nederland (Bonaire)</th>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

          </tr>

          <tr>

            <th>Nederland (Sint Eustatius)</th>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

          </tr>

          <tr>

            <th>Nederland (Saba)</th>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

          </tr>

          <tr>

            <th>Aruba</th>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

          </tr>

          <tr>

            <th>Curaçao</th>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

          </tr>

          <tr>

            <th>Sint Maarten</th>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

            <td class="u-nobreak"></td>

          </tr>

        </tbody>
      </table>
    </div>

    <h2>Kinderverdrag(en)</h2>

    <div class="table__container">
      <table class="table__data-overview">
        <thead>
          <tr>
            <th>Titel</th>
            <th>Datum totstandkoming</th>
            <th>Plaats totstandkoming</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <a href="#">Verdrag tot vaststelling van de minimumleeftijd van toelating van kinderen tot arbeid op zee (herzien)</a>
            </th>
            <td>24-10-1936</td>
            <td>Genève</td>
          </tr>
          <tr>
            <th>
              <a href="#">Maritiem arbeidsverdrag, 2006</a>
            </th>
            <td>23-02-2006</td>
            <td>Genève</td>
          </tr>

        </tbody>
      </table>
    </div>

    <h2>Gewaarmerkt afschrift</h2>

    {{ render "@sources-list" }} {{render "@to-top"}}


  </div>

</div>

{{ render "@footer" }}
