{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row">
  <div class="row">
    <div class="jumbotron jumbotron--highlight">

      <div class="jumbotron__content jumbotron__content--centered">
        <div class="jumbotron__heading jumbotron__heading--centered">
          <p class="jumbotron__subheader">Verdragenbank</p>
          <h1 class="jumbotron__header">Doorzoek de 3621 verdragen waarbij het Konkrijk der Nederlanden partij is</h1>
          <p class="jumbotron__intro">intro</p>
        </div>

        <form class="form form__row form__row--medium">
          <fieldset>
            <legend class="visually-hidden">Doorzoek de verdragenbank</legend>
            <div class="form__row">
               {{render "@input-text" inputSearchContext }}
            </div>
          </fieldset>
        </form>
        <div class="">
          <div class="columns">
            <div class="u-order--d2 align-right form__row">
              <button type="submit" class="form__button button button--primary button--large">Zoek berichten</button>
            </div>
            <div class="u-order--d1 u-nomargin">
              <a href="#" class="cta">Uitgebreid zoeken</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="row row--medium">


    <h2>Over de verdragenbank</h2>
    <div class="column-count column-count--half">
      <p>
        De Verdragenbank bevat de gegevens van de verdragen, waarbij het Koninkrijk der Nederlanden partij is. Verdragsgegevens
        zijn onder andere de datum en de plaats van de totstandkoming, de datum van inwerkingtreding, de vindplaats van de verdragstekst,
        de partijen (landen, gebiedsdelen en internationale organisaties) en de
      </p>
      <p>
        datum van bekrachtiging, de gelding voor Europees Nederland, Aruba, Curaçao, Sint Maarten en/of het Caribische deel van
        Nederland (Bonaire, Sint Eustatius, Saba), eventuele voorbehouden, verklaringen en bezwaren en de verbanden tussen verdragen.
      </p>
    </div>
  </div>
  <div class="row row--large">
    <div class="columns">
        <div class="jumbotron jumbotron--highlight jumbotron--flexed">
          <div class="jumbotron__content">
              <p class="jumbotron__subheader jumbotron__subheader--subtle">Nieuw toegevoegd</p>
              <h2 class="jumbotron__header">Recente verdragen</h2>
            <a href="#" class="cta">Bekijken</a>
          </div>
        </div>
        <div class="jumbotron jumbotron--highlight jumbotron--flexed">
          <div class="jumbotron__content">
            <p class="jumbotron__subheader jumbotron__subheader--subtle">Depositaire verdragen</p>
            <h2 class="jumbotron__header">Recente notificaties</h2>
            <a href="#" class="cta">Bekijken</a>
          </div>
        </div>
        <div class="jumbotron jumbotron--highlight jumbotron--flexed">
          <div class="jumbotron__content">
            <p class="jumbotron__subheader jumbotron__subheader--subtle">Verdragen Internationaal Privaatrecht</p>
            <h2 class="jumbotron__header">Haagse Conferentie</h2>
            <a href="#" class="cta">Bekijken</a>
          </div>
        </div>
    </div>
  </div>

  <div class="row row--large">
    <div class="columns">
      <div class="column u-order--d2 column--padded-med ">
        <div class="column__content">

          <div class="block-content">
            <h2 class="block-content__heading">Depositaire verdragen</h2>
            <p>
              Het Koninkrijk der Nederlanden is depositaris van ongeveer 100 verdragen. De taak van een depositaris is het bijhouden van
              de administratie van een verdrag. De tekst van een verdrag bepaalt welke staat of internationale organisatie de depositaris
              is. De administratie betreft gegevens over het in werking treden en buiten werking treden van verdragen, de partijen bij
              het verdrag, de gemaakte voorbehouden en de afgelegde verklaringen.lt welke staat of internationale organisatie de depositaris
              is. De administratie betreft gegevens over het in werking treden en buiten werking treden van verdragen, de partijen bij
              het verdrag, de gemaakte voorbehouden en de afgelegde verklaringen.lt welke staat of internationale organisatie de depositaris
              is. De administratie betreft gegevens over het in werking treden en buiten werking treden van verdragen, de partijen bij
              het verdrag, de gemaakte voorbehouden en de afgelegde verklaringen.lt welke staat of internationale organisatie de depositaris
              is. De administratie betreft gegevens over het in werking treden en buiten werking treden van verdragen, de partijen bij
              het verdrag, de gemaakte voorbehouden en de afgelegde verklaringen.lt welke staat of internationale organisatie de depositaris
              is. De administratie betreft gegevens over het in werking treden en buiten werking treden van verdragen, de partijen bij
              het verdrag, de gemaakte voorbehouden en de afgelegde verklaringen.lt welke staat of internationale organisatie de depositaris
              is. De administratie betreft gegevens over het in werking treden en buiten werking treden van verdragen, de partijen bij
              het verdrag, de gemaakte voorbehouden en de afgelegde verklaringen.lt welke staat of internationale organisatie de depositaris
              is. De administratie betreft gegevens over het in werking treden en buiten werking treden van verdragen, de partijen bij
              het verdrag, de gemaakte voorbehouden en de afgelegde verklaringen.
            </p>
            <p>
              <a href="#" class="button button--primary button--arrowed">Bekijk alle depositaire verdragen</a>
            </p>
          </div>
        </div>


      </div>
      <div class="column u-order--d1">
         {{render "@picture" }}
      </div>
    </div>
  </div>


  <div class="row row--large">
    <div class="jumbotron jumbotron--promo jumbotron--green">

      <div class="jumbotron__content">
        <div class="columns columns--dominant columns--center">
          <div class="column">
        <p class="jumbotron__subheader"><small>Meld je aan voor de mail service</small></p>

        <h3 class="jumbotron__header u-nomargin">En blijf automatisch op de hoogte van al het nieuws over depositaire verdragen</h3>

        </div>
        <div class="column">
        <form class="form">
          <fieldset>
            <legend class="visually-hidden">Meld je aan voor de emailservice</legend>

              <div class="form__row">
                {{ render "@input-inputsubmit" }}
              </div>
              {{ render "@collapsible" newslCollap }}
              {{ render "@input-checkbox" newsletterCheckbox }}

          </fieldset>
        </form>

        </div>
        </div>

      </div>

    </div>
  </div>

  <div class="row row--large">
    <div class="columns columns--dominant columns--center">
      <div class="column column-d-3">
        <h2 class="h1">Bekijk ook</h2>
      </div>
      <div class="column column-d-9 align-right">
        {{render "@button--doubleline" doubleline1Context }}
        {{render "@button--doubleline" doubleline2Context }}
      </div>
    </div>
  </div>

</div>

{{ render "@footer" }}
