{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row" role="main" id="content">
  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}

        <form class="form">
          <div class="form__row form__row--large">
            <fieldset>
              <legend class="visually-hidden">Doorzoek de verdragenbank</legend>
              <div class="form__row">
                {{ render "@input-text--medium" inputZoekwoord merge=true }}
              </div>
            </fieldset>
          </div>
          <div class="columns columns--dominant">
            <div class="column">
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Totstandkoming</legend>
                  <div class="form__row">
                    <p class="form__sublegend">Datum</p>
                    <div class="columns">
                      <div class="column">
                        {{render "@datepicker" startDatepicker }}
                      </div>
                      <div class="column">
                        {{render "@datepicker" endDatepicker }}
                      </div>
                    </div>
                    <a href="#" class="reset"><small>Herstellen</small></a>
                  </div>
                  <div class="form__row">
                    {{render "@input-text" inputPlaats }}
                  </div>
                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Nu geldend voor</legend>
                  {{render "@input-checkbox" geldvoorContext }}
                </fieldset>
              </div>
            </div>
            <div class="column">
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Tractatenblad of staatsblad</legend>
                  <div class="form__row">
                    {{render "@input-text" inputJaargang }}
                  </div>
                  <div class="form__row">
                    {{render "@input-text" inputNummer }}
                  </div>
                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Type verdrag</legend>
                  {{render "@input-checkbox" typeverdagContext }}
                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Nederland depositair</legend>
                  {{render "@input-checkbox" depositarisContext }}
                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Partijen</legend>
                  {{render "@subselection" subselectionContext }}
                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Onderwerpen</legend>
                  {{render "@subselection" subselectionOnderwerpContext }}
                </fieldset>
              </div>
            </div>
          </div>

          <div class="form__row form__row--submit">
            <div class="columns columns--vcenter">
              <div class="column">
                <a href="#" class="icon icon--refresh">Herstel alle filters</a>
              </div>
              <div class="column align-right">
                <button type="submit" class="button button--primary">Zoek verdragen</button>
              </div>
            </div>
          </div>

        </form>

    {{/@jumbotron}}


  </div>



  <div class="row row--spacer">
    <div class="jumbotron jumbotron--promo jumbotron--green">

      <div class="jumbotron__content">
        <div class="columns columns--center">
          <div class="column">
        <p class="jumbotron__subheader">Meld je aan voor de mail service</p>

        <h2 class="jumbotron__header h2">En blijf automatisch op de hoogte van al het nieuws over depositaire verdragen</h2>

        </div>
        <div class="column">
        <form class="form">
          <fieldset>
            <legend class="visually-hidden">Meld je aan voor de emailservice</legend>
            <div class="form__row">
              {{ render "@input-inputsubmit" }}
            </div>
            {{ render "@collapsible" newslCollap }}
            {{ render "@input-checkbox" newsletterCheckbox }}
          </fieldset>
        </form>

        </div>
        </div>

      </div>

    </div>
  </div>

</div>

{{ render "@footer" }}
