{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container columns columns--sidebar">
  <div class="columns--sidebar__sidebar" role="complementary" data-decorator="add-mobile-foldability" id="toggleable-1">
    <div data-decorator="init-fixedbottom-button">

      <h2 class="sidebar__header">Zoekfilter</h2>
      <div class="row">
        <p>
          <a href="#" class="icon icon--refresh">Herstel alle filters</a>
        </p>
      </div>

      <div class="form__row form__row--large">
        <h3 class="sidebar__subheader">Geselecteerde filters (7)</h3>
        <div data-decorator="showmoreless" data-config='{"amount": 2}'>
          <ul class="list list--unstyled">
            <li>
              <div class="form__selectedfilter">Waarde 1
                <a href="{{url}}" class="form__selectedfilter__remove">
                  <span class="visually-hidden">verwijder</span>
                </a>
              </div>
            </li>
            <li>
              <div class="form__selectedfilter">Waarde 2
                <a href="{{url}}" class="form__selectedfilter__remove">
                  <span class="visually-hidden">verwijder</span>
                </a>
              </div>
            </li>
            <li>
              <div class="form__selectedfilter">Waarde 3
                <a href="{{url}}" class="form__selectedfilter__remove">
                  <span class="visually-hidden">verwijder</span>
                </a>
              </div>
            </li>
            <li>
              <div class="form__selectedfilter">Waarde 4
                <a href="{{url}}" class="form__selectedfilter__remove">
                  <span class="visually-hidden">verwijder</span>
                </a>
              </div>
            </li>
            <li>
              <div class="form__selectedfilter">Waarde 5
                <a href="{{url}}" class="form__selectedfilter__remove">
                  <span class="visually-hidden">verwijder</span>
                </a>
              </div>
            </li>
            <li>
              <div class="form__selectedfilter">Waarde 6
                <a href="{{url}}" class="form__selectedfilter__remove">
                  <span class="visually-hidden">verwijder</span>
                </a>
              </div>
            </li>
            <li>
              <div class="form__selectedfilter">Waarde 7
                <a href="{{url}}" class="form__selectedfilter__remove">
                  <span class="visually-hidden">verwijder</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <h2 class="visually-hidden">Filters</h2>

      <form id="formid">

        <div class="form__row form__row--large">
          <fieldset>
            <legend>Zoekwoord(en)</legend>
            {{render "@input-inputsubmit" inputsubmitContext }}
          </fieldset>
        </div>
        <div class="form__row form__row--large">
          <fieldset>
            <legend>Totstandkoming</legend>
            {{ render "@date-selection" dateselection merge=true }}
            <a href="#" class="reset">
              <small>Herstellen</small>
            </a>
            <div class="form__row">
              {{render "@input-text" inputPlaats }}
            </div>
          </fieldset>
        </div>
        <div class="form__row form__row--large">
          <div class="form__row form__row--large">
            <fieldset>
              <legend>Nu geldend voor</legend>
              {{render "@input-checkbox" geldvoorContext }}
            </fieldset>
          </div>
        </div>

        <div class="form__row form__row--large">
          <fieldset>
            <legend>Tractatenblad of staatsblad</legend>
            <div class="form__row">
              {{render "@input-text" inputJaargang }}
            </div>
            <div class="form__row">
              {{render "@input-text" inputNummer }}
            </div>
          </fieldset>
        </div>
        <div class="form__row form__row--large">
          <fieldset>
            <legend>Type verdrag</legend>
            {{render "@input-checkbox" typeverdagContext }}
          </fieldset>
        </div>
        <div class="form__row form__row--large">
          <fieldset>
            <legend>Nederland depositair</legend>
            {{render "@input-checkbox" depositarisContext }}
          </fieldset>
        </div>
        <div class="form__row form__row--large">
          <fieldset>
            <legend>Partijen</legend>
            {{render "@subselection" subselectionContext }}
          </fieldset>
        </div>
        <div class="form__row form__row--large">
          <fieldset>
            <legend>Onderwerpen</legend>
            {{render "@subselection" subselectionOnderwerpContext }}
          </fieldset>
        </div>

        <button type="submit" class="js-fixedbottom-button__button fixedbottom-button__button button button--primary" hidden data-decorator="init-sticky"
          data-config='{"position":"bottom"}'>Zoek opnieuw</button>


    </div>

  </div>
  <div id="content" role="main">

    {{ render "@sort" sortContext }}
    <div class="align-right">
      <a href="#" class="icon icon--download">Download</a>{{render "@tooltip" }}
    </div>

    <h1>Zoekresultaten
      <span class="h1__sub">1-10 van de 105 resultaten</span>
    </h1>

    {{render "@resultlist" resultsContext }} {{render "@pagination" }}

  </div>
</div>
</div>

{{ render "@disclaimer" }}

{{ render "@footer" }}
