{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row" role="main" id="content">
  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}

        <form class="form">
          <div class="form__row form__row--large">
            <fieldset>
              <legend class="visually-hidden">Doorzoek de verdragenbank</legend>
              <div class="form__row">
                {{ render "@input-text--medium" inputZoekwoord merge=true }}
              </div>
            </fieldset>
          </div>
          <div class="columns columns--dominant">
            <div class="column">
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Totstandkoming {{render "@tooltip" tt1Context merge=true}}</legend>
                  <div class="form__row">
                    {{render "@datepicker" startDatepicker }}
                    <a href="#" class="reset"><small>Herstel</small></a>
                  </div>
                  <div class="form__row">
                    {{render "@datepicker" endDatepicker }}
                    <a href="#" class="reset"><small>Herstel</small></a>
                  </div>
                  <div class="form__row">
                    <label>Plaats</label>
                    {{render "@input-text" inputPlaats }}
                  </div>
                  <div class="form__row">
                    <div class="columns">
                      <div class="column">
                        <label>Huisnummer</label>
                        {{render "@input-text" inputHuisnummer }}
                      </div>
                      <div class="column">
                        <label>Toevoeging</label>
                        {{render "@input-text" inputToevoeging }}
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Onderwerp {{render "@tooltip" tt2Context merge=true}}</legend>
                  {{render "@subselection" subselectionOnderwerpContext }}
                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Nu geldend voor {{render "@tooltip" tt3Context merge=true}}</legend>
                  {{render "@input-checkbox" geldvoorContext }}
                </fieldset>
              </div>
            </div>
            <div class="column">
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Tractatenblad/Staatsblad {{render "@tooltip" tt4Context merge=true}}</legend>
                  <div class="form__row">
                    <label>Jaar</label>
                    <input type="number" class="input-text" placeholder="Bijv. 2018"/>
                  </div>
                  <div class="form__row">
                    <label>Nummer</label>
                    <input type="number" class="input-text" placeholder="Bijv. 2018" />
                  </div>

                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Type verdrag {{render "@tooltip" tt5Context merge=true}}</legend>
                  {{render "@input-checkbox" typeverdagContext }}
                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Nederland depositaris {{render "@tooltip" tt6Context merge=true}}</legend>
                  {{render "@input-checkbox" depositarisContext }}
                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Partij {{render "@tooltip" tt7Context merge=true}}</legend>
                  {{render "@subselection" subselectionContext }}
                </fieldset>
              </div>
            </div>
          </div>
          <div class="columns columns--vcenter">
            <div class="column">
              <a href="#" class="icon icon--refresh">Alle filters herstellen</a>
            </div>
            <div class="column align-right">
              <button type="submit" class="button button--primary">Zoeken</button>
            </div>
          </div>

        </form>

    {{/@jumbotron}}


  </div>



  <div class="row row--spacer">
    <div class="jumbotron jumbotron--promo jumbotron--green">

      <div class="jumbotron__content">
        <div class="columns columns--center">
          <div class="column">
        <p class="jumbotron__subheader">Meld je aan voor de mail service</p>

        <h2 class="jumbotron__header h2">En blijf automatisch op de hoogte van al het nieuws over depositaire verdragen</h2>

        </div>
        <div class="column">
        <form class="form">
          <fieldset>
            <legend class="visually-hidden">Meld je aan voor de emailservice</legend>
            <div class="form__row">
              {{ render "@input-inputsubmit" }}
            </div>
            {{ render "@input-checkbox" newsletterCheckbox }}
          </fieldset>
        </form>

        </div>
        </div>

      </div>

    </div>
  </div>

</div>

{{ render "@footer" }}
