{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

<div class="container columns columns--sticky-sidebar row">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
      <p>
        <a href="/components/preview/templates-eb-homepage" class="icon--backlink">Terug naar Externe Beheersite</a>
      </p>
      {{render "@nav" navToeContext }}
    </div>
  </div>

  <div role="main" id="content">

    <h1>Publicaties</h1>

    <div class="row">
      {{ render "@input-inputsubmit" searchPublications merge=true }}
    </div>

    <div class="row">
      <h2>Resultaten
        <span class="h2__sub">2 resultaten</span>
      </h2>
      {{ render "@table--condensed" tableResults }}
    </div>

    {{ render "@pagination" }}

  </div>

</div>

{{ render "@footer" }}
