<header class="header">
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#">Terug naar GVOP</a></li>
      </ul>
    </div>
  </nav>
</header>
<div role="main">
  <div class="container">
    <div class="container">
      <h1>Zoek een adres</h1>
      <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p>
      <div class="columns">
        <div class="form__row--large">
          {{ render "@input-autocomplete" inputAutocompleteContext }}
        </div>
        <div>
          {{render "@button-icon" button1Context}}
          {{render "@button-icon" button2Context}}
          {{render "@button-icon" button3Context}}
        </div>
      </div>
    </div>
  </div>
  <div class="container columns-map k-future" data-decorator="handle-collapse">
    <div class="sidebar-column">
      <div class="sidebar-column-content">
        <div class="container">
          <div class="container">
            <h2 class="h2 h2--large">Zoekresultaat</h2>
            <p>Gemeente 's-Gravenhage</p>
            <h3>Gemeente 's-Gravenhage</h3>
            <table class="table-fixed">
              <tbody>
                <tr>
                  <th>Bron</th>
                  <td>Bestuurlijke Grenzen</td>
                </tr>
                <tr>
                  <th>Naam</th>
                  <td>Gemeente 's-Gravenhage</td>
                </tr>
                <tr>
                  <th>Type</th>
                  <td>Gemeente</td>
                </tr>
              </tbody>
            </table>
            {{render "@button" button4Context }}
            {{render "@button" button5Context }}
            {{render "@button" button6Context }}
            <h2 class="h2 h2--large">Gerelateerde locaties</h2>

            <div class="collapsible collapsible--primary" data-decorator="init-collapsible" id="collapsible1Context">
              <div class="collapsible__header">
                <a href="#collapsible1Context" aria-controls="collapsible-content-collapsible1Context" aria-expanded="true"
                  data-handler="toggle-collapsible">
                  HHS van Delfland
                </a>
              </div>
              <div class="collapsible__content" id="collapsible-content-{{ id }}">
                <table class="table-fixed">
                  <tbody>
                    <tr>
                      <th>Bron</th>
                      <td>Bestuurlijke Grenzen</td>
                    </tr>
                    <tr>
                      <th>Naam</th>
                      <td>Gemeente 's-Gravenhage</td>
                    </tr>
                    <tr>
                      <th>Type</th>
                      <td>Gemeente</td>
                    </tr>
                  </tbody>
                </table> 
                {{render "@button" button4Context }} 
                {{render "@button" button5Context }} 
                {{render "@button" button6Context }}
              </div>
            </div>

            <div class="collapsible collapsible--primary" data-decorator="init-collapsible" id="collapsible2Context">
              <div class="collapsible__header">
                <a href="#collapsible2Context" aria-controls="collapsible-content-collapsible2Context" aria-expanded="true"
                  data-handler="toggle-collapsible">
                  Provincie Zuid-Holland
                </a>
              </div>
              <div class="collapsible__content" id="collapsible-content-collapsible2Context">
                <table class="table-fixed">
                  <tbody>
                    <tr>
                      <th>Bron</th>
                      <td>Bestuurlijke Grenzen</td>
                    </tr>
                    <tr>
                      <th>Naam</th>
                      <td>Gemeente 's-Gravenhage</td>
                    </tr>
                    <tr>
                      <th>Type</th>
                      <td>Gemeente</td>
                    </tr>
                  </tbody>
                </table> 
                {{render "@button" button4Context }} 
                {{render "@button" button5Context }} 
                {{render "@button" button6Context }}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="main-column" style="background: #ccc">
      <a href="#" class="trigger-collapse"><span class="visually-hidden">In- of uitklappen</span> </a>
      <iframe width="100%" height="800px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=4.044342041015626%2C51.97155731422007%2C4.535293579101563%2C52.13959907316872&amp;layer=mapnik"
        style="border: 1px solid black"></iframe><br /><small><a href="https://www.openstreetmap.org/#map=12/52.0557/4.2898">View
          Larger Map</a></small>
    </div>
  </div>
</div>
{{ render "@footer" }}