{{#if remove}}
<div class="relative">
{{/if}}

{{#if prefix}}
<div class="input-text__container input-text__container--prefix">
{{/if}}

  <label {{#if fieldLabelVisible}}{{else}}class="visually-hidden"{{/if}}for="{{#if cleanID}}{{id}}{{else}}input-text-{{ id }}{{/if}}" class="form__label form__label--{{ labelmodifier }}">{{ fieldLabel }}{{#if required}}<span class="mandatory">Verplicht</span>{{/if}}</label>

  {{#if prefix}}
    <span class="input-text__prefix {{modifier2}}">{{prefixLabel}}</span>
  {{/if}}

  <input
    {{#if type}}type="{{type}}"{{else}}type="text"{{/if}}
    id="{{#if cleanID}}{{id}}{{else}}input-text-{{ id }}{{/if}}"
    name="{{id}}"
    class="input input-text {{ modifier }} {{class}} {{#if error}}has-error{{/if}}"
    placeholder="{{ fieldPlaceholder }}"
    {{#if error}}aria-describedby="input-text-1__error"{{/if}}
    aria-invalid="{{#if error}}true{{else}}false{{/if}}"
    placeholder="{{ fieldPlaceholder }}"
    {{#if disabled}}disabled{{/if}}
    {{#if value}}value="{{value}}"{{/if}}

    {{#if remove}}
    data-decorator="toggle-remove-visibility"
    {{/if}}/>

    {{#if error}}
      <p role="alert" id="input-text-{{id}}__description" class="form__error">{{errorMessage}}</p>
    {{/if}}

{{#if remove}}
  <a href="#" class="input-text__remove invisible" data-handler="empty-input" ><span class="visually-hidden">Wis waarde</span></a>
</div>
{{/if}}

{{#if prefix}}
</div>
{{/if}}
