{{render "@skiplinks" skipLinks }}
{{render "@topbar" topbar }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

<div class="container columns columns--sticky-sidebar row">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
      <p>
        <a href="/components/preview/templates-eb-homepage" class="icon--backlink">Terug naar Werk ag-11580</a>
      </p>
    </div>
  </div>

  <div role="main" id="content">

    <h1>Metadata expressie details 0000000296/2</h1>

    <form>
      <fieldset>
        <legend class="visually-hidden">Bestanden wijzigen</legend>
        {{ render "@table" table }}
        {{#> @modal modalContextMetadata }}
          <fieldset data-decorator="init-form-conditionals">
            <legend class="visually-hidden">Manifestatie toevoegen</legend>
            <h2>Manifestatie toevoegen</h2>
            <div id="citem-1" role="region" class="js-form-conditionals__citem">
              <div class="form__row">
                {{ render "@select-custom" selectcustom }}
              </div>
            </div>
            <div id="citem-2" role="region" class="js-form-conditionals__citem">
              <div class="form__row">
                {{ render "@input-text" inputAddLabel merge=true }}
              </div>
            </div>
            <div class="form__row">
              {{ render "@input-file" }}
            </div>
            <div class="form__rowsubmit">
              <div class="form__rowsubmit__item">
                {{render "@button" buttonSubmitMetadata }}
              </div>
            </div>
          </fieldset>
        {{/@modal}}
      </fieldset>
    </form>

  </div>

</div>

{{ render "@footer" }}
