{{render "@skiplinks" skipLinks }}
{{render "@topbar" topbar }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

<div class="container columns columns--sidebar">
  <div class="columns--sidebar__sidebar" role="complementary" data-decorator="add-mobile-foldability" id="toggleable-1">
    <div data-decorator="init-fixedbottom-button">
      <div class="sidebar__section">
        <h2 class="sidebar__header">Selecteer Area</h2>
        {{ render "@nav" navTree }}
      </div>
      <div class="sidebar__section">
        <h2 class="sidebar__header">Verfijnen op</h2>
        <div class="row">
          <p>
            <a href="#" class="icon icon--refresh">Herstel alle filters</a>
          </p>
        </div>

        <div class="form__row form__row--large">
          <h3 class="h4">Geselecteerde filters (1)</h3>
          <div data-decorator="showmoreless" data-config='{"amount": 2}'>
            <ul class="list list--unstyled">
              <li>
                <div class="form__selectedfilter">Gegenereerd: Vorige week
                  <a href="{{url}}" class="form__selectedfilter__remove">
                    <span class="visually-hidden">verwijder</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <h2 class="visually-hidden">Filters</h2>

        <form id="formid">

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Zoekwoord(en)</legend>
              <div class="form__row">
                {{ render "@input-inputsubmit" inputsubmitContext }}
              </div>
              <div class="form__row">
                {{ render "@input-checkbox" cga }}
              </div>
            </fieldset>
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Gegenereerd</legend>
              <div class="form__row">
                {{ render "@input-radio" radioGegenereed }}
              </div>
            </fieldset>
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Gewijzigd</legend>
              <div class="form__row">
                {{ render "@input-radio" radioGewijzigd }}
              </div>
            </fieldset>
          </div>
          <button type="submit" class="js-fixedbottom-button__button fixedbottom-button__button button button--primary" hidden data-decorator="init-sticky"
            data-config='{"position":"bottom"}'>Zoek opnieuw</button>
        </form>
      </div>
    </div>
  </div>

  <div id="content" role="main">

    {{ render "@pageactions" pageactions }}

    <h1>Zoekresultaten
      <span class="h1__sub">1-10 van de 7587 resultaten</span>
    </h1>

    {{ render "@table" tableResults }}

    <div class="align-right">
      {{ render "@pagination" }}
    </div>

  </div>
</div>
