{{ render "@header" headerContext merge="true" }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumbContext }}
  </div>
</div>

<div class="container columns columns--sidebar-left row">
  <div>
    <h1>Wijziging van de Wet op de ondernemingsraden i.v.m. regeling van topbeloningen</h1>
    <p>
      Wijziging van de Wet op de ondernemingsraden in verband met de bevoegdheden van de ondernemingsraad inzake de
      beloningen van bestuurders.
    </p>

    <h2>Consultatie gegevens</h2>

    <table class="table__data-overview">

      <tbody>

        <tr>
          <th>Publicatiedatum</th>
          <td>26-07-2018</td>
        </tr>
        <tr>
          <th>Einddatum consultatie</th>
          <td>07-09-2018</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>Actief</td>
        </tr>
        <tr>
          <th>Type consultatie</th>
          <td>AMvBO</td>
        </tr>
        <tr>
          <th>Type consultatie</th>
          <td>AMvBO</td>
        </tr>
        <tr>
          <th>Type consultatie</th>
          <td>AMvB</td>
        </tr>
        <tr>
          <th>Organisatie</th>
          <td>Ministerie van Ministerie van Economische Zaken en Klimaat</td>
        </tr>
        <tr>
          <th>Onderwerpen</th>
          <td><a href="#">ICT</a></td>
        </tr>

      </tbody>
    </table>

    <p>
      <a href="#" class="button button--primary" role="button">Geef uw reactie op deze consultatie</a>
    </p>

    <h2>Publicatie reacties</h2>
    <p>Reacties worden gepubliceerd tijdens de loop van de consultatie. Alleen die reacties worden gepubliceerd waarvan
      is aangeven, door de inzender, dat deze openbaar mogen zijn.</p>

    <h2>Doelgroepen die door de regeling worden geraakt</h2>
    <p>
      Doelgroepen van het Nationaal Frequentieplan zijn partijen met spectrumgebruiksrechten (vergunningen) en voor wie
      het NFP
      gebruiksrechten vastlegt zoals: Aanbieders van mobiele communicatie, omroepaanbieders,
      satellietcommunicatieaanbieders, exploitanten
      van straalverbindingen, overheidspartijen die frequenties gebruiken voor publieke taken, spectrumgebruikers in de
      lucht-
      en scheepvaart, bedrijven met netwerken voor eigen bedrijfstoepassingen, radiozendamateurs, fabrikanten van
      apparatuur die
      gebruik maakt van het spectrum (met of zonder vergunning).
    </p>

    <h2>Verwachte effecten van de regeling voor de doelgroepen</h2>
    <p>
      Dit wijzigingspakket bevat de volgende onderdelen: In de 5 MHz-band wordt de bandbreedte van de bestemming voor
      radioamateurs
      aangepast. In banden tussen 156 MHz en 162 MHz wordt als nieuwe bestemming Bijzonder gebruik maritieme
      frequenties toegevoegd.
      In de 700 MHz-band wordt per 1 januari 2020 mobiele communicatie als bestemming toegevoegd, en wordt bestemming
      omroep beëindigd.
      In de band 1875-1880 MHz wordt een bestemming voor vergunningvrije installaties ter zee toegevoegd. In de band
      van 27,5 tot
      30 GHz worden niet gecoördineerde satellietgrondstations aan de bestemming toegevoegd. In annex 4 worden een
      aantal nieuwe
      begrippen gedefinieerd.
    </p>

    <h2>Waarop kunt u reageren</h2>
    <p>
      Er kan op alle onderdelen worden gereageerd.
    </p>
    <p>En algemeen:</p>
    <ul>
      <li>
        Indien deze NFP-wijzigingen met toelichting uw instemming hebben en positief voor zijn, kan ook dat voor het
        ministerie informatief zijn om als reactie van u op het ontwerpbesluit te ontvangen.
      </li>
      <li>
        Indien uw reactie vertrouwelijke onderdelen bevat, kunt u er ook voor kiezen om uw reactie te splitsen in twee,
        waarbij
        uw ene reactie openbaar is, en de andere uw vertrouwelijke opmerkingen bevat.
      </li>
    </ul>

    <h2>Downloads</h2>
    {{ render "@resultlist" resultlistContextDownloads }}

    <h2>Exerne bronnen</h2>
    <p>
      Nationale FrequentiePlan 2014
    </p>
    <p>
      <a href="#" rel="external">Bron: wetten.overheid.nl</a>
    </p>



  </div>


  <div>
    <div class="well">
      <form>
        <fieldset class="form__element">
          <legend class="form--intro">Zoeken</legend>
          <div class="">
            <label for="emailadres" class="visually-hidden">Zoeken op</label>
            <input type="text" id="emailadres" placeholder="Zoekterm voor wet, amvb">
          </div>
        </fieldset>
        <button type="submit" class="button button--primary">Zoeken</button>
      </form>
      <a href="#" class="link link--forward">Zoek uitgebreid</a>
    </div>
    <p>
      <a href="#" class="link link--back">Startpagina</a>
    </p>

    <ul class="list list--linked">
      <li><a href="#"><strong>Consultatie gegevens</strong></a></li>
      <li><a href="#">Reacties op consultatie (0)</a></li>
    </ul>

    {{ render "@list" facelistContextActions }}
    {{ render "@list" facelistContextShare }}

  </div>

</div>

{{ render "@footer" }}