{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb merge=true }}
  </div>
</div>

<div class="container columns columns--sidebar">
  <div class="columns--sidebar__sidebar" role="complementary" data-decorator="add-mobile-foldability" id="toggleable-1">
    <div data-decorator="init-fixedbottom-button">

      <div class="sidebar__section">

        <h2 class="sidebar__header">Zoek bekendmakingen</h2>

        <div class="sidebar__selectedfilters">
          <h3 class="sidebar__selectedfilters__header">U heeft gezocht op</h3>
          <ul>
            <li><span class="sidebar__selectedfilters__filter">Openbaar lichaam voor bedrijf en beroep</span></li>
            <li><span class="sidebar__selectedfilters__filter">Productschap diervoeder</span></li>
            <li><span class="sidebar__selectedfilters__filter">Landbouw</span></li>
          </ul>
          <p>{{ render "@link--edit"  linkEdit merge=true }}</p>
        </div>

        <form>
          <fieldset>
            <legend class="visually-hidden">Zoek bekendmakingen</legend>
             <div class="form__row">
              {{ render "@input-text" searchterm }}
            </div>
            <div class="form__row">
              {{ render "@select-custom--with-label" selectContext merge=true }}
            </div>
            <div class="form__rowsubmit">
              <div class="form__rowsubmit__item">
                {{ render "@button" buttonSubmit }}
              </div>
            </div>
          </fieldset>
        </form>

      </div>


          {{!-- <h2 class="visually-hidden">Filters</h2>

          <form id="formid">

            <div class="form__row form__row--large">
              <fieldset>
                <legend>Zoekterm(en)</legend>
                <div class="form__row">
                  {{render "@input-inputsubmit" inputsubmitContext }}
                </div>
              </fieldset>
            </div>

            <div class="form__row form__row--large">
              <fieldset data-decorator="init-formreset" data-config='{"elements": "select"}'>
                <legend>Datum van publicatie</legend>
                {{ render "@date-selection" dateselection merge=true }}
                <a href="#" class="reset formreset-resetlink">
                  <small>Herstellen</small>
                </a>
              </fieldset>
            </div>
            <div class="form__row form__row--large">
              <fieldset>
                <legend>Documentsoort</legend>
                <div class="form__row">
                  {{ render "@checkbox-selectall" checkboxDocumentsoort }}
                </div>
              </fieldset>
            </div>
            <div class="form__row form__row--large">
              <fieldset>
                <legend>Aanvullende zoekcriteria</legend>
                <div class="form__row">
                  <p class="form__sublegend">Type organisatie(s)</p>
                  {{render "@subselection--with-catagories-and-select-all" subselectionGemContext merge=true }}
                </div>
                <div class="form__row">
                  <p class="form__sublegend">Publicerende organisatie(s)</p>
                  {{render "@subselection--with-catagories-and-select-all" subselectionPubContext merge=true }}
                </div>
                <div class="form__row">
                  <p class="form__sublegend">Onderwerp(en)</p>
                  {{render "@subselection" subselectionWatContext }}
                </div>
              </fieldset>
            </div>

            {{!-- <div class="form__row form__row--large">
              <fieldset>
                <legend>Locatie</legend>

              </fieldset>
            </div> --}}

            <button type="submit" class="js-fixedbottom-button__button fixedbottom-button__button button button--primary" hidden data-decorator="init-sticky"
              data-config='{"position":"bottom"}'>Zoek opnieuw</button>
          </form>
           --}}
    </div>
  </div>
  <div id="content" role="main">

    <h1>Zoekresultaten
      <span class="h1__sub">1-10 van de 7396 resultaten</span>
    </h1>

    {{ render "@selectedfilterbar" }}

    {{ render "@sort" sortContext }}

    {{!-- <div class="row">
      {{render "@link--mail" linkAbonneren merge=true }}
    </div> --}}

    {{render "@resultlist" resultsContext }}

    {{render "@pagination" }}

  </div>
</div>

{{ render "@disclaimer" }}

{{ render "@footer" }}
