{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

<div class="container" role="main" id="content">

  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}

    <form>
      <fieldset>
        <legend class="visually-hidden">Zoek een publicatie</legend>
        <div class="columns">
          <div class="column column-d-8">
            <div class="form__row">
              {{ render "@input-text" searchterm }}
            </div>
          </div>
          <div class="column column-d-5">
            <div class="form__row">
              {{ render "@select-custom--with-label" selectContext merge=true }}
            </div>
          </div>
        </div>
        <div class="form__rowsubmit">
          <div class="form__rowsubmit__item">
            {{ render "@button" buttonSubmit }}
          </div>
          <div class="form__rowsubmit__item">
            {{render "@link--cta" linkPar merge=true }}
          </div>
        </div>
      </fieldset>
    </form>

    {{/@jumbotron}}

  </div>

  <div class="row row--xlg">

    {{!-- <h2 class="row__heading">Omgevingen</h2> --}}

    <div class="columns columns--gutter-med">
      <div class="column">
        <h2>Welke informatie vindt u op deze website?</h2>
        <p>
          Op officielebekendmakingen.nl vindt u de officiële publicaties van het Staatsblad, de Staatscourant, het Tractatenblad, de
          Gemeentebladen, Provinciale bladen, Waterschapsbladen en Bladen gemeenschappelijke regeling. Daarnaast vindt u hier alle
          publicaties van het parlement.
        </p>
        <h3>Direct uitgebreid zoeken</h3>
        <p>
          Wilt u op een gestructureerde manier zoeken naar parlementaire documenten of officiële bekendmakingen? Dan kunt u daarvoor
          gebruik maken van de uitgebreide zoekmogelijkheden.
        </p>
        <p>
          <a href="#" class="button icon-bg icon--searchBlue">Parlementaire documenten</a><br>
          <a href="#" class="button icon-bg icon--searchBlue">Officiële bekendmakingen</a>
        </p>


      </div>
      <div class="column">
        <h2>Recente bekendmakingen</h2>
        <p>In totaal <a href="#">2137 publicaties</a> op vrijdag 19 augustus 2020.</p>
         {{ render "@browse" browse }}
      </div>
    </div>

  </div>

  <div class="row">
    {{#> @buttonbar buttonbarContext }}
       {{ render "@button--doubleline" btndouble1 merge=true }}
       {{ render "@button--doubleline" btndouble2 merge=true }}
       {{ render "@button--doubleline" btndouble3 merge=true }}
    {{/@buttonbar}}
  </div>

</div>

{{ render "@disclaimer" }}

{{ render "@footer" }}
