<div class="input-inputsubmit {{modifierComponent}}">

  <div class="input-inputsubmit__grid">
    <label {{#if showLabel}}{{else}}class="visually-hidden" {{/if}} for="{{id}}">{{ label }}</label>
    <input id="{{id}}" {{#if required}}required{{/if}} type="{{#if type}}{{type}}{{else}}text{{/if}}" class="input {{modifier}}" placeholder="{{placeholder}}" />
    <button class="button button--primary"><span>{{button}}</span></button>
  </div>
</div>
