<div class="input-inputsubmit {{modifierComponent}}">

  <div class="input-inputsubmit__grid">
    <label {{#if showLabel}}{{else}}class="visually-hidden" {{/if}} for="{{id}}">{{ label }}</label>
    {{#if_eq inputType 'textarea'}}
      <textarea id="{{id}}" {{#if name}}name=""{{/if}} {{#if required}}required{{/if}} class="input {{modifier}}" placeholder="{{placeholder}}">{{value}}</textarea>
    {{else}}
      <input id="{{id}}" {{#if name}}name="{{name}}"{{/if}} {{#if required}}required{{/if}} type="{{#if type}}{{type}}{{else}}text{{/if}}" class="input {{modifier}}"
        placeholder="{{placeholder}}" value="{{value}}" />
    {{/if_eq}}

    <button class="button button--primary" type="submit"><span>{{button}}</span></button>
  </div>
</div>
