{{ render "@header" header merge="true" }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>
<div class="container columns columns--sticky-sidebar row">
  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

      <a href="#" class="icon--backlink">Terug naar zoekresultaten</a>

      <h2>Aanbestedingswet op defensie- en veiligheidsgebied <span>Geldend van 18-04-2019 t/m heden</span></h2>

      {{ render "@actionblock" actionBlock }}

      <h2>Inhoudsopgave</h2>
      {{ render "@treeview" treeview }}
    </div>
  </div>

  <div id="regeling">
    <form method="post">

      <h1>Aanbestedingswet op defensie- en veiligheidsgebied</h1>

      {{ render "@article-header" counter}}

      {{#> @modal popuplidorelaties }}
        <h2>Externe relaties (0)</h2>
        <p>Op linkeddata.overheid.nl zijn onderstaande relaties bekend.</p>
        <div id="divLidorelaties"></div>
        {{/@modal}}

        {{#> @modal popuppermanentelink }}
          <h2>Permanente link</h2>
          <p>Kopieer één van de onderstaande links of verfijn de link in de Linktool.</p>
          <h3>Kopieer een link</h3>
          <ol>
            <li>
              link met citeertitel
              {{ render "@copydata" copydata1 merge=true }}
            </li>
            <li>
              url
              {{ render "@copydata" copydata2 merge=true }}
            </li>
            <li>
              juriconnect-verwijzing
              {{ render "@copydata" copydata3 merge=true }}
            </li>
          </ol>
          <h3>Verfijn in Linktool</h3>
          <p>
            Met behulp van de Linktool van LiDO is het mogelijk om een meer gedetailleerde link te maken. Zo is het
            bijvoorbeeld mogelijk om een link te maken naar een specifiek lid van een artikel.
          </p>
          <p>
            Ga naar de <a
              href="https://linkeddata.overheid.nl/front/portal/linktool-bwb-verfijnen?ext-id=http%3a%2f%2fwetten.overheid.nl%2fid%2fBWBR0008994%2f1998-01-01%2f0&geldigheidsdatum=1998-01-01&zichtdatum=2021-01-25"
              rel="external"><span class="visually-hidden">Externe link: </span>Linktool</a>
          </p>
          {{/@modal}}

          {{#> @modal popupafdrukken }}
            <h2>Keuze afdrukken regeling</h2>
            <p>U kunt kiezen voor het toevoegen van de wetstechnische informatie aan de tekst.</p>
            <fieldset>
              <legend class="visually-hidden">Afdrukken regeling</legend>
              <div class="form__row">
                {{ render "@input-radio" printradio }}
              </div>
              {{ render "@button--primary" modalPrintButton merge=true }}
            </fieldset>
            {{/@modal}}

            {{#> @modal popupvergelijken }}
              <h2>Vergelijk versies</h2>

              <input type="hidden" id="hfVergelijkRedirect" name="hfVergelijkRedirect" value="" />

              <p id="pGeenVergelijkingMogelijk">
                Er is geen andere versie beschikbaar waarmee u de huidige geselecteerde versie<span id="iwtHuidige3">,
                  inwerkinggetreden op <span id="lblIWTHuidige3"></span>,</span> kan vergelijken.
              </p>

              <p id="pKiesVergelijking">
                Selecteer een andere versie waarmee u de huidige geselecteerde versie<span id="iwtHuidige">,
                  inwerkinggetreden op
                  <span id="lblIWTHuidige"></span>,</span> wilt vergelijken.
              </p>


              <p id="pKiesVergelijkingWachten">
                Vergelijken van "<span
                  id="ctl00_cphContent_Regeling_popupVergelijken_popupvergelijken_lblTitel">Grondwet</span>",
                inwerkinggetreden op
                <span id='spVergelekenVan'><span id="lblIWTHuidige2"></span></span>, met versie die inwerking is
                getreden op <span id='spVergelekenMet'></span>.
              </p>

              <div id="LoadMessageCompare">
                <div class="loader"></div>
              </div>

              <p id="pKiesVergelijkingWachtenMinuten">Doordat er een grote regeling is gekozen kan de vergelijking
                enkele minuten duren. </p>

              <fieldset>
                <legend class="visually-hidden"></legend>
                <div class="form__row">
                  {{ render "@select-custom--with-label" compareSelect merge=true }}
                </div>
                {{ render "@button--primary" modalCompareButton merge=true }}
              </fieldset>

              {{/@modal}}

              {{#> @modal popupexporteren }}
                <h2>Exporteer regeling</h2>
                <p>U kunt kiezen in welk formaat de tekst geëxporteerd wordt.</p>
                <fieldset>
                  <legend>Formaat</legend>
                  <div class="form__row">
                    {{ render "@input-radio" exportradio }}
                  </div>
                </fieldset>

                <div id="popupexporterenafbeeldingen">
                  <p>
                    U kunt de tekst inclusief afbeeldingen exporteren. De afbeeldingen worden dan met de tekst in een
                    .zip-bestand geleverd
                  </p>
                  <fieldset>
                    <legend>Afbeeldingen</legend>
                    <div class="form__row">
                      {{ render "@input-radio" exportradio2 }}
                    </div>
                  </fieldset>
                </div>
                {{ render "@button--primary" modalExportButton merge=true }}

                {{/@modal}}

                <p>Wet van 28 januari 2013 inzake implementatie van richtlijn nr. 2009/81/EG van het Europees Parlement
                  en
                  de Raad van 13 juli 2009 betreffende de coördinatie van de procedures voor het plaatsen door
                  aanbestedende diensten van <del>bepaald</del><ins>bepaalde</ins> opdrachten voor werken, leveringen en
                  diensten op defensie- en
                  veiligheidsgebied, en tot wijziging van richtlijnen 2004/17/EG en 2004/18/EG (Aanbestedingswet op
                  defensie- en veiligheidsgebied)</p>
                <p>Wij Beatrix, bij de gratie Gods, Koningin der Nederlanden, Prinses van Oranje-Nassau, enz. enz. enz.
                </p>
                <p>Allen, die deze zullen zien of horen lezen, saluut! doen te weten:</p>
                <p>Alzo Wij in overweging genomen hebben, dat het noodzakelijk is om te voorzien in wettelijke regels om
                  uitvoering te geven aan <a href="?celex=32009L0081" rel="nofollow">richtlijn nr. 2009/81/EG</a> van
                  het
                  Europees Parlement en de Raad van 13 juli 2009 betreffende de coördinatie van de procedures voor het
                  plaatsen door aanbestedende diensten van bepaalde opdrachten voor werken, leveringen en diensten op
                  defensie- en veiligheidsgebied, en tot wijziging van <a href="?celex=32004L0017"
                    rel="nofollow">richtlijnen 2004/17/EG</a> en <a href="?celex=32004L0018"
                    rel="nofollow">2004/18/EG</a>
                  (PbEU L 216);</p>
                <p>Zo is het, dat Wij, de Afdeling advisering van de Raad van State gehoord, en met gemeen overleg der
                  Staten-Generaal, hebben goedgevonden en verstaan, gelijk Wij goedvinden en verstaan bij deze:</p>

                {{ render "@article-header" counter1 }}

                {{ render "@article-header" counter2 }}

                {{ render "@article-header" counter3 }}

                <p class="al">In deze wet en de daarop berustende bepalingen wordt verstaan onder:</p>
                <ul class="list--law__unordered ongemarkeerd whitespace-medium">
                  <li class="li">
                    <p class="al">
                      <em>aanbestedende dienst:</em> de staat, een provincie, een gemeente, een waterschap of een
                      publiekrechtelijke instelling dan wel een samenwerkingsverband van deze overheden of
                      publiekrechtelijke instellingen;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>aanbestedingsstukken:</em> alle documenten in een aanbestedingsprocedure die door de
                      aanbestedende dienst of het speciale-sectorbedrijf in de procedure zijn gebracht;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>aankoopcentrale:</em> een aanbestedende dienst of een openbare instantie van de Europese Unie,
                      die voor aanbestedende diensten onderscheidenlijk speciale-sectorbedrijven bestemde leveringen of
                      diensten verwerft of met betrekking tot voor aanbestedende diensten of speciale-sectorbedrijven
                      bestemde werken, leveringen of diensten opdrachten plaatst;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>aannemer:</em> een ieder die de uitvoering van werken op de markt aanbiedt;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>Autoriteit Consument en Markt:</em> de Autoriteit Consument en Markt, genoemd in <a
                        href="/jci1.3:c:BWBR0033043&amp;artikel=2&amp;g=2021-01-25&amp;z=2021-01-25">artikel 2, eerste
                        lid, van de Instellingswet Autoriteit Consument en Markt</a>;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em> CPV:</em> de Gemeenschappelijke Woordenlijst Overheidsopdrachten, vastgesteld bij <a
                        href="?celex=32002R2195" rel="nofollow">verordening (EG) nr. 2195/2002</a> van het Europees
                      Parlement en de Raad van 5 november 2002 betreffende de gemeenschappelijke woordenlijst
                      overheidsopdrachten (CPV) (PbEG L 340);</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em> crisissituatie:</em> een gewapend conflict, een oorlog of een andere situatie als gevolg
                      waarvan zich een schadelijke gebeurtenis voordoet die de omvang van een schadelijke gebeurtenis
                      van
                      het dagelijks leven duidelijk overstijgt en die een ernstige bedreiging of belemmering vormt voor
                      het leven of de gezondheid van mensen, of substantiële gevolgen heeft voor materiële goederen van
                      grote waarde, of maatregelen vereist om de bevolking van eerste levensbehoeften te voorzien, dan
                      wel
                      een situatie waarbij een dergelijke schadelijke gebeurtenis zich naar verwachting op zeer korte
                      termijn zal voordoen;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em> dienstverlener:</em> een ieder die diensten op de markt aanbiedt;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>eigen verklaring:</em> een verklaring als bedoeld in <a
                        href="#Deel2_Hoofdstuk2.3_Afdeling2.3.4_Artikel2.74">artikel 2.74, eerste lid</a>;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>elektronisch systeem voor aanbestedingen:</em> het elektronisch systeem voor aanbestedingen,
                      bedoeld in <a
                        href="/jci1.3:c:BWBR0032203&amp;artikel=4.13&amp;g=2021-01-25&amp;z=2021-01-25">artikel 4.13 van
                        de Aanbestedingswet 2012</a>;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>elektronische factuur:</em> factuur die is opgesteld, verzonden en ontvangen in een
                      gestructureerde elektronische vorm die automatische en elektronische verwerking ervan mogelijk
                      maakt;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>elektronische veiling:</em> een zich herhalend elektronisch proces voor de presentatie van
                      nieuwe, verlaagde prijzen of van nieuwe waarden voor bepaalde elementen van de inschrijvingen, dat
                      plaatsvindt na de eerste volledige beoordeling van de inschrijvingen en dat klassering op basis
                      van
                      elektronische verwerking mogelijk maakt;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>gedragsverklaring aanbesteden:</em> een verklaring als bedoeld in <a
                        href="/jci1.3:c:BWBR0032203&amp;artikel=4.1&amp;g=2021-01-25&amp;z=2021-01-25">artikel 4.1 van
                        de
                        Aanbestedingswet 2012</a>;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>gegadigde:</em> een ondernemer die bij toepassing van de niet-openbare procedure, de procedure
                      van de concurrentiegerichte dialoog of de onderhandelingsprocedure heeft verzocht om toegelaten te
                      worden tot de procedure;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>gerubriceerde gegevens:</em> gegevens of materiaal, ongeacht de vorm, aard, of wijze van
                      verzending ervan, waaraan een bepaald niveau van veiligheidsclassificatie of een
                      beveiligingsniveau
                      is toegekend en die in het belang van de nationale veiligheid en uit hoofde van wettelijke
                      voorschriften, van bindende aanwijzingen gegeven vanwege het Rijk of van bestuursrechtelijke
                      besluiten, beschermd moeten worden tegen ontvreemding, vernietiging, verwijdering, onthulling,
                      verlies of toegang tot die gegevens of dat materiaal door een onbevoegde, of tegen enige andere
                      vorm
                      van compromittering;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>gevoelig materiaal:</em> materiaal bestemd voor veiligheidsdoeleinden dat op gerubriceerde
                      gegevens betrekking heeft, dat gerubriceerde gegevens noodzakelijk maakt, of dat zelf
                      gerubriceerde
                      gegevens bevat;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>gevoelig werk:</em> een werk bestemd voor veiligheidsdoeleinden dat op gerubriceerde gegevens
                      betrekking heeft, dat gerubriceerde gegevens noodzakelijk maakt, of dat zelf gerubriceerde
                      gegevens
                      bevat;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>gevoelige dienst:</em> een dienst bestemd voor veiligheidsdoeleinden die op gerubriceerde
                      gegevens betrekking heeft, dat gerubriceerde gegevens noodzakelijk maakt, of dat gerubriceerde
                      gegevens bevat;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>gunningsbeslissing:</em> de keuze van de aanbestedende dienst of het speciale sectorbedrijf
                      voor
                      de ondernemer met wie hij voornemens is de overeenkomst waarop de procedure betrekking had te
                      sluiten, waaronder mede wordt verstaan de keuze om geen overeenkomst te sluiten;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>inschrijver:</em> een ondernemer die een inschrijving heeft ingediend;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>levenscyclus:</em> de opeenvolgende fasen die een product doorloopt, bestaande uit onderzoek
                      en
                      ontwikkeling, industriële ontwikkeling, productie, reparatie, modernisering, aanpassing,
                      onderhoud,
                      logistiek, opleiding, testen, buiten gebruik stellen en afstoting;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>leverancier:</em> een ieder die producten op de markt aanbiedt;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>lidstaat:</em> lidstaat van de Europese Unie of een andere staat die partij is bij de
                      Overeenkomst betreffende de Europese Economische Ruimte;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>mededeling van de gunningsbeslissing:</em> een schriftelijke kennisgeving die voldoet aan de
                      in
                      <a href="#Deel2_Hoofdstuk2.3_Afdeling2.3.8_Paragraaf2.3.8.8_Artikel2.121">artikel 2.121</a>
                      gestelde
                      eisen;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>militair materiaal:</em> materiaal dat specifiek is ontworpen voor of aangepast aan militaire
                      doeleinden en dat bedoeld is voor gebruik als wapen, munitie of oorlogsmateriaal;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>niet-openbare procedure:</em> procedure waarbij alle ondernemers een verzoek mogen doen tot
                      deelneming, maar alleen de door de aanbestedende dienst of het speciale-sectorbedrijf
                      geselecteerde
                      ondernemers mogen inschrijven;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>onderhandelingsprocedure:</em> procedure waarbij de aanbestedende dienst of het
                      speciale-sectorbedrijf met door hem geselecteerde ondernemers overleg pleegt en door middel van
                      onderhandelingen met een of meer van hen de voorwaarden voor de opdracht vaststelt;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>ondernemer:</em> een aannemer, leverancier of dienstverlener;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>onderzoek en ontwikkeling:</em> alle activiteiten die fundamenteel onderzoek, toegepast
                      onderzoek en experimentele ontwikkeling inhouden, waarbij experimentele ontwikkeling de
                      totstandkoming kan omvatten van technologische demonstratiemodellen, inhoudende middelen om de
                      prestaties te tonen van een nieuw concept of een nieuwe technologie in een relevante of een
                      representatieve omgeving;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>Onze Minister:</em> Onze Minister van Economische Zaken en Klimaat;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>opdracht:</em> een opdracht voor werken, een opdracht voor leveringen, een opdracht voor
                      diensten of een raamovereenkomst;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>opdracht voor diensten:</em> een schriftelijke overeenkomst onder bezwarende titel die is
                      gesloten tussen een of meer dienstverleners en een of meer aanbestedende diensten of
                      speciale-sectorbedrijven en die:</p>
                    <ul class="list--law__unordered expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled"><span class="ol">a. </span>uitsluitend betrekking heeft op het verrichten van
                          in bijlage I of II van <a href="?celex=32009L0081" rel="nofollow">richtlijn nr. 2009/81/EG</a>
                          aangewezen diensten,</p>
                      </li>
                      <li class="li">
                        <p class="labeled"><span class="ol">b. </span>betrekking heeft op het leveren van producten en
                          het
                          verrichten van diensten als bedoeld in onderdeel a, indien de waarde van die diensten hoger is
                          dan de waarde van de te leveren producten, of</p>
                      </li>
                      <li class="li">
                        <p class="labeled"><span class="ol">c. </span>betrekking heeft op het verrichten van in bijlage
                          I
                          of II van <a href="?celex=32009L0081" rel="nofollow">richtlijn nr. 2009/81/EG</a> aangewezen
                          diensten en die slechts zijdelings betrekking hebben op werkzaamheden die in het kader van
                          afdeling 45 van de CPV zijn aangewezen;</p>
                      </li>
                    </ul>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>opdracht voor leveringen:</em> een schriftelijke overeenkomst onder bezwarende titel die is
                      gesloten tussen een of meer leveranciers en een of meer aanbestedende diensten of
                      speciale-sectorbedrijven en die betrekking heeft op:</p>
                    <ul class="list--law__unordered expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled"><span class="ol">a. </span>de aankoop, leasing, huur of huurkoop, met of
                          zonder
                          koopoptie, van producten of</p>
                      </li>
                      <li class="li">
                        <p class="labeled"><span class="ol">b. </span>de levering van producten en die slechts zijdeling
                          betrekking heeft op werkzaamheden voor het aanbrengen en installeren van die levering;</p>
                      </li>
                    </ul>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>opdracht voor werken:</em> een schriftelijke overeenkomst onder bezwarende titel die is
                      gesloten
                      tussen een of meer aannemers en een of meer aanbestedende diensten of specialesectorbedrijven en
                      die
                      betrekking heeft op:</p>
                    <ul class="list--law__unordered expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled"><span class="ol">a. </span>de uitvoering of het ontwerp en de uitvoering van
                          werken in het kader van in afdeling 45 van de CPV aangewezen werkzaamheden,</p>
                      </li>
                      <li class="li">
                        <p class="labeled"><span class="ol">b. </span>de uitvoering of het ontwerp en de uitvoering van
                          een werk, of</p>
                      </li>
                      <li class="li">
                        <p class="labeled"><span class="ol">c. </span>het laten uitvoeren met welke middelen dan ook van
                          een werk dat aan de door de aanbestedende dienst of het speciale-sectorbedrijf vastgestelde
                          eisen voldoet;</p>
                      </li>
                    </ul>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>opdracht in onderaanneming:</em> een schriftelijke overeenkomst onder bezwarende titel die is
                      gesloten tussen een inschrijver waaraan een opdracht is gegund en één of meer ondernemers ten
                      behoeve van de uitvoering van die opdracht en die betrekking heeft op werken, leveringen van
                      producten of het verrichten van diensten;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>procedure van de concurrentiegerichte dialoog:</em> procedure waarbij alle ondernemers een
                      verzoek mogen doen tot deelneming en waarbij de aanbestedende dienst of het speciale-sectorbedrijf
                      een dialoog voert met de tot de procedure toegelaten ondernemers, teneinde een of meer oplossingen
                      te zoeken die aan de behoeften van de aanbestedende dienst of het speciale-sectorbedrijf
                      beantwoorden en op grond waarvan de geselecteerde ondernemers zullen worden uitgenodigd om in te
                      schrijven;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>publiekrechtelijke instelling:</em> een instelling die specifiek ten doel heeft te voorzien in
                      behoeften van algemeen belang, anders dan van industriële of commerciële aard, die
                      rechtspersoonlijkheid bezit en waarvan:</p>
                    <ul class="list--law__unordered expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled"><span class="ol">a. </span>de activiteiten in hoofdzaak door de staat, een
                          provincie, een gemeente, een waterschap of een andere publiekrechtelijke instelling worden
                          gefinancierd,</p>
                      </li>
                      <li class="li">
                        <p class="labeled"><span class="ol">b. </span>het beheer is onderworpen aan toezicht door de
                          staat, een provincie, een gemeente, een waterschap of een andere publiekrechtelijke instelling
                          of</p>
                      </li>
                      <li class="li">
                        <p class="labeled"><span class="ol">c. </span>de leden van het bestuur, het leidinggevend of
                          toezichthoudend orgaan voor meer dan de helft door de staat, een provincie, een gemeente, een
                          waterschap of een andere publiekrechtelijke instelling zijn aangewezen;</p>
                      </li>
                    </ul>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>raamovereenkomst:</em> een schriftelijke overeenkomst tussen een of meer aanbestedende
                      diensten
                      of speciale-sectorbedrijven en een of meer ondernemers met het doel gedurende een bepaalde periode
                      de voorwaarden inzake te plaatsen opdrachten vast te leggen;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>richtlijn nr. 2009/81/EG:</em>
                      <a href="?celex=32009L0081" rel="nofollow">richtlijn 2009/81/EG</a> van het Europees Parlement en
                      de
                      Raad van 13 juli 2009 betreffende de coördinatie van de procedures voor het plaatsen door
                      aanbestedende diensten van bepaalde opdrachten voor werken, leveringen en diensten op defensie- en
                      veiligheidsgebied, en tot wijziging van <a href="?celex=32004L0017" rel="nofollow">richtlijnen
                        2004/17/EG</a> en <a href="?celex=32004L0018" rel="nofollow">2004/18/EG</a> (PbEU L 216);</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>richtlijn 2014/55/EU:</em>
                      <a href="?celex=32014L0055" rel="nofollow">richtlijn 2014/55</a>/EU van het Europees Parlement en
                      de
                      Raad van 16 april 2014 inzake elektronische facturering bij overheidsopdrachten (PbEU 2014, L
                      133);
                    </p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>schriftelijk:</em> elk uit woorden of cijfers bestaand geheel dat kan worden gelezen,
                      gereproduceerd en vervolgens medegedeeld, daaronder begrepen met elektronische middelen
                      overgebrachte of opgeslagen informatie;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>speciale-sectorbedrijf:</em> een speciale-sectorbedrijf als bedoeld in <a
                        href="/jci1.3:c:BWBR0032203&amp;artikel=1.1&amp;g=2021-01-25&amp;z=2021-01-25">artikel 1.1 van
                        Aanbestedingswet 2012</a>;</p>
                  </li>
                  <li class="li">
                    <p class="al">
                      <em>werk:</em> het product van het geheel van bouwkundige of civieltechnische werken dat ertoe
                      bestemd is als zodanig een economische of technische functie te vervullen.</p>
                  </li>
                </ul>

                <div class="alert alert--update">
                  <h3>Terugwerkende kracht</h3>
                  <div class="alert__inner">
                    <ul class="list--law__unordered">
                      <li>
                        <p><span>1</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius
                          mauris
                          vel urna sagittis, ac placerat arcu dignissim. Nunc tincidunt est sem, eu viverra nisl
                          tincidunt
                          commodo. Nulla ullamcorper, nulla vitae sagittis finibus, justo velit pretium lectus, eget
                          luctus erat orci quis dui. Etiam vestibulum vulputate lacus, sed dignissim lacus ultrices non.
                          Sed congue vulputate dignissim. Suspendisse non elit nibh. Aenean mollis justo eget sem
                          accumsan
                          egestas. <span class="highlight">penitentiaire inrichting</span> Vivamus a ligula ac lectus
                          venenatis interdum ut vitae leo. Vivamus laoreet at orci lacinia semper. Maecenas a metus
                          vulputate, faucibus nisl non, posuere ligula. </p>
                        <p>Vestibulum volutpat odio quis odio eleifend volutpat. Etiam vel euismod lacus, ut venenatis
                          arcu. Nullam et nisi consectetur, lobortis ligula id, commodo lectus. In venenatis massa et
                          leo
                          dapibus dignissim sit amet sit amet metus. Nullam cursus tincidunt tortor, ac interdum nunc
                          maximus non. Nulla bibendum tortor ut erat varius, non volutpat erat posuere. Vestibulum sed
                          orci vitae mi blandit lacinia. In pharetra accumsan pellentesque. Curabitur a blandit quam.
                        </p>
                      </li>
                      <li>
                        <p><span>2</span>2e item</p>
                      </li>
                      <li>
                        <p><span>3</span>Een 3e item dat een stuk langer is dan de andere en misschien wel over twee
                          regels valt.</p>
                        <ol>
                          <li>
                            <p><span>a.</span>1e subitem</p>
                          </li>
                          <li>
                            <p><span>b.</span>2e subitem</p>
                          </li>
                        </ol>
                      </li>
                      <li>
                        <p><span>4</span>4e item</p>
                      </li>
                    </ul>
                  </div>
                </div>

                {{ render "@article-header" counter3 }}

                <p>Ingezetene in de zin van deze wet is degene, die in Nederland woont.</p>

                {{ render "@article-header" counter3 }}


                <ul class="list--law__unordered">
                  <li>
                    <p><span>1</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius mauris
                      vel
                      urna sagittis, ac placerat arcu dignissim. Nunc tincidunt est sem, eu viverra nisl tincidunt
                      commodo. Nulla ullamcorper, nulla vitae sagittis finibus, justo velit pretium lectus, eget luctus
                      erat orci quis dui. Etiam vestibulum vulputate lacus, sed dignissim lacus ultrices non. Sed congue
                      vulputate dignissim. Suspendisse non elit nibh. Aenean mollis justo eget sem accumsan egestas.
                      <span class="highlight">penitentiaire inrichting</span> Vivamus a ligula ac lectus venenatis
                      interdum ut
                      vitae leo. Vivamus laoreet at orci lacinia semper. Maecenas a metus vulputate, faucibus nisl non,
                      posuere ligula. </p>
                    <p>Vestibulum volutpat odio quis odio eleifend volutpat. Etiam vel euismod lacus, ut venenatis arcu.
                      Nullam et nisi consectetur, lobortis ligula id, commodo lectus. In venenatis massa et leo dapibus
                      dignissim sit amet sit amet metus. Nullam cursus tincidunt tortor, ac interdum nunc maximus non.
                      Nulla bibendum tortor ut erat varius, non volutpat erat posuere. Vestibulum sed orci vitae mi
                      blandit lacinia. In pharetra accumsan pellentesque. Curabitur a blandit quam.</p>
                  </li>
                  <li>
                    <p><span>2</span>2e item</p>
                  </li>
                  <li>
                    <p><span>3</span>Een 3e item dat een stuk langer is dan de andere en misschien wel over twee regels
                      valt.</p>
                    <ol>
                      <li>
                        <p><span>a.</span>1e subitem</p>
                      </li>
                      <li>
                        <p><span>b.</span>2e subitem</p>
                      </li>
                    </ol>
                  </li>
                  <li>
                    <p><span>4</span>4e item</p>
                  </li>
                </ul>

                {{ render "@article-header" counter3 }}

                <p>[Red: Wijzigt deze wet en de Algemene wet bestuursrecht.]</p>

                {{ render "@article-header" counter3 }}

                <p>[Red: Wijzigt deze wet en de Algemene wet bestuursrecht.]</p>

                {{ render "@article-header" counter3 }}


                <ol class="list--law">
                  <li>
                    <p>Verzekerd overeenkomstig de bepalingen van deze wet is degene, die nog niet de
                      pensioengerechtigde
                      leeftijd heeft bereikt, en</p>
                    <ol>
                      <li>
                        <p>ingezetene is;</p>
                      </li>
                      <li>
                        <p>geen ingezetene is, doch ter zake van in Nederland of op het continentaal plat in
                          dienstbetrekking verrichte arbeid aan de loonbelasting is onderworpen.</p>
                      </li>
                    </ol>
                  </li>
                  <li>
                    <p>Niet verzekerd is de vreemdeling die niet rechtmatig in Nederland verblijf houdt in de zin van
                      artikel 8, onder a tot en met e en l, van de Vreemdelingenwet 2000.</p>
                  </li>
                  <li>
                    <p>Bij of krachtens algemene maatregel van bestuur kan, in afwijking van het eerste en tweede lid,
                      uitbreiding dan wel beperking worden gegeven aan de kring der verzekerden.</p>
                  </li>
                  <li>
                    <p>Bij een maatregel, als bedoeld in het derde lid, kan worden afgeweken van het tweede lid ten
                      aanzien van:</p>
                    <ol>
                      <li>
                        <p>vreemdelingen die rechtmatig in Nederland arbeid verrichten, dan wel hebben verricht;</p>
                      </li>
                      <li>
                        <p>vreemdelingen die, na rechtmatig verblijf te hebben gehouden in de zin van artikel 8, onder a
                          tot en met e en l, van de Vreemdelingenwet 2000, rechtmatig in Nederland verblijf hebben als
                          bedoeld in artikel 8, onder g of h, van de Vreemdelingenwet 2000.</p>
                      </li>
                    </ol>
                  </li>
                </ol>
                <p>Gegeven te</p>
                <p>Wassenaar, 30 juni 2015</p>

                <input type="hidden" value="BWBR0008994" name="hiddenBWBId" id="hiddenBWBId" />
                <input type="hidden" name="ctl00$cphContent$hfApplicatieURL" id="hfApplicatieURL"
                  value="https://wetten.overheid.nl" />
    </form>
  </div>


</div>

{{ render "@to-top" }}

{{ render "@footer" }}
