{{ render "@header" header merge="true" }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>
<div class="container row" id="content">

  <div id="geselecteerdeonderdelen">

    <h1>Geselecteerde elementen (2)</h1>
    {{ render "@article-header" counter1 }}

    <p>
      {{ render "@print" afdrukken merge=true }}
      {{ render "@button" annuleren merge=true }}
    </p>

    <h2 class="h1">Aanbestedingswet 2012</h2>

    {{ render "@article-header" counter2 }}

    <p>Wet van 28 januari 2013 inzake implementatie van richtlijn nr. 2009/81/EG van het Europees Parlement en
      de Raad van 13 juli 2009 betreffende de coördinatie van de procedures voor het plaatsen door
      aanbestedende diensten van bepaalde opdrachten voor werken, leveringen en diensten op defensie- en
      veiligheidsgebied, en tot wijziging van richtlijnen 2004/17/EG en 2004/18/EG (Aanbestedingswet op
      defensie- en veiligheidsgebied)</p>
    <p>Wij Beatrix, bij de gratie Gods, Koningin der Nederlanden, Prinses van Oranje-Nassau, enz. enz. enz.
    </p>
    <p>Allen, die deze zullen zien of horen lezen, saluut! doen te weten:</p>
    <p>Alzo Wij in overweging genomen hebben, dat het noodzakelijk is om te voorzien in wettelijke regels om
      uitvoering te geven aan <a href="?celex=32009L0081" rel="nofollow">richtlijn nr. 2009/81/EG</a> van het
      Europees Parlement en de Raad van 13 juli 2009 betreffende de coördinatie van de procedures voor het
      plaatsen door aanbestedende diensten van bepaalde opdrachten voor werken, leveringen en diensten op
      defensie- en veiligheidsgebied, en tot wijziging van <a href="?celex=32004L0017" rel="nofollow">richtlijnen
        2004/17/EG</a> en <a href="?celex=32004L0018" rel="nofollow">2004/18/EG</a>
      (PbEU L 216);</p>
    <p>Zo is het, dat Wij, de Afdeling advisering van de Raad van State gehoord, en met gemeen overleg der
      Staten-Generaal, hebben goedgevonden en verstaan, gelijk Wij goedvinden en verstaan bij deze:</p>

    {{ render "@article-header" counter4 }}

    {{ render "@list--custom" }}

    {{ render "@article-header" counter5 }}
    <p>Tekst artikel 1.2</p>

    <h2 class="h1">Aanbestedingswet 2013</h2>

    {{ render "@article-header" counter2 }}

    <p>Wet van 28 januari 2013 inzake implementatie van richtlijn nr. 2009/81/EG van het Europees Parlement en
      de Raad van 13 juli 2009 betreffende de coördinatie van de procedures voor het plaatsen door
      aanbestedende diensten van bepaalde opdrachten voor werken, leveringen en diensten op defensie- en
      veiligheidsgebied, en tot wijziging van richtlijnen 2004/17/EG en 2004/18/EG (Aanbestedingswet op
      defensie- en veiligheidsgebied)</p>

    <p>
      {{ render "@print" afdrukken2 merge=true }}
      {{ render "@button" annuleren merge=true }}
    </p>

  </div>
</div>

{{ render "@to-top" }}

{{ render "@footer" }}
