{{ render "@header" header merge="true" }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>
<div class="container columns columns--sticky-sidebar row">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
      {{ render "@actionblock" actieblok }}
    </div>
  </div>
  <div id="content">

    {{ render "@pageactions" pageactions }}

    <h1>10.344 resultaten gevonden</h1>

    {{ render "@sort" sort merge=true }}

    <h2>Wetten</h2>

    {{#> @resultlist resultlist }}
      {{#> @resultlist-item item1 }}
        {{#> @collapsible collapsible }}
          {{ render "@input-checkbox" checkboxes1 }}
        {{/ @collapsible}}
       {{/ @resultlist-item}}
       {{#> @resultlist-item item2 }}
        {{#> @collapsible collapsible }}
          {{ render "@input-checkbox" checkboxes2 }}
        {{/ @collapsible}}
      {{/ @resultlist-item}}
    {{/ @resultlist}}

    <h2>AMVB's en andere KB's</h2>

    {{#> @resultlist resultlist2 }}
      {{#> @resultlist-item item1 }}
        {{#> @collapsible collapsible }}
          {{ render "@input-checkbox" checkboxes1 }}
        {{/ @collapsible}}
      {{/ @resultlist-item}}
      {{#> @resultlist-item item2 }}
        {{#> @collapsible collapsible }}
          {{ render "@input-checkbox" checkboxes2 }}
        {{/ @collapsible}}
      {{/ @resultlist-item}}
      {{#> @resultlist-item item3 }}
        {{#> @collapsible collapsible }}
          {{ render "@input-checkbox" checkboxes2 }}
        {{/ @collapsible}}
      {{/ @resultlist-item}}
      {{#> @resultlist-item item4 }}
        {{#> @collapsible collapsible }}
          {{ render "@input-checkbox" checkboxes2 }}
        {{/ @collapsible}}
      {{/ @resultlist-item}}
    {{/ @resultlist}}

  {{ render "@pagination" pagination merge=true }}
  </div>
</div>

{{ render "@to-top" }}

{{ render "@footer" }}
