{{ render "@header" headerContext merge="true" }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

<div class="container row row--heading" id="content">
  <h1>Wet- en regelgeving</h1>
</div>

<div class="container columns row">
  <div>
    <div class="form__chapter__heading">
      <h2 class="">Kies een soort regeling</h2>
      {{ render "@tooltip" tt1 }}
    </div>
    <fieldset class="form__element checkboxgroup">
      <legend class="visually-hidden">Welke typen regelingen wilt u meenemen in de zoekresultaten?</legend>
      <ul class="list--unstyled">
        <li>
          <label for="AlleSoorten">
            <input id="AlleSoorten" type="checkbox" name="name" data-decorator="check-all" data-for="which-types" />Alle
            soorten regelingen of:
          </label>
          <ul>
            <li>
              <label for="Verdrag">
                <input id="Verdrag" type="checkbox" name="name" data-set="which-types" />Verdragen
              </label>
            </li>
            <li>
              <label for="Wetten">
                <input id="Wetten" type="checkbox" name="name" checked="checked" data-set="which-types" />Wetten
              </label>
            </li>
            <li>
              <label for="AMvB">
                <input id="AMvB" name="name" type="checkbox" checked="checked" data-set="which-types" />AMvB's en andere
                Koninklijke besluiten
              </label>
            </li>
            <li>
              <label for="MinR" class="inline-block">
                <input id="MinR" type="checkbox" name="name" checked="checked"
                  data-set="which-types" />Ministeri&euml;le regelingen
              </label>
              {{ render "@tooltip" tt2 }}
            </li>
            <li>
              <label for="Beleid">
                <input id="Beleid" type="checkbox" name="name" data-set="which-types" />Beleidsregels rijksdienst
              </label>
            </li>
            <li>
              <label for="Circulaires">
                <input id="Circulaires" type="checkbox" name="name" data-set="which-types" />Circulaires rijksdienst
              </label>
            </li>
            <li>
              <label for="ZBO">
                <input id="ZBO" type="checkbox" name="name" data-set="which-types" />Regelingen zelfstandige
                bestuursorganen (ZBO's)
              </label>
            </li>
            <li>
              <label for="Bedrijf">
                <input id="Bedrijf" type="checkbox" name="name" data-set="which-types" />Regelingen publieke organisatie
                voor beroep en bedrijf
              </label>
            </li>
            <li>
              <label for="Reglementen">
                <input id="Reglementen" type="checkbox" name="name" data-set="which-types" />Reglementen van de
                Staten-Generaal
              </label>
            </li>
          </ul>
        </li>
      </ul>
    </fieldset>

    <fieldset class="form__element checkboxgroup inline-group">
      <legend class="visually-hidden">Specifieker zoeken</legend>
      <ul class="list--unstyled">
        <li class="separator">
          <label for="OokBES" class="inline-block">
            <input id="OokBES" type="checkbox" name="name" />Ook zoeken in regelingen Bonaire, Sint Eustatius en Saba
          </label>
          {{ render "@tooltip" tt3 }}
        </li>
        <li>
          <label for="AlleenBES" class="inline-block">
            <input id="AlleenBES" type="checkbox" name="name" />Alleen zoeken in regelingen Bonaire, Sint Eustatius en
            Saba
          </label>
          {{ render "@tooltip" tt4 }}
        </li>
      </ul>
      <ul>
        <li>
          <a title="Europese regelingen" href="https://www.overheid.nl/home/europa/" rel="external"><span
              class="visually-hidden">Externe link:</span> Europese regelingen (EUR-Lex)</a></li>
        <li>
          <a title="Decentrale regelgeving" href="https://zoek.overheid.nl/lokale_wet_en_regelgeving"
            rel="external"><span class="visually-hidden">Externe link:</span> Regelingen van provincies, gemeenten,
            <abbr title="Bonaire, Sint Eustatius en Sint Maarten">BES</abbr>, waterschappen en voormalige Nederlandse
            Antillen</a></li>
        <li>
          <a title="Powersearch" href="http://powersearch.wetten.nl" rel="external"><span
              class="visually-hidden">Externe link:</span> Powersearch</a>
        </li>
      </ul>
    </fieldset>
  </div>

  <div>
    <div class="form__chapter__heading">
      <h2>Zoek op woord of zinsdeel</h2>
      {{ render "@tooltip" tt45 }}
    </div>
    <div class="form__element">
      <div class="form__element__label">
        <label for="ZoekOp_Titel">In de titel</label>
        {{ render "@tooltip" tt5 }}
      </div>
      <div class="form__element__inputs">
        <input name="name" type="text" id="ZoekOp_Titel" class="input" placeholder="Bijv: bestuursrecht" />

        <div class="form__element checkboxgroup inline-group">
          <ul class="list--unstyled">
            <li>
              <label for="ZoekOp_TitelExact">
                <input id="ZoekOp_TitelExact" type="checkbox" name="name" checked="checked" data-handler="toggle-option"
                  data-for="ZoekOp_TitelAfkorting" />Exact zoeken
              </label>
            </li>
            <li>
              <label for="ZoekOp_TitelAfkorting">
                <input id="ZoekOp_TitelAfkorting" type="checkbox" name="name" />Afkorting of volledige titel
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="form__element">
      <div class="form__element__label">
        <label for="ZoekOp_Tekst">In de tekst</label>
        {{ render "@tooltip" tt6 }}
      </div>
      <div class="form__element__inputs">
        <input name="name" type="text" id="ZoekOp_Tekst" class="input" placeholder="Bijv: toeslag" />

        <div class="form__element checkboxgroup">
          <label for="ZoekOp_TekstExact">
            <input id="ZoekOp_TekstExact" type="checkbox" name="name" checked="checked" />Exact zoeken
          </label>
        </div>
      </div>
    </div>

    <div class="form__element">
      <div class="form__element__label">
        <label for="ZoekOp_Artikelnummer">Artikelnummer</label>
        {{ render "@tooltip" tt7 }}
      </div>
      <div class="form__element__inputs">
        <input name="name" type="text" id="ZoekOp_Artikelnummer" class="input input--small" placeholder="Bijv: 3.7a" />
        <fieldset class="form__element radiogroup inline-group">
          <legend class="visually-hidden">Hoe wilt u zoeken </legend>
          <label for="ZoekOp_ArtikelnummerArtikel">
            <input id="ZoekOp_ArtikelnummerArtikel" type="radio" name="abc" value="ZoekOp_ArtikelnummerArtikel"
              checked="checked" />Artikel
          </label>
          <label for="ZoekOp_ArtikelnummerBijlage">
            <input id="ZoekOp_ArtikelnummerBijlage" type="radio" name="abc"
              value="ZoekOp_ArtikelnummerBijlage" />Bijlage (niet voor verdragen)
          </label>
        </fieldset>
      </div>
    </div>

    <div class="form__chapter__heading">
      <h2 class="">Zoek op datum</h2>
      {{ render "@tooltip" tt8 }}
    </div>

    <div class="form__element">
      <div class="form__element__label">
        <label for="input--4">Regeling geldig op</label>
      </div>
      <div class="form__element__inputs">
        <div class="form__element">
          {{ render "@datepicker--today"}}
        </div>

        <div class="form__element checkboxgroup inline-group">
          <label for="ZoekOp_OokMaterieel">
            <input id="ZoekOp_OokMaterieel" type="checkbox" name="name" />Ook materieel uitgewerkte regelingen
          </label>
          {{ render "@tooltip" tt9 }}
        </div>
      </div>
    </div>

    <input type="button" name="name" value="Wis scherm" id="buttonId1" class="button" />
    <input type="submit" name="name" value="Zoeken" id="buttonId2" class="button button--primary" />
  </div>
</div>

<div class="container row">
  <p>De informatie in dit onderdeel vormt geen bekendmaking in de zin van de Grondwet. Alleen publicatie in het
    Tractatenblad, het Staatsblad, de Staatscourant en andere vanwege de overheid verkrijgbaar gestelde publicatiebladen
    heeft een officieel karakter.</p>
</div>

{{ render "@footer" }}
