{{ render "@header" headerContext merge="true" }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

<div class="container row row--heading" id="content">
  <h1>Wet- en regelgeving</h1>

  {{ render "@alert--success" alert merge=true }}
</div>

<form data-decorator="init-form-bwbvalidation" data-bwbvalidation-form="uitgebreid">
  <div class="container columns row">
    <div>
      <div class="form__chapter__heading">
        <h2 class="">Kies een soort regeling</h2>
        {{ render "@tooltip" tt1 }}
      </div>
      <fieldset class="form__element checkboxgroup">
        <legend class="visually-hidden">Welke typen regelingen wilt u meenemen in de zoekresultaten?</legend>
        <span id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerRegelingen" data-validation-field="AlleSoorten" class="form__error" style="display:none;">Geen regelingsoort geselecteerd.</span>
        <ul class="list--unstyled" id="soortCategorienLijst">
          <li>
            <label for="AlleSoorten">
              <input id="AlleSoorten" type="checkbox" name="name" data-decorator="check-all" data-for="which-types" />Alle
              soorten regelingen of:
            </label>
            <ul>
              <li>
                <label for="Verdrag">
                  <input id="Verdrag" type="checkbox" name="name" class="verdragen regelingsoort"
                    data-set="which-types" />Verdragen
                </label>
              </li>
              <li class="listbreaker">
                {{ render "@subselection" ss1 }}
              </li>
              <li class="separator">
                <label for="Wetten">
                  <input id="Wetten" type="checkbox" name="name" checked="checked" class="ministeries regelingsoort"
                    data-handler="toggle-extra-options"
                    data-options="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_EerstVerantwoordelijke_Ministerie"
                    data-set="which-types" />Wetten (excl. Rijkswetten)
                </label>
              </li>
              <li>
                <label for="Rijkswetten">
                  <input id="Rijkswetten" type="checkbox" name="name" checked="checked" class="ministeries regelingsoort"
                    data-handler="toggle-extra-options"
                    data-options="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_EerstVerantwoordelijke_Ministerie"
                    data-set="which-types" />Rijkswetten
                </label>
              </li>
              <li>
                <label for="AMvB">
                  <input id="AMvB" type="checkbox" name="name" checked="checked" class="ministeries regelingsoort"
                    data-handler="toggle-extra-options"
                    data-options="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_EerstVerantwoordelijke_Ministerie"
                    data-set="which-types" />AMvB's en andere KB's (excl. RijksKB's)
                </label>
              </li>
              <li>
                <label for="RijksKBs">
                  <input id="RijksKBs" type="checkbox" name="name" checked="checked" class="ministeries regelingsoort"
                    data-handler="toggle-extra-options"
                    data-options="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_EerstVerantwoordelijke_Ministerie"
                    data-set="which-types" />RijksKB's
                </label>
              </li>
              <li>
                <label for="MinR">
                  <input id="MinR" type="checkbox" name="name" class="ministeries regelingsoort"
                    data-handler="toggle-extra-options"
                    data-options="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_EerstVerantwoordelijke_Ministerie"
                    data-set="which-types" />Ministeri&euml;le regelingen
                </label>
              </li>
              <li>
                <ul>
                  <li>
                    <label for="MinRArchief">
                      <input id="MinRArchief" type="checkbox" name="name"
                        class="ministeries regelingsoort" data-handler="toggle-extra-options"
                        data-options="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_EerstVerantwoordelijke_Ministerie"
                        data-set="which-types" />Archiefselectielijsten
                    </label>
                  </li>
                  <li>
                    <label for="MinROverig">
                      <input id="MinROverig" type="checkbox" name="name" checked="checked"
                        class="ministeries regelingsoort" data-handler="toggle-extra-options"
                        data-options="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_EerstVerantwoordelijke_Ministerie"
                        data-set="which-types" />Overige ministeri&euml;le regelingen
                    </label>
                  </li>
                </ul>
              </li>
              <li>
                <label for="Beleid">
                  <input id="Beleid" type="checkbox" name="name" class="ministeries regelingsoort"
                    data-handler="toggle-extra-options"
                    data-options="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_EerstVerantwoordelijke_Ministerie"
                    data-set="which-types" />Beleidsregels rijksdienst
                </label>
              </li>
              <li>
                <label for="Circulaires">
                  <input id="Circulaires" type="checkbox" name="name" class="ministeries regelingsoort"
                    data-handler="toggle-extra-options"
                    data-options="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_EerstVerantwoordelijke_Ministerie"
                    data-set="which-types" />Circulaires rijksdienst
                </label>
              </li>
              <li class="listbreaker">
                {{ render "@subselection" ss2 merge=true }}
              </li>
              <li class="separator group">
                <label for="ZBO">
                  <input id="ZBO" type="checkbox" name="name" class="zbo regelingsoort"
                    data-handler="toggle-extra-options"
                    data-options="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_EerstVerantwoordelijke_ZBO"
                    data-set="which-types" />Regelingen zelfstandige bestuursorganen (ZBO's)
                </label>
              </li>
              <li class="listbreaker">
                {{ render "@subselection" ss3 merge=true }}
              </li>

              <li class="separator group">
                <label for="Bedrijf">
                  <input id="Bedrijf" type="checkbox" name="name" class="bedrijf regelingsoort"
                    data-handler="toggle-extra-options"
                    data-options="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_EerstVerantwoordelijke_PBO"
                    data-set="which-types" />Regelingen publieke organisatie voor beroep en bedrijf
                </label>
              </li>

              <li class="listbreaker"></li>

              <li class="separator">
                <label for="Reglementen">
                  <input id="Reglementen" type="checkbox" name="name" data-set="which-types"
                    class=" regelingsoort" />Reglementen van de Staten-Generaal
                </label>
              </li>
            </ul>
          </li>
        </ul>
      </fieldset>

      <fieldset class="form__element checkboxgroup inline-group">
        <legend class="visually-hidden">Specifieker zoeken</legend>
        <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerBES" data-validation-field="OokBES" class="form__error" style="display:none;">U moet één van de volgende keuzes selecteren: 'Ook zoeken in regelingen BES' of 'Alleen zoeken in regelingen BES'.</p>
        <ul class="list--unstyled">
          <li class="separator">
            <label for="OokBES" class="inline-block">
              <input id="OokBES" type="checkbox" name="name" />Ook zoeken in regelingen Bonaire, Sint Eustatius en Saba
            </label>
            {{ render "@tooltip" tt2 }}
          </li>
          <li>
            <label for="AlleenBES" class="inline-block">
              <input id="AlleenBES" type="checkbox" name="name" />Alleen zoeken in regelingen Bonaire,
              Sint Eustatius en Saba
            </label>
            {{ render "@tooltip" tt4 }}
          </li>
        </ul>
        <ul>
          <li><a title="Europese regelingen" href="https://www.overheid.nl/home/europa/" rel="external"><span
                class="visually-hidden">Externe link:</span> Europese regelingen (EUR-Lex)</a></li>
          <li><a title="Decentrale regelgeving" href="https://zoek.overheid.nl/lokale_wet_en_regelgeving"
              rel="external"><span class="visually-hidden">Externe link:</span> Regelingen van provincies, gemeenten,<abbr
                title="Bonaire, Sint Eustatius en Sint Maarten">BES</abbr>, waterschappen en voormalige Nederlandse
              Antillen</a></li>
          <li><a title="Powersearch" href="http://powersearch.wetten.nl" rel="external"><span
                class="visually-hidden">Externe link:</span> Powersearch</a></li>
        </ul>
      </fieldset>
    </div>

    <div>
      <div class="form__chapter__heading">
        <h2 class="">Zoek op woord of zinsdeel</h2>
        {{ render "@tooltip" tt5 }}
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_Titel">In de titel</label>
          {{ render "@tooltip" tt6 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_Titel" class="input" placeholder="Bijv: bestuursrecht" />
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerTitel" data-validation-field="ZoekOp_Titel" class="form__error" style="display:none;"></p>

          <div class="form__element checkboxgroup inline-group">
            <ul class="list--unstyled">
              <li>
                <label for="ZoekOp_TitelExact">
                  <input id="ZoekOp_TitelExact" type="checkbox" name="name" checked="checked" data-handler="toggle-option"
                    data-for="ZoekOp_TitelAfkorting" />Exact zoeken
                </label>
              </li>
              <li>
                <label for="ZoekOp_TitelAfkorting">
                  <input id="ZoekOp_TitelAfkorting" type="checkbox" name="name" />Afkorting of volledige titel
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_Tekst">In de tekst</label>
          {{ render "@tooltip" tt7 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_Tekst" class="input" placeholder="Bijv: toeslag" />
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerTekst" data-validation-field="ZoekOp_Tekst" class="form__error" style="display:none;"></p>

          <div class="form__element checkboxgroup">
            <label for="ZoekOp_TekstExact">
              <input id="ZoekOp_TekstExact" type="checkbox" name="name" checked="checked" />Exact zoeken
            </label>
          </div>
        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="input--112312312">Zoek in onderdelen</label>
          {{ render "@tooltip" tt8 }}
        </div>
        <div class="form__element__inputs">
          <div class="form__element">
            {{ render "@subselection" ss4 merge=true }}
          </div>
          <div class="form__element checkboxgroup">
            <label for="ZoekOp_WTI">
              <input id="ZoekOp_WTI" type="checkbox" name="name" class="onderdeeltypeWti" />Wetstechnische informatie
            </label>
          </div>
        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_Artikelnummer">Artikelnummer</label>
          {{ render "@tooltip" tt9 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_Artikelnummer" class="input input--small" placeholder="Bijv: 3.7a" />
          <fieldset class="form__element radiogroup inline-group">
            <legend class="visually-hidden">Hoe wilt u zoeken </legend>
            <label for="ZoekOp_ArtikelnummerArtikel">
              <input id="ZoekOp_ArtikelnummerArtikel" type="radio" name="name1" value="ZoekOp_ArtikelnummerArtikel"
                checked="checked" title="Selecteer het veld waarbinnen gezocht wordt" />Artikel
            </label>
            <label for="ZoekOp_ArtikelnummerBijlage">
              <input id="ZoekOp_ArtikelnummerBijlage" type="radio" name="name1" value="ZoekOp_ArtikelnummerBijlage"
                title="Selecteer het veld waarbinnen gezocht wordt" />Bijlage (niet voor verdragen)
            </label>
          </fieldset>
        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_Wetsfamilie">Wetsfamilie</label>
          {{ render "@tooltip" tt10 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_Wetsfamilie" class="input input--small"
            placeholder="Bijv: grondwet" />
        </div>
      </div>

      <div class="form__chapter__heading">
        <h2 class="">Zoek op datum</h2>
        {{ render "@tooltip" tt11 }}
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="input--112312312">Regeling geldig op</label>
        </div>
        <div class="form__element__inputs">
          {{ render "@datepicker--today" dp1 merge=true }}

          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_rfvGeldigheidsdatum" data-validation-field="ZoekOp_Geldigheidsdatum" class="form__error" style="display:none;">Er is geen zoekdatum opgegeven.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerDatum" data-validation-field="ZoekOp_Geldigheidsdatum" class="form__error" style="display:none;">Er is een ongeldige zoekdatum opgegeven.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerDatum10102010" data-validation-field="ZoekOp_Geldigheidsdatum" class="form__error" style="display:none;">Er kan niet voor 10-10-2010 worden gezocht.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerDatum01052005" data-validation-field="ZoekOp_Geldigheidsdatum" class="form__error" style="display:none;">Er kan niet voor 1-5-2005 worden gezocht.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerDatum01012005" data-validation-field="ZoekOp_Geldigheidsdatum" class="form__error" style="display:none;">Er kan niet voor 1-1-2005 worden gezocht.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerDatum01052003" data-validation-field="ZoekOp_Geldigheidsdatum" class="form__error" style="display:none;">Er kan niet voor 1-5-2003 worden gezocht.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerDatum01052002" data-validation-field="ZoekOp_Geldigheidsdatum" class="form__error" style="display:none;">Er kan niet voor 1-5-2002 worden gezocht.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerDatumZichtdatum" data-validation-field="ZoekOp_Geldigheidsdatum" class="form__error" style="display:none;">Er kan niet na de zichtdatum worden gezocht.</p>
        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="input--192392138">Zichtdatum</label>
        </div>
        <div class="form__element__inputs">
          {{ render "@datepicker--today" dp2 merge=true }}

          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_rfvZichtdatum" data-validation-field="ZoekOp_Zichtdatum" class="form__error" style="display:none;">Er is geen zoekdatum opgegeven.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerZichtdatum" data-validation-field="ZoekOp_Zichtdatum" class="form__error" style="display:none;">Er is een ongeldige zoekdatum opgegeven.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerZichtdatum10102010" data-validation-field="ZoekOp_Zichtdatum" class="form__error" style="display:none;">Er kan niet voor 10-10-2010 worden gezocht.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerZichtdatum01052005" data-validation-field="ZoekOp_Zichtdatum" class="form__error" style="display:none;">Er kan niet voor 1-5-2005 worden gezocht.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerZichtdatum01052003" data-validation-field="ZoekOp_Zichtdatum" class="form__error" style="display:none;">Er kan niet voor 1-5-2003 worden gezocht.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerZichtdatum01052002" data-validation-field="ZoekOp_Zichtdatum" class="form__error" style="display:none;">Er kan niet voor 1-5-2002 worden gezocht.</p>

          <div class="form__element checkboxgroup inline-group">
            <label for="ZoekOp_OokMaterieel" class="inline-block">
              <input id="ZoekOp_OokMaterieel" type="checkbox" name="name" />Ook materieel uitgewerkte regelingen
            </label>
            {{ render "@tooltip" tt22 }}
          </div>
        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <strong>Scope</strong>
        </div>
        <div class="form__element__inputs">
          <fieldset class="form__element radiogroup inline-group">
            <label for="ZoekOp_DatumscopeRegeling">
              <input id="ZoekOp_DatumscopeRegeling" type="radio" name="name2" value="ZoekOp_DatumscopeRegeling"
                checked="checked" title="" />Regeling
            </label>
            <label for="ZoekOp_DatumscopeArtikel">
              <input id="ZoekOp_DatumscopeArtikel" type="radio" name="name2" value="ZoekOp_DatumscopeArtikel"
                title="" />Artikel
            </label>
          </fieldset>
        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <strong>Datum van</strong>
        </div>
        <div class="form__element__inputs">
          <fieldset class="form__element radiogroup inline-group">
            <ul class="list--unstyled">
              <li>
                <label for="ZoekOp_DatumtypeInwerkingtreding">
                  <input id="ZoekOp_DatumtypeInwerkingtreding" type="radio" name="name"
                    value="ZoekOp_DatumtypeInwerkingtreding" checked="checked" title="" />Inwerkingtreding
                </label>
              </li>
              <li>
                <label for="ZoekOp_DatumtypeOndertekening" class="inline-block">
                  <input id="ZoekOp_DatumtypeOndertekening" type="radio" name="name" value="ZoekOp_DatumtypeOndertekening"
                    title="" />Ondertekening
                </label>
                {{ render "@tooltip" tt12 }}
              </li>
              <li>
                <label for="ZoekOp_DatumtypeTotstandkoming" class="inline-block">
                  <input id="ZoekOp_DatumtypeTotstandkoming" type="radio" name="name"
                    value="ZoekOp_DatumtypeTotstandkoming" title="" />Totstandkoming
                </label>
                {{ render "@tooltip" tt13 }}
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
      <div class="form__element">
        <div class="form__element__label">
          <strong>Datumbereik</strong>
        </div>
        <div class="form__element__inputs">

          <div class="daterange">
              <div class="form__element">
                  <select name="" id="ZoekOp_Datumbereik" title="Bereik" class="input--small">
                    <option selected="selected" value="1">voor</option>
                    <option value="2">na</option>
                    <option value="3">tussen</option>
                    <option value="4">op</option>

                  </select>
                  <label for="ZoekOp_Startdatum"><span class="visually-hidden">Datum</span></label>
                  {{!-- {{ render "@datepicker" dp3 merge=true }} --}}
                  <div class="datepicker">
                      <input name="" type="date" id="ZoekOp_Startdatum" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker" data-config='{ "dateFormat" : "dd-mm-yy", "yearrange": "c-20:c+0" }' data-date="" />
                  </div>
                  <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerStartdatum" data-validation-field="ZoekOp_Startdatum" class="form__error" style="display:none;">Er is een ongeldige zoekdatum opgegeven.</p>
                  <div id="divEinddatum">
                      <label for="ZoekOp_Einddatum">t/m</label>
                      <div class="datepicker">
                          <input name="" type="date" id="ZoekOp_Einddatum" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker" data-config='{ "dateFormat" : "dd-mm-yy", "yearrange": "c-20:c+0" }' data-date="" />
                      </div>
                      {{!-- {{ render "@datepicker" dp4 merge=true }} --}}
                      <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerEinddatum" data-validation-field="ZoekOp_Einddatum" class="form__error" style="display:none;">Er is een ongeldige zoekdatum opgegeven.</p>
                  </div>

              </div>
          </div>
          {{!-- <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerStartdatum" class="form__error" style="display:none;">Er is een ongeldige zoekdatum opgegeven.</p> --}}
          {{!-- <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerEinddatum" class="form__error" style="display:none;">Er is een ongeldige zoekdatum opgegeven.</p> --}}
        </div>
      </div>
    </div>
  </div>
  <div class="container columns row">
    <div>
      <div class="form__chapter__heading">
        <h2 class="">Zoek op publicatie / thema</h2>
      </div>
      <div class="form__element">
        <div class="form__element__label">
          <span class="form__label form__label--accent">Gepubliceerd in</span>
          {{ render "@tooltip" tt14 }}
        </div>
        <div class="form__element__inputs">
          {{ render "@select-custom" sc1 }}

          {{ render "@input-text" inputtext1 merge=true }}

          {{ render "@input-text" inputtext2 merge=true }}

          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerBronPublicatie" data-validation-field="ZoekOp_BronPublicatie" class="form__error" style="display:none;">Kies bij een publicatie ook een publicatiejaar en publicatienummer.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerBronPublicatieJaarEnNummer" data-validation-field="ZoekOp_BronPublicatieNummer" class="form__error" style="display:none;">U kunt alleen op publicatiebron zoeken door blad, jaar en nummer in te voeren.</p>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerBronPublicatieJaar" data-validation-field="ZoekOp_BronPublicatieJaar" class="form__error" style="display:none;">Ongeldig publicatiejaar opgegeven.</p>
          {{!-- <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerBronPublicatieNummer" data-validation-field="ZoekOp_BronPublicatieNummer" class="form__error" style="display:none;">Ongeldig publicatienummer opgegeven.</p> --}}

        </div>
      </div>
      <div class="form__element">
        <div class="form__element__label">
          <span class="form__label form__label--accent">Overheidsthema's</span>
          {{ render "@tooltip" tt15 }}
        </div>
        <div class="form__element__inputs">
          {{ render "@subselection" ss5 }}
        </div>
      </div>
      <div class="form__element">
        <div class="form__element__label">
          <span class="form__label form__label--accent">Rechtsgebieden</span>

          {{ render "@tooltip" tt16 }}
        </div>
        <div class="form__element__inputs">
          {{ render "@subselection" ss6 }}
        </div>
      </div>
      <div class="form__element">
        <div class="form__element__label">
          <span class="form__label form__label--accent">Thema's verdragen</span>
          {{ render "@tooltip" tt17 }}
        </div>
        <div class="form__element__inputs">
          {{ render "@subselection" ss7 }}
        </div>
      </div>
    </div>
    <div>
      <div class="form__chapter__heading">
        <h2 class="">Zoek op nummer</h2>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_BWBID">BWB-ID</label>

          {{ render "@tooltip" tt18 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_BWBID" class="input--small" />
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerBWBID" data-validation-field="ZoekOp_BWBID" class="form__error" style="display:none;">U heeft geen geldig BWB-ID ingevoerd.</p>
        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_Kamerstuknummer">Kamerstuknummer</label>
          {{ render "@tooltip" tt19 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_Kamerstuknummer" class="input--small" />
        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_Kenmerk">Kenmerk regeling</label>
          {{ render "@tooltip" tt20 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_Kenmerk" class="input--small" />
        </div>
      </div>

      <div class="form__element">
        <div class="form__element__label">
          <label for="ZoekOp_JuriconnectID">Juriconnect-ID</label>
          {{ render "@tooltip" tt21 }}
        </div>
        <div class="form__element__inputs">
          <input name="name" type="text" id="ZoekOp_JuriconnectID" class="input--small" />
          <span id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerJuriconnectID" data-validation-field="ZoekOp_JuriconnectID" class="form__error" style="display:none;">U heeft geen geldig juriconnect-ID ingevoerd.</span>
        </div>
      </div>

      {{ render "@button" btnReset merge=true }}
      {{ render "@button" btnSave merge=true }}
      {{ render "@button--primary" btnSubmit merge=true }}
    </div>
  </div>
</form>

<div class="container row">
  <p>
    De informatie in dit onderdeel vormt geen bekendmaking in de zin van de Grondwet. Alleen publicatie in het
    Tractatenblad, het Staatsblad, de Staatscourant en andere vanwege de overheid verkrijgbaar gestelde publicatiebladen
    heeft een officieel
    karakter.
  </p>
</div>


{{ render "@footer" }}
