{{#if range}}
  <div>
    <label for="input--1">Van</label>
    <div class="datepicker">

      <input type="date" {{#if required}}required{{/if}} value="2015-02-14" data-date="13-02-2015" class="datepicker__input" data-decorator="init-datepicker"
        data-config='{ "dateFormat" : "{{#if configDateFormat}}{{configDateFormat}}{{else}}dd-mm-yy{{/if}}", "range" : "true", "rangePosition": "from", "rangeRelation":"#input--2" }' id="input--1" data-placeholder="{{ fieldPlaceholder }}" />
    </div>
  </div>
  <div>
    <label for="input--2">Tot</label>
    <div class="datepicker">

      <input type="date" {{#if required}}required{{/if}} value="2015-02-14" data-date="14-02-2015" class="datepicker__input" data-decorator="init-datepicker"
        data-config='{ "dateFormat" : "{{#if configDateFormat}}{{configDateFormat}}{{else}}dd-mm-yy{{/if}}", "range" : "true", "rangePosition": "to", "rangeRelation":"#input--1" }' id="input--2" data-placeholder="{{ fieldPlaceholder2 }}" />
    </div>
  </div>

{{else}}
  {{#if haslabel}}
    <label class="form__label{{#if labelmodifier}} form__label--{{labelmodifier}}{{/if}}" for="input--{{id}}">{{label}}</label>
  {{/if}}
  <div class="datepicker">
    <input type="date" {{#if required}}required{{/if}} {{#if disabled}}disabled{{/if}} value="{{value}}" data-date="{{datavalue}}" class="datepicker__input {{#if inputclass}}{{inputclass}}{{/if}}" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "{{#if configDateFormat}}{{configDateFormat}}{{else}}dd-mm-yy{{/if}}"{{#if yearrange}}, "yearrange": "{{yearrange}}"{{/if}} }' id="input--{{ id }}" data-placeholder="{{ fieldPlaceholder }}" />
  </div>
{{/if}}
{{#if selectToday}}
  <a {{#if todayId}}id="{{todayId}}"{{/if}} href="#" data-handler="select-today" data-for="input--{{id}}">Vandaag</a>
{{/if}}

