{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

<div class="container" role="main" id="content">

  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}

    <form>
      <fieldset>
        <legend class="visually-hidden">Zoek een publicatie</legend>
        <div class="columns">
          <div class="column column-d-6">
            <div class="form__row">
              {{ render "@input-text" searchterm }}
            </div>
          </div>
          <div class="column column-d-6">
            <div class="form__row">
              {{ render "@select-custom--with-label" selectContext merge=true }}
            </div>
          </div>
        </div>
        <div class="form__rowsubmit">
          <div class="form__rowsubmit__item">
            {{ render "@button" buttonSubmit }}
          </div>
          <div class="form__rowsubmit__item">
            {{render "@link--cta" linkPar merge=true }}
          </div>
        </div>
      </fieldset>
    </form>

    {{/@jumbotron}}

  </div>

  <div class="row row--container">

    {{ render "@block-cards" }}

  </div>


  <div class="row row--container">

    {{!-- <div class="columns"> --}}
    {{!-- <div class="container columns columns--sidebar-left row"> --}}
    <div class="containe columns columns--1-2rd">
      <div class="">
        {{ render "@block" block }}
      </div>
      <div class="">
        {{ render "@resultlist" resultlist }}
      </div>
    </div>

  </div>


</div>

{{ render "@footer" }}
