<div class="breadcrumb">
  <p>{{ title }}</p>
  <ol>
    {{#each breadcrumb}}
    <li>
      {{#if url }}
        <a href={{ url }}>{{ text }}</a></li>
      {{else }}
        {{ text }}
      {{/if }}
    </li>
    {{/each}}
  </ol>
</div>