{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row" id="content" role="main">
  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}

        <div class="form__row form__row--xlarge">

            <div data-decorator="init-form-conditionals">
              <div id="citem-1" class="js-form-conditionals__citem">
                <div class="form__row form__row--large">
                  {{ render "@input-group" zoekeninContext merge=true }}
                </div>
              </div>
              <div id="citem-2" class="js-form-conditionals__citem">
                <form class="form" data-decorator="init-form-validation">
                  <fieldset>
                    <legend class="visually-hidden">Doorzoek alle lokale wet- en regelgeving via Persoon</legend>
                    <div class="columns">
                      <div class="column column-d-3">
                        <div class="form__row">
                          {{render "@input-text" TussenvoegselContext }}
                        </div>
                      </div>
                      <div class="column column-d-6">
                        <div class="form__row">
                          {{render "@input-text" AchternaamContext }}
                        </div>
                      </div>
                      <div class="column column-d-3">
                        <div class="form__row">
                          {{render "@datepicker" datepickerContext }}
                        </div>
                      </div>
                    </div>
                    <div class="columns columns--vcenter">
                      <div class="column">
                        <a href="#" class="cta">Alle oproepen en aankondigingen bekijken</a>
                      </div>
                      <div class="column align-right">
                        <button type="submit" class="button button--primary">Zoeken</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
              <div id="citem-3" class="js-form-conditionals__citem">
                <form class="form" data-decorator="init-form-validation">
                  <fieldset>
                    <legend class="visually-hidden">Doorzoek alle lokale wet- en regelgeving via Bedrijf</legend>
                    <div class="form__row">
                      {{render "@input-text" bedrijfContext }}
                    </div>
                    <div class="columns columns--vcenter">
                      <div class="column">
                        <a href="#" class="cta">Alle oproepen en aankondigingen bekijken</a>
                      </div>
                      <div class="column align-right">
                        <button type="submit" class="button button--primary">Zoeken</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </fieldset>
        </div>




      </form>
    {{/@jumbotron}}

  </div>

</div>

{{ render "@footer" }}
