{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container">

  <div class="row row--xxlarge">

    {{#> @jumbotron jumbotronContext }}
      <form class="form" data-decorator="init-form-validation">
        <fieldset>
          <legend class="visually-hidden">E-mailadres</legend>
          <div class="form__row">
            <div class="columns">
              <div class="column column-d-4">
                {{render "@input-text" inputPostcodeContext }}
              </div>
              <div class="column column-d-8">
                {{render "@input-text" zoektermContext }}
              </div>
            </div>
          </div>
        </fieldset>
        <div class="">
          <div class="columns">
            <div class="u-order--d2 align-right form__row">
              <button type="submit" class="form__button button button--primary">Zoeken</button>
            </div>
            <div class="u-order--d1 u-nomargin">
              <a href="/components/preview/templates-att-homepage" class="cta">Uitgebreid zoeken</a>
            </div>
          </div>
        </div>
      </form>
    {{/@jumbotron}}

  </div>

  <div class="container container--centered">
    <div class="row">
      <h2 class="row__heading">Levensgebeurtenissen</h2>
      <p class="row__intro">
         Verschillende momenten in uw leven hebben gevolgen voor uw relatie met de overheid. Controleer welke wijzigingen in belastingen en rechten op inkomen van de overheid op u van toepassing zijn, wat er van u verwacht wordt en hoe u een en ander kunt regelen.
      </p>
      <ul class="list list--iconedcontainer">
        <li class="list__item list__item--kids">
          <h3 class="list__item__header">Ouder &amp; Kind</h3>
          <p class="list__item__intro">
             Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare
            vel eu leo.
          </p>
          <div class="row columns columns--gutter-med">
            {{ render "@block" block1Context }}
            {{ render "@block" block2Context }}
          </div>
          <div class="columns  columns--gutter-med">
            {{ render "@block" block2Context }}
            <div></div>
          </div>
        </li>
        <li class="list__item list__item--people">
          <h3 class="list__item__header">Levensfase</h3>
          <p class="list__item__intro">
             Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare
            vel eu leo.
          </p>
          <div class="columns  columns--gutter-med">
            {{ render "@block" block1Context }}
            {{ render "@block" block2Context }}
          </div>
        </li>
        <li class="list__item list__item--finance">
          <h3 class="list__item__header">Financieel</h3>
          <p class="list__item__intro">
            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare
            vel eu leo.
          </p>
          <div class="columns  columns--gutter-med">
            {{ render "@block" block1Context }}
            {{ render "@block" block2Context }}
          </div>
        </li>
        <li class="list__item list__item--living">
          <h3 class="list__item__header">Wonen</h3>
          <p class="list__item__intro">
            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare
            vel eu leo.
          </p>
          <div class="columns  columns--gutter-med">
            {{ render "@block" block1Context }}
            {{ render "@block" block2Context }}
          </div>
        </li>
        <li class="list__item list__item--family">
          <h3 class="list__item__header">U &amp; uw partner</h3>
          <p class="list__item__intro">
            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare
            vel eu leo.
          </p>
          <div class="columns  columns--gutter-med">
            {{ render "@block" block1Context }}
            {{ render "@block" block2Context }}
          </div>
        </li>
      </ul>
  </div>
</div>

<!-- why? -->
</div>

{{ render "@footer" }}
