<table class="{{ modifier }}" {{#if describedby}}aria-describedby="{{describedby}}"{{/if}}>
{{#if caption }}
  <caption>{{ caption }} </caption>
{{/if}}
<thead>
  {{#each items }}
  {{#if @first}}
  <tr>
    {{#each item }}
    <th scope="col">{{ type }}</th>
    {{/each}}
  </tr>
  {{/if}}
  {{/each }}
</thead>
<tbody>
  {{#each items }}
  <tr>
    {{#each item }}
      {{#if cellType }}
      <td data-before="{{ type }}" class="status {{ cellType }}"><span>{{{ value }}}</span></td>
      {{ else if download }}
        <td data-before="{{ type }}" class="status"><a href="#">{{{ value }}}</a></td>
      {{ else }}
       <td data-before="{{ type }}">{{{ value }}}</td>
      {{/if }}
    {{/each }}
  </tr>
  {{/each }}
</tbody>
</table>
