{{!-- <fieldset class="form__element checkboxgroup {{ modifier }}">
  <legend>
    {{ fieldLabel }}

    {{#if explanation}}
      {{ render "@question-explanation" }}
    {{/if}}
  </legend>
  <ul class="list--unstyled">
    {{#each options }}
      <li>
        <input class="checkbox__input" type="checkbox" id="option-{{ id }}" name="{{ ../name }}" {{ status }} value="{{ text }}"/>
        <label class="checkbox__label" for="option-{{ id  }}">
          {{ text }}
        </label>
      </li>
    {{/each}}
  </ul>
</fieldset> --}}
{{#each options }}
<div class="input-checkbox">
  <input class="checkbox__input" type="checkbox" id="option-{{ id }}" name="{{ name }}" {{ status }} value="{{ text }}"
  />
  <label class="checkbox__label" for="option-{{ id  }}">
    {{ text }}
  </label>
</div>
{{/each}}
