<fieldset class="form__element checkboxgroup {{ modifier }}">
  <legend>{{ fieldLabel }} </legend>
  <ul class="list--unstyled">
    {{#each options }}
      <li>
        <label for="option-{{ id  }}">
          <input type="checkbox" id="option-{{ id }}" name="{{ ../name }}" />
          <span></span>
          {{ text }}
        </label>
      </li>
    {{/each}}
  </ul>
</fieldset>
