<fieldset class="form__element checkboxgroup {{ modifier }}">
  <legend>{{ fieldLabel }} </legend>
  <ul class="list--unstyled">
    {{#each options }}
      <li>
        <input class="checkbox__input" type="checkbox" id="option-{{ id }}" name="{{ ../name }}" {{ status }} value="{{ text }}"/>
        <label class="checkbox__label" for="option-{{ id  }}">
          {{ text }}
        </label>
      </li>
    {{/each}}
  </ul>
</fieldset>
