<a class="button {{ modifier }}" href="{{ action }}" role="button">{{ text }}</a>
<button class="button {{ modifier }}" type="submit">{{ text }}</button>
<input class="button {{ modifier }}" type="button" value="{{ text }}" />
<input class="button {{ modifier }}" type="submit" value="{{ text }}" />