<div class="article__header--law {{ modifier }}">
  {{#if useTitle}}
    <{{titleTag}}>{{ counter }}</{{titleTag}}>
  {{ else }}
    <p class="intro--text"> {{ activeFrom }}</p>
  {{/if}}
  <ul>
    <li class="action--relations">{{ relationsAmount }}<a href="#"><span>Relaties</span> <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--permalink"><a href="#"><span>Permanente link</span><span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--version"><a href="#"><span>Versie informatie</span> <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--compare"><a href="#"><span>Versie vergelijk</span> <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--print"><a href="#"><span>Print</span> <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--download"><a href="#"><span>Bewaar</span> <span class="visually-hidden">{{ counter }}</span></a></li>
  </ul>
  {{#if useTitle }}
    <p>{{ activeFrom }}</p>
  {{/if}}
</div>
