<div class="article__header--law {{ modifier }}">
  {{#if useTitle}}
    <{{titleTag}}>{{ counter }}</{{titleTag}}>
  {{ else }}
    <p class="intro--text"> {{ activeFrom }}</p>
  {{/if}}
  <ul>
    <li class="action--relations">{{ relationsAmount }}<a href="{{#if relationsHref}}{{relationsHref}}{{else}}#{{/if}}" data-decorator="init-modal" data-handler="open-modal" data-modal="{{relationsModalId}}"><span>Relaties</span> <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--permalink"><a href="{{#if permalinkHref}}{{permalinkHref}}{{else}}#{{/if}}" data-decorator="init-modal" data-handler="open-modal" data-modal="{{permalinkModalId}}"><span>Permanente link</span><span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--version"><a href="{{#if versionHref}}{{versionHref}}{{else}}#{{/if}}"><span>Versie informatie</span> <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--compare"><a href="{{#if compareHref}}{{compareHref}}{{else}}#{{/if}}" data-decorator="init-modal" data-handler="open-modal" data-modal="{{compareModalId}}"><span>Versie vergelijk</span> <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--print"><a href="{{#if printHref}}{{printHref}}{{else}}#{{/if}}" data-decorator="init-modal" data-handler="open-modal" data-modal="{{printModalId}}"><span>Print</span> <span class="visually-hidden">{{ counter }}</span></a></li>
    <li class="action--download"><a href="{{#if exportHref}}{{exportHref}}{{else}}#{{/if}}" data-decorator="init-modal" data-handler="open-modal" data-modal="{{exportModalId}}"><span>Bewaar</span> <span class="visually-hidden">{{ counter }}</span></a></li>
  </ul>
  {{#if useTitle }}
    <p>{{ activeFrom }}</p>
  {{/if}}
</div>
