{{ render "@header" headerContext merge="true" }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container">
  <div class="">
    <ul class="tabs__list">
      <li role="presentation">
        <a href="#panel-1" data-handler="open-panel" role="tab" id="tab-1" aria-controls="panel-1" aria-selected="false">Nieuw</a>
      </li>
      <li role="presentation">
        <a href="#panel-2" data-handler="open-panel" role="tab" id="tab-2" aria-controls="panel-2" aria-selected="false">Zoeken</a>
      </li>
      <li role="presentation">
        <a href="#panel-3" data-handler="open-panel" role="tab" id="tab-3" aria-controls="panel-3" aria-selected="true">Zoeken binnen domein</a>
      </li>
    </ul>
  </div>
</div>

<div class="container row ">
  <h1>Zoeken binnen domein</h1>
   {{ render "@actionblock" actionblockContext }}
   {{ render "@actionblock" actionblockContext2 }}
</div>




{{ render "@footer" }}
