<div class="row row--spacer">
  <h1>
    Formulier validatie
  </h1>
  <p>
    Automatische formulier validatie, die werkt met de HTML5 attributen én een regex pattern.
  </p>

  <h2>Implementatie</h2>
  <ol class="list">
    <li>Voeg de decorator toe aan het form-element
      <pre>
        &lt;form class="form" <strong>data-decorator="init-form-validation"</strong>&gt;&lt;/form&gt;
      </pre>
    </li>
    <li>
      Voeg 'required' toe aan het input-veld.
      <pre>
        &lt;input type="{type}" <strong>required</strong> /&gt;
      </pre>
    </li>
    <li>
      Optioneel, voeg één van de onderstaande type validatie toe per veld.
      <ul class="list">
        <li>HTML5 input-types:
          <ul>
            <li><code>input="text"</code></li>
            <li><code>input="number"</code></li>
            <li><code>input="tel"</code></li>
            <li><code>input="url"</code></li>
            <li><code>input="email"</code></li>
          </ul>
        </li>
        <li>Regex pattern, bijvoorbeeld: <code>pattern="^[0-9]+$"</code></li>
        <li>Voorgedefineerde patterns: <code>data-pattern-type="zipcode"</code>, <code>data-pattern-type="number"</code></li>
      </ul>
    </li>
    <li>
      <p>Optioneel, extra configuratie opties. De onderstaande opties zijn beschikbaar op een 'input' en 'textarea' element.</p>
      <ul>
        <li>Minimale / maximale waarde: <code>min</code> and <code>max</code></li>
        <li>Aangepaste foutmelding: <code>title="{melding}"</code> (alleen te gebruiken in combinatie met een 'pattern'-validatie.</li>
      </ul>
    </li>
  </ol>


  {{!-- <p>
    Form validation has been made available to the following fields:
  </p>
  <ul>
    <li>Input (type=text, password, number, email)</li>
    <li>Textarea</li>
    <li>Radio button</li>
    <li>Checkbox</li>
    <li>Select / customselect</li>
    <li>Subselection</li>
  </ul> --}}
<hr>
</div>

<div class="container">
<h2>Voorbeeld implementatie van de velden en opties</h2>

<form class="form" data-decorator="init-form-validation">
  <fieldset>
    <legend class="visually-hidden">Voorbeeld formulier</legend>

    

    <div class="form__row">
      <a href="https://www.google.nl">Random link</a>
    </div>

    <div class="columns ">
      <div class="column">
        <h3>Input text</h3>
        <div class="form__row well">
          <fieldset>
            <legend><span class="visually-hidden">Input (text) - </span>Niet verplicht</legend>
              <pre>
                type="text"
              </pre>
              {{ render "@input-text" inputtext1 merge=true }}
            </fieldset>
        </div>
        <div class="form__row well">
          <fieldset>
            <legend><span class="visually-hidden">Input (text) - </span>Niet verplicht, met regex (nummer) controle.</legend>
              <pre>
                type="text" pattern="^[0-9]+$"
              </pre>
              {{ render "@input-text" inputtext111 merge=true }}
            </fieldset>
        </div>
        <div class="form__row well">
          <fieldset>
            <legend><span class="visually-hidden">Input (text) - </span>Niet verplicht, met standaard pattern: alleen cijfers.</legend>
              <pre>
                type="text" data-pattern-type="number"
              </pre>
              {{ render "@input-text" inputtext1111 merge=true }}
            </fieldset>
        </div>
        <div class="form__row well">
          <fieldset>
            <legend><span class="visually-hidden">Input (text)</span> Verplicht</legend>
              <pre>
                type="text" required
              </pre>
              <div class="form__row">
                {{ render "@input-text" inputtext11 merge=true }}
              </div>
            </fieldset>
        </div>
        <div class="form__row well">
          <fieldset>
            <legend><span class="visually-hidden">Input (text) - </span>Regex: alleen cijfers</legend>
              <pre>
                type="text" pattern="^[0-9]+$" required
              </pre>
              <div class="form__row">
                {{ render "@input-text" inputtext2 merge=true }}
              </div>
              {{!-- <label for="tf1">Text field 1</label> --}}
              {{!-- <input type="text" name="tf1" id="tf1" value="" pattern="^[0-9]+$" required> --}}
            </fieldset>
        </div>

        <div class="form__row well">
          <fieldset>
            <legend><span class="visually-hidden">Input (text) - </span>Standaard pattern: alleen cijfers</legend>
            <pre>
                type="text" data-pattern-type="number" required
            </pre>
            <div class="form__row">
              {{ render "@input-text" inputtext3 merge=true }}
            </div>
          </fieldset>
        </div>

        <div class="form__row well">
          <fieldset>
            <legend><span class="visually-hidden">Input (text) - </span>Standaard pattern: postcode </legend>
            <pre>
                type="text" data-pattern-type="zipcode" required
            </pre>
            <div class="form__row">
                {{ render "@input-text" inputtext4 merge=true }}
              </div>
          </fieldset>
        </div>

        <div class="form__row well">
          <fieldset>
            <legend><span class="visually-hidden">Input (text) - </span>Standaard pattern: postcode + handmatige foutmelding</legend>
            <p>Handmatige foutmelding werkt alleen in combinatie met een regex or standaard pattern.</p>
            <pre>
                type="text" data-pattern-type="zipcode" title="(handmatige melding) Het veld is incorrect ingevuld. Voorbeeld invoer: 1234AB" required
            </pre>
            <div class="form__row">
                {{ render "@input-text" inputtext44 merge=true }}
              </div>
          </fieldset>
        </div>

        <h3>Input nummer</h3>
        <div class="form__row well">
          <fieldset>
            <legend><span class="visually-hidden">Input (nummer)</span> Standaard</legend>
            <pre>
                type="number" required
            </pre>
            <div class="form__row">
              {{ render "@input-text--number" inputnumber merge=true }}
            </div>
          </fieldset>
        </div>

        <div class="form__row well">
          <fieldset>
            <legend><span class="visually-hidden">Input (nummer)</span> Min / max</legend>
            <pre>
                type="number" min="5" max="20" required
            </pre>
            <div class="form__row">
              {{ render "@input-text--number" inputnumber2 merge=true }}
            </div>
          </fieldset>
        </div>

        <h3>Input e-mail</h3>
        <div class="form__row well">
          <fieldset>
            <legend class="visually-hidden">Input (email)</legend>
            <pre>
                type="email" required
            </pre>
            <div class="form__row">
              {{ render "@input-text--email" inputemail merge=true }}
            </div>
          </fieldset>
        </div>

        <h3>Input URL</h3>
        <div class="form__row well">
          <fieldset>
            <legend class="visually-hidden">Input (url)</legend>
            <pre>
                type="url" required
            </pre>
            <div class="form__row">
              {{ render "@input-text--url" inputurl merge=true }}
            </div>
          </fieldset>
        </div>

        <h3>Input tel</h3>
        <div class="form__row well">
          <fieldset>
            <legend class="visually-hidden">Input (tel)</legend>
            <p>HTML5 valideert niet automatisch een tel veld, vandaar het gebruik van een pattern-type.</p>
            <pre>
                type="tel" data-pattern-type="tel" required
            </pre>
            <div class="form__row">
              {{ render "@input-text--tel" inputtel merge=true }}
            </div>
          </fieldset>
        </div>

        <h3>Datepicker</h3>
        <div class="form__row well">
            <pre>
                data-pattern-type="date" required
            </pre>
          {{render "@datepicker" datepicker }}
        </div>        
        
      </div>
      <div class="column">
        <h3>Subselection</h3>

        <div class="form__row well">
          <fieldset>
            <legend><span class="visually-hidden">Subselection </span>Niet verplicht</legend>
            <h3 class="form__sublegend">Rondom een woonplaats</h3>
            {{render "@subselection" rondomadres1Context }}
          </fieldset>
        </div> 

        <div class="form__row well">
          {{!-- <fieldset data-decorator="init-form-disregardchanges"> --}}
          <fieldset>
            <legend><span class="visually-hidden">Subselection </span>met radio buttons</legend>
            <p>Voeg de class <code>required</code> toe aan de div: <code>.subselection__summary</code></p>
            <h3 class="form__sublegend">Selecteer gemeenten</h3>
            {{render "@subselection" subselectionContext}}
          </fieldset>
        </div>

        <div class="form__row well">
          <fieldset data-decorator="init-form-disregardchanges">
          {{!-- <fieldset> --}}
            <legend><span class="visually-hidden">Subselection </span>met checkboxes</legend>
            <p>Voeg de class <code>required</code> toe aan de div: <code>.subselection__summary</code></p>
            <h3 class="form__sublegend">Rondom een adres</h3>
            {{render "@subselection" rondomadresContext }}
          </fieldset>
        </div>

        <div class="form__row well">
          <fieldset data-decorator="init-form-disregardchanges">
          {{!-- <fieldset> --}}
            <legend><span class="visually-hidden">Subselection </span>uitgebreid</legend>
            <p>Voeg de class <code>required</code> toe aan de div: <code>.subselection__summary</code></p>
            <h3 class="form__sublegend">Rondom een adres</h3>
            {{render "@subselection--with-catagories-and-select-all" ssContext merge=true }}
          </fieldset>
        </div>

        

        <h3>Custom select</h3>
        <div class="form__row well">
          <fieldset>
            <legend class="visually-hidden">Custom select </legend>
            <pre>
                &lt;select required&gt;
            </pre>
            <div class="form__row">
              {{ render "@select-custom" sc1 }}
            </div>
          </fieldset>
        </div>

        <h3>Checkbox</h3>
        <div class="form__row well">
          <fieldset>
            <legend class="visually-hidden">Checkbox</legend>
            <pre>
                type="checkbox" required
            </pre>
            <div class="form__row">
              {{ render "@input-checkbox" inputcheckbox1 merge=true }}
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    

    

    

    {{!-- <div class="form__row" data-radiogroup-title="Radius zoekgeschiedenis">
      <p class="form__label">Radius zoekgeschiedenis</p>
      <div class="input-radio">
        <input class="radio__input" value="" type="radio" id="option-32" checked name="goor" required>
        <label class="radio__label" for="option-32">All groups</label>
      </div>
      <div class="input-radio">
        <input class="radio__input" value="" type="radio" id="option-3" name="goor" required>
        <label class="radio__label" for="option-3">Group item 1</label>
      </div>
      <div class="input-radio">
        <input class="radio__input" value="" type="radio" id="option-4" name="goor" required>
        <label class="radio__label" for="option-4">Group item 2</label>
      </div>
      <div class="input-radio">
        <input class="radio__input" value="" type="radio" id="option-5" name="goor" required>
        <label class="radio__label" for="option-5">Group item 3</label>
      </div>
    </div> --}}

    
    
    <input type="submit" class="button button--primary" value="Verzend formulier">

  </fieldset>
</form>
</div>
{{!-- <style>
  .form__row {
    border: 1px solid grey;
    padding: 24px;
    margin: 16px;
  }
</style> --}}
