{{ render "@header" headerContext }}

<main role="main">
  <div class="container columns columns--sidebar-left row">
    <div>
      <h1>Mijn Wettenpocket</h1>
      <div class="well">
        {{render "@definitionlist" definitionContext}}
      </div>

      <p>Hier staat een korte omschrijving van deze pocket en welke informatie je erin kunt vinden.</p>

      {{render "@table" tableLawContext}}

      {{render "@table" tableDecentralContext}}

      {{render "@table" tableDocsContext}}

      <h2>Links</h2>
      <p><a href="https://nu.nl">Informatiesite Wettenpocket</a></p>
    </div>


    <div>
      <h3 class="facet--heading">Subnavigatie</h3>
      <nav class="secundairy-navigation">
        {{ render "@list" navlistContext }}
      </nav>
      <h3 class="facet--heading">Wettenpocket</h3>
      <nav class="secundairy-navigation">
        {{ render "@list" navPocket }}
      </nav>
      <h3 class="facet--heading">Acties</h3>
      {{render '@actionblock' actionContext}}
    </div>
  </div><!-- /container -->
</main>

{{ render "@footer" }}
