{{ render "@header" headerContext }}

<main role="main">
  <div class="container columns columns--sidebar-left row">
    <div>
      <h1>Wettenpockets in bewerking</h1>
      <p>Wettenpockets die door u gemaakt zijn</p>

      {{render "@resultlist" resultsContext}}

      {{!-- {{render "@pagination" paginationContext}} --}}
    </div>


    <div>
      <h3>Subnavigatie</h3>
      <nav class="secundairy-navigation">
        {{ render "@list" navlistContext }}
      </nav>
    </div>

  </div><!-- /container -->
</main>

{{ render "@footer" }}
