{{ render "@header" headerContext }}

<main role="main">
  <div class="container columns columns--sidebar-left row">
    <div>
      <h1>Zoeken naar wettenpockets</h1>
      <div class="well">
        <form>
          <fieldset>
            <legend>Titel of omschrijving</legend>
            <div class="form__element">
              <label for="input-text-trefwoord">Trefwoord</label>
              {{render '@input-text' firstInputContext}}
            </div>
          </fieldset>
          <fieldset>
            <legend>Wijze van samenstellen</legend>
            {{render '@select' typeSelectContext}}
            {{render '@select' fieldSelectContext}}
          </fieldset>
          <fieldset>
            <legend>Gepubliceerd door</legend>
            {{render '@select' publisherSelectContext}}
            <div class="form__element">
              <label for="input-text-auteur">Auteur</label>
              {{render '@input-text' authorInputContext}}
            </div>
          </fieldset>
          {{render '@button' buttonContext}}
        </form>
      </div>
    </div>


    <div>
      <h2>Subnavigatie</h2>
      <nav class="secundairy-navigation">
        {{ render "@list" navContext }}
      </nav>
    </div>

  </div><!-- /container -->
</main>

{{ render "@footer" }}
