{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

<div class="container" role="main" id="content">

  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}

    <form>
      <fieldset>
        <legend class="visually-hidden">Zoek een publicatie</legend>
        <div class="form__row">
          {{ render "@input-text" searchterm }}
        </div>
        <div class="form__rowsubmit">
          <div class="form__rowsubmit__item">
            {{ render "@button" buttonSubmit }}
          </div>
        </div>
      </fieldset>
    </form>

    {{/@jumbotron}}

  </div>

  <div class="row row--xxlarge">
    <h2 class="row__heading">Direct naar</h2>
    <div class="columns columns--gutter-med">
      <div class="column">
        {{ render "@list--action" list1 merge=true }}
      </div>
      <div class="column">
        {{ render "@list--action" list2 merge=true }}
      </div>
    </div>

  </div>

  <div class="row row--xlarge">
    <div class="columns columns--gutter-med">
      <div class="column">
        {{ render "@block" blockIntro }}
      </div>
      {{!-- <div class="block-content block-content--highlight block-content--flexed">
        <p class="block-content__subheading">Vragen</p>
        <h3 class="block-content__heading">Onduidelijkheden, vragen of opmerkingen over regelingen?</h3>
        <a href="#" class="block-content__cta cta">Neem contact op</a>
      </div> --}}
      <div class="column">
      {{#> @block blockOrganisatiesBuiten }}
        <p>Het onderdeel Overheidsorganisaties bevat alleen gegevens van Nederlandse overheden. Een aantal organisaties die niet tot de Nederlandse overheid worden gerekend, vindt u hieronder.</p>
        {{ render "@list--linklist" listBuiten merge=true }}
      {{/@block}}
      </div>
    </div>
  </div>

</div>


{{ render "@footer" }}
