<button {{#if id}}id="{{id}}"{{/if}} class="button-icon {{ modifier }}" type="{{#if type}}{{type}}{{else}}button{{/if}}" {{ disabled }} {{{arguments}}}>
  <span class="visually-hidden">{{ text }}</span>
</button>
