{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container columns row">
  <div>
    <h2>Zoek op locatie</h2>
    <h3>Zoek op locatie</h3>
    <p>Typ de postode waarvoor u bekendmakingen wilt vinden.</p>
    {{ render '@input-text--postal-code' }}
    {{ render '@input-radio' postalCodeStraal merge="true" }}
    <h2>Organisaties</h2>
    {{ render '@multi-select' gemeenteSelect  }}
    {{ render '@multi-select' provinceSelect  }}
    {{ render '@input-checkbox--many' waterschappen }}
    {{ render '@multi-select' regionalOrgsSelect  }}
  </div>
  <div>
    <h2>Zoek op woord of zinsdeel</h2>
    <p>Typ een of meer woorden die exact zo moeten voorkomen in de tekst.</p>
    <h2>Zoek op onderwerp</h2>
    {{ render '@input-text' searchSubject }}
    <h2>Zoek op onderwerp</h2>
    <h2>Zoek op datum</h2>
    <p>Kies de periode waarbinnen de bekendmakingen zijn gepubliceerd.</p>
    {{ render '@input-radio' timeScale merge="true" }}
  </div>
</div>

{{ render "@footer" }}
