{{#if heading }}
  <h4 class="facet--heading">{{ heading }}</h4>
{{/if }}

{{#if orderedList }}
  <ol class="{{ modifier }}">
{{else}}
  <ul class="{{ modifier }}">
{{/if }}
  {{#each items }}
    <li>{{{ text }}}</li>
    {{#if subitems }}
      <ul>
      {{#each subitems }}
        <li>{{{ text }}}</li>
      {{/each }}
      </ul>
    {{/if }}
  {{/each }}
{{#if orderedList }}
  </ol>
{{else}}
  </ul>
{{/if }}
