<div class="browse {{ modifier }}">
  {{#if title }}<h2>{{ title }}</h2>{{/if}}
  {{#if intro }}<p>{{ intro }}</p>{{/if}}
  {{#if items }}
  <ul class="browse__list">
    {{#each items }}
    <li class="browse__item{{#if state}} browse__item--{{state}}{{/if}}{{#if mother}} browse__item--arrowed{{/if}}">
      <a href="{{ link }}" {{#if aria-label}}aria-label="{{aria-label}}"{{/if}}>
      {{#if icon }}
      <img src="../../images/{{ icon }}" alt="" role="presentation" />
      {{/if}}
      {{ text }}
      {{#if count }}
      <span class="browse__count">({{ count }})<span class="visually-hidden"> {{ count_context }}</span></span>
      {{/if}}
      </a>
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div>
