<ul id="{{id}}" class="list--sources">
	{{#each items }}
		<li>
			<div class="list--source__information {{icon}}">
				{{ name }}
        <span class="list--sources__item__filesize">{{ filesize }}</span>
				{{#if files }}
					{{#each files }}
						<span class="label label--{{ type }}">{{ type}}</span>
					{{/each}}
				{{/if}}
			</div>

      {{#if buttonContext/action}}
      <a href="{{buttonContext/action}}" class="button {{buttonContext/modifier}}">{{buttonContext/text}}
        <span class="visually-hidden">van abonnement: {{name}}</span>
      </a>
      {{/if}}

			{{!-- {{ render "@button" buttonContext }} --}}
      {{#if actionsOne}}
        <div class="list--sources__actions" data-decorator="init-form-conditionals" data-config='{"questionIdTag": "#{{idprefix}}"}'>
          <div id="{{idprefix}}1" class="js-form-conditionals__citem">
            {{actionsOneLabel}}
            {{#each actionsOne }}
              {{#if iconOnly}}
                <button class="button-icon button-icon--plain button-icon--bin js-button-next" data-linkedto="{{linkedto}}" data-triggeresponds="{{triggeresponds}}" data-hideself="{{hideself}}"><span class="visually-hidden">{{label}}</span></button>
              {{else}}
                <button class="button {{buttonContext/modifier}} js-button-next" data-linkedto="{{linkedto}}" data-triggeresponds="{{triggeresponds}}" data-hideself="{{hideself}}">{{label}}</button>
              {{/if}}
            {{/each}}
          </div>
          <div id="{{idprefix}}2" class="js-form-conditionals__citem">
            <em>{{actionsTwoLabel}}</em>
            {{#each actionsTwo }}
              {{#if iconOnly}}
                <button class="button {{buttonContext/modifier}} js-button-next" data-linkedto="{{linkedto}}" data-triggeresponds="{{triggeresponds}}" data-triggerLastStep="{{triggerLastStep}}" data-hideself="{{hideself}}"><span class="visually-hidden">{{label}}</span></button>
              {{else}}
                <button class="button {{buttonContext/modifier}} js-button-next" data-linkedto="{{linkedto}}" data-triggeresponds="{{triggeresponds}}" data-triggerLastStep="{{triggerLastStep}}" data-hideself="{{hideself}}">{{label}}</button>
              {{/if}}
            {{/each}}
          </div>
          <div id="{{idprefix}}3" class="js-form-conditionals__citem">
            {{actionsThreeLabel}}
            {{#each alternativeActions }}
              <button class="button {{buttonContext/modifier}} js-button-next" data-linkedto="{{linkedto}}" data-triggeresponds="{{triggeresponds}}" data-triggerLastStep="{{triggerLastStep}}" data-hideself="{{hideself}}">{{label}}</button>
            {{/each}}
          </div>
        </div>
      {{else}}

      {{/if}}


			{{#if moreInfo }}
				<div class="collapsible collapsible--small" data-decorator="init-collapsible" id="c1">
				  <div class="collapsible__header">
				    <a href="#c1" aria-controls="collapsible-content-1" aria-expanded="true" data-handler="toggle-collapsible" data-text="show/hide">toon informatie</a>
				  </div>
				  <div class="collapsible__content" id="collapsible-content-1">
				  	<div>
					  	<h3>{{ title }}</h3>
					  	<div class="well well--linkContainer">{{ link }}</div>
							{{#if tableData }}
								<table>
									{{#each tableData }}
										<tr>
											<th>{{ type }}</th>
											<td data-before="{{ type }}">{{{ value }}}</td>
										</tr>
									{{/each}}
								</table>
							{{/if}}
						</div>
				  </div>
				</div>
			{{/if}}
		</li>
	{{/each}}
</ul>
