{{#each items }}
	{{#if checked }}
		<div class="facet checked">
			<label for="{{ id }}" >
				<input type="radio" id="{{ id }}" name="{{ group }}" checked />
				{{ value }}
			</label>
			<span>{{ count }}</span>
		</div>
	{{else}}
		<div class="facet">
			<label for="{{ id }}" >
				<input type="radio" id="{{ id }}" name="{{ group }}" />
				{{ value }}
			</label>
			<span>{{ count }}</span>
		</div>
	{{/if}}
{{/each}}