{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb merge=true }}
  </div>
</div>


<div class="container columns columns--sticky-sidebar row" data-decorator="init-scroll-chapter" role="main">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
      <p>
        <a href="#" class="icon--backlink">Terug naar zoekresultaten</a>
      </p>

      {{render "@nav" navVerdragContext }}

    </div>
  </div>

  <div id="content" role="main" class="content content--publication">

    <div class="align-right">
      {{ render "@pageactions" pageactions }}
    </div>

    <h1>Gemeente Delft (Delft)(ZH)</h1>

    <p>
      {{ render "@label" labelType }} {{ render "@label" labelGewijzigd }}
    </p>

    <section class="section-chapter js-scrollSection" id="sectie-adresgegevens">
      <h2>Adresgegevens</h2>
      <table class="table__data-overview">
        <tbody>
          <tr>
              <th scope="row">Bezoekadres</th>
              <td>Stationsplein 1<br>2611 BV DELFT</td>
          </tr>
          <tr>
              <th scope="row">Postadres</th>
              <td>Postbus 78<br>2600 ME DELFT</td>
          </tr>
          <tr>
              <th scope="row">Telefoon</th>
              <td>14015 (algemeen)</td>
          </tr>
          <tr>
              <th scope="row">Internet</th>
              <td><a href="http://www.delft.nl">http://www.delft.nl</a> (algemeen)</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="section-chapter js-scrollSection" id="sectie-gemeenschappelijkeregeling">
      <h2>Neemt deel aan gemeenschappelijke regelingen (11):</h2>
      <ul class="list--linked">
        <li><a href="/24962749/Gemeenschappelijke_regeling_archeologie_Midden-Delfland/">Gemeenschappelijke regeling archeologie Midden-Delfland</a></li>
        <li><a href="/24965977/Gemeenschappelijke_regeling_archeologie_Pijnacker-_Nootdorp/">Gemeenschappelijke regeling archeologie Pijnacker- Nootdorp</a></li>
        <li><a href="/24962759/Gemeenschappelijke_regeling_archiefbeheer_Midden-Delfland/">Gemeenschappelijke regeling archiefbeheer Midden-Delfland</a></li>
        <li><a href="/24965987/Gemeenschappelijke_regeling_archiefbeheer_Pijnacker-Nootdorp/">Gemeenschappelijke regeling archiefbeheer Pijnacker-Nootdorp</a></li>
        <li><a href="/24962525/Gemeenschappelijke_regeling_GGD_en_Veilig_Thuis_Haaglanden/">Gemeenschappelijke regeling GGD en Veilig Thuis Haaglanden</a></li>
        <li><a href="/24965735/Gemeenschappelijke_regeling_Inkoopbureau_H-10/">Gemeenschappelijke regeling Inkoopbureau H-10</a></li>
        <li><a href="/25160835/Gemeenschappelijke_Regeling_Metropoolregio_Rotterdam_Den_Haag_2014/">Gemeenschappelijke Regeling Metropoolregio Rotterdam Den Haag 2014</a></li>
        <li><a href="/23556115/Gemeenschappelijke_regeling_Omgevingsdienst_Haaglanden/">Gemeenschappelijke regeling Omgevingsdienst Haaglanden</a></li>
        <li><a href="/24961880/Gemeenschappelijke_regeling_Regionaal_Reinigingsbedrijf_Avalex_2018/">Gemeenschappelijke regeling Regionaal Reinigingsbedrijf Avalex 2018</a></li>
        <li><a href="/23825729/Gemeenschappelijke_regeling_Regionale_Belasting_Groep/">Gemeenschappelijke regeling Regionale Belasting Groep</a></li>
        <li><a href="/24185218/Gemeenschappelijke_regeling_Veiligheidsregio_Haaglanden_2016/">Gemeenschappelijke regeling Veiligheidsregio Haaglanden 2016</a></li>
      </ul>
    </section>
    <section class="section-chapter js-scrollSection" id="sectie-basisgegevens">
      <h2>Basisgegevens</h2>
      <table class="table__data-overview">
        <tbody>
          <tr>
            <th scope="row">Oppervlakte</th>
            <td>6,31 km
              <sup>2</sup>
            </td>
          </tr>
          <tr>
            <th scope="row">Aantal inwoners</th>
            <td>101044</td>
          </tr>
          <tr>
            <th>Inwoners per km
              <sup>2</sup>
            </th>
            <td>3840</td>
          </tr>
          <tr>
            <th scope="row">Plaatsen binnen deze gemeente</th>
            <td>Delft</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="section-chapter js-scrollSection" id="sectie-functies">
      <h2>Functies</h2>
      <table class="table__data-overview">
        <tbody>
          <tr>
            <th scope="row">Burgemeester</th>
            <td>
              <a href="/134426/Mw_MJ_van_Bijsterveldt/">Mw. M.J. van Bijsterveldt</a> (CDA)</td>
          </tr>
          <tr>
            <th scope="row">Fractievoorzitter</th>
            <td>
              <a href="/135179/Dhr_RA_van_Woudenberg/">Dhr. R.A. van Woudenberg</a> (CDA),
              <br>
              <a href="/73702/Mw_JK_Gooijer-Medema/">Mw. J.K. Gooijer-Medema</a> (ChristenUnie),
              <br>
              <a href="/135180/Mw_CI_Bel/">Mw. C.I. Bel</a> (D66),
              <br>
              <a href="/135367/Dhr_F_van_Vliet/">Dhr. F. van Vliet</a> (GroenLinks),
              <br>
              <a href="/131693/Dhr_MHJM_Stoelinga/">Dhr. M.H.J.M. Stoelinga</a> (Onafhankelijk Delft),
              <br>
              <a href="/21651828/Mw_W_Tiekstra/">Mw. W. Tiekstra</a> (PvdA),
              <br>
              <a href="/82813/Mw_L_van_Rossum/">Mw. L. van Rossum</a> (SP),
              <br>
              <a href="/24382181/Dhr_AJ_Stoop/">Dhr. A.J. Stoop</a> (Stadsbelangen),
              <br>
              <a href="/28078815/Dhr_MJ_Gouwerok/">Dhr. M.J. Gouwerok</a> (STIP),
              <br>
              <a href="/28078821/Dhr_D_van_Rijn/">Dhr. D. van Rijn</a> (VVD)
            </td>
          </tr>
          <tr>
            <th scope="row">Locoburgemeester</th>
            <td>
              <a href="/26157906/Dhr_SM_Brandligt/">Dhr. S.M. Brandligt</a> (GroenLinks)
            </td>
          </tr>
          <tr>
            <th scope="row">Raadsgriffier</th>
            <td>
              <a href="/20272499/Dhr_drs_RGR_Jeene/">Dhr. drs. R.G.R. Jeene</a>
            </td>
          </tr>
          <tr>
            <th scope="row">Raadslid</th>
            <td>
              <a href="/24382196/Dhr_GJE_Valk/">Dhr. G.J.E. Valk</a> (CDA),
              <br>
              <a href="/134166/Dhr_RA_van_Woudenberg/">Dhr. R.A. van Woudenberg</a> (CDA),
              <br>
              <a href="/82814/Mw_WM_van_Geenen/">Mw. W.M. van Geenen</a> (CDA),
              <br>
              <a href="/24382204/Dhr_G_van_der_Woerd/">Dhr. G. van der Woerd</a> (ChristenUnie),
              <br>
              <a href="/73714/Mw_JK_Gooijer-Medema/">Mw. J.K. Gooijer-Medema</a> (ChristenUnie),
              <br>
              <a href="/135369/Dhr_B_van_Overbeeke/">Dhr. B. van Overbeeke</a> (D66),
              <br>
              <a href="/28078235/Dhr_HJ_Schuurman/">Dhr. H.J. Schuurman</a> (D66),
              <br>
              <a href="/24382212/Dhr_S_Maruf/">Dhr. S. Maruf</a> (D66),
              <br>
              <a href="/24382218/Dhr_V_van_Roon/">Dhr. V. van Roon</a> (D66),
              <br>
              <a href="/73719/Mw_CI_Bel/">Mw. C.I. Bel</a> (D66),
              <br>
              <a href="/24382226/Dhr_D_Jaff/">Dhr. D. Jaff</a> (GroenLinks),
              <br>
              <a href="/128127/Dhr_F_van_Vliet/">Dhr. F. van Vliet</a> (GroenLinks),
              <br>
              <a href="/24382233/Dhr_K_Herrema/">Dhr. K. Herrema</a> (GroenLinks),
              <br>
              <a href="/24382239/Dhr_T_Tons/">Dhr. T. Töns</a> (GroenLinks),
              <br>
              <a href="/24382245/Mw_CM_Bij_de_Vaate/">Mw. C.M. Bij de Vaate</a> (GroenLinks),
              <br>
              <a href="/120082/Mw_IC_Lips/">Mw. I.C. Lips</a> (GroenLinks),
              <br>
              <a href="/24382258/Mw_RM_Wessels/">Mw. R.M. Wessels</a> (GroenLinks),
              <br>
              <a href="/120083/Dhr_JP_de_Wit/">Dhr. J.P. de Wit</a> (Onafhankelijk Delft),
              <br>
              <a href="/87493/Dhr_MHJM_Stoelinga/">Dhr. M.H.J.M. Stoelinga</a> (Onafhankelijk Delft),
              <br>
              <a href="/87494/Mw_JJSM_Gaal/">Mw. J.J.S.M Gaal</a> (Onafhankelijk Delft),
              <br>
              <a href="/24382267/Mw_LGFH_Timmermans/">Mw. L.G.F.H. Timmermans</a>(Onafhankelijk Delft),
              <br>
              <a href="/24382273/Mw_SM_Grobben/">Mw. S.M. Grobben</a> (Onafhankelijk Delft),
              <br>
              <a href="/20801527/Dhr_NG_den_Hollander/">Dhr. N.G. den Hollander</a> (PvdA),
              <br>
              <a href="/24382251/Mw_GE_van_Cooten/">Mw. G.E. van Cooten</a> (PvdA),
              <br>
              <a href="/135371/Mw_W_Tiekstra/">Mw. W. Tiekstra</a> (PvdA),
              <br>
              <a href="/24382281/Dhr_B_Duijff/">Dhr. B. Duijff</a> (SP),
              <br>
              <a href="/73741/Mw_L_van_Rossum/">Mw. L. van Rossum</a> (SP),
              <br>
              <a href="/28078827/Mw_M_Kok/">Mw. M. Kok</a> (SP),
              <br>
              <a href="/120088/Dhr_AJ_Stoop/">Dhr. A.J. Stoop</a> (Stadsbelangen),
              <br>
              <a href="/24382290/Mw_JAM_de_Koning/">Mw. J.A.M. de Koning</a> (Stadsbelangen),
              <br>
              <a href="/24382296/Dhr_AE_de_Nijs/">Dhr. A.E. de Nijs</a> (STIP),
              <br>
              <a href="/28078833/Dhr_M_Harinck/">Dhr. M. Harinck</a> (STIP),
              <br>
              <a href="/28078839/Dhr_M_Weiler/">Dhr. M. Weiler</a> (STIP),
              <br>
              <a href="/24382303/Dhr_MJ_Gouwerok/">Dhr. M.J. Gouwerok</a> (STIP),
              <br>
              <a href="/24382309/Dhr_S_van_der_Velde/">Dhr. S. van der Velde</a> (STIP),
              <br>
              <a href="/24382315/Mw_KS_Bosch/">Mw. K.S. Bosch</a> (STIP),
              <br>
              <a href="/135375/Dhr_D_van_Rijn/">Dhr. D. van Rijn</a> (VVD),
              <br>
              <a href="/24382324/Mw_MJA_Voogt/">Mw. M.J.A. Voogt</a> (VVD),
              <br>
              <a href="/28078845/Mw_T_van_den_Berg/">Mw. T. van den Berg</a> (VVD)
            </td>
          </tr>
          <tr>
            <th scope="row">Secretaris</th>
            <td>
              <a href="/28095664/Dhr_MM_van_der_Kraan/">Dhr. M.M. van der Kraan</a>
            </td>
          </tr>
          <tr>
            <th scope="row">Wethouder</th>
            <td>
              <a href="/26157958/Mw_ir_MA_Huijsmans_MCA/">Mw. ir. M.A. Huijsmans MCA</a> (D66),
              <br>
              <a href="/127039/Dhr_SM_Brandligt/">Dhr. S.M. Brandligt</a> (GroenLinks),
              <br>
              <a href="/26157965/Mw_K_Schrederhof/">Mw. K. Schrederhof</a> (PvdA),
              <br>
              <a href="/26157971/Dhr_ir_TCS_Vollebregt/">Dhr. ir. T.C.S. Vollebregt</a> (STIP),
              <br>
              <a href="/25692377/Mw_drs_H_van_der_Woude/">Mw. drs. H. van der Woude</a> (VVD)
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="section-chapter js-scrollSection" id="sectie-gemeenteraad">
      <h2>Gemeenteraad (39 zegels)</h2>
      {{ render "@table" tableGemeenteraad }}
    </section>
    <section class="section-chapter js-scrollSection" id="sectie-classificaties">
      <h2>Classificaties (1)</h2>
      {{ render "@table" tableClassificaties }}
    </section>

    {{ render "@form-conditionals--feedback" }}
  </div>

</div>

{{ render "@footer" }}
