{{ render "@header" header merge=true }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container columns columns--sticky-sidebar row" data-decorator="init-scroll-chapter">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" data-config='{"scrollContentElement":".js-scrollContentElement"}' id="toggleable-1">
    <div>
      <p>
        <a href="#" class="icon icon--arrow-cta-right">Terug naar zoekresultaten</a>
      </p>
      <div class="scrollContentReceiver"></div>
      {{render "@nav" navToeContext }}
      {{render "@nav" navWetContext }}
    </div>
  </div>

  <div role="main" id="content">

    {{ render "@pageactions" pageactions }}

    <div id="modal-1" class="modal modal--off-screen" hidden role="alert">
      <div class="modal__inner">
        <div class="modal__content">
          <h2>Permanente link</h2>

          <h3>Kopieer de regeling naar uw clipboard </h3>
          <div class="row">
              {{render "@copydata" }}
          </div>
          <h3>Verfijn in Linktool </h3>
          <p>Ga naar de
            <a href="http://linkeddata-acc.overheid.nl/front/portal/linktool-bwb-verfijnen?ext-id=http%3a%2f%2fwetten.overheid.nl%2fid%2fBWBR0032203%2f2016-07-01%2f0%2fDeel1&amp;geldigheidsdatum=2016-07-01&amp;zichtdatum=2016-07-01"
              id="aLinktoolurl" rel="external" target="_blank">Linktool</a>
          </p>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">
          <span class="visually-hidden">sluiten</span>
        </button>
      </div>
    </div>

    <div class="js-scrollContentElement">
      <h1 class="h1 h1--small">Besluit van Geduputeerde Staten van de provincie Zuid-Holland van 2 oktober 2018, PZH-2018-661534998, DOS-2016-0005086, tot vaststelling van de deelplafonds 2019 paragraaf 2.11 van de Subsidieregeling groen Zuid-Holland 2016</h1>
      <p><span class="label label--info label--lg"><i>Geldend van 01-01-2019 t/m heden</i></span></p>
    </div>

      <section class="section-chapter js-scrollSection" id="section-1">
        <h2 class="">Intitulé</h2>
        <p>
          Dit besluit treedt in werking, op het tijdstip dat het besluit van Provinciale Staten tot het vaststellen van hoofdplafond
          voor het jaar 2019voor paragraaf 2.11van de Subsidieregeling groen Zuid-Holland 2016, als onderdeel van de begroting 2019,
          inwerking treedt.
        </p>
        <p>
          Gelet op artikel 5, tweede lid.
        </p>
      </section>
      <section class="section-chapter js-scrollSection" id="section-2">
        <h2 class="">Besluiten</h2>

        <p>
          De volgende deelplafonds voor § 2.11 Kwaliteitsverbetering van bestaande groengebieden en het recreatieve routenetwerk van de Subsidieregeling groen Zuid-Holland 2016 voor 2019 vast te stellen:
        </p>
        <ul class="list list--loweralpha">
          <li>Deelplafond voor herstel- of inrichtingsmaatregelen als bedoeld in artikel 2.11.2 onderdeel a, op de plaatsen aangegeven op de kaart in bijlage 6 behorende bij § 2.11 Subsidieregeling
          groen Zuid-Holland 2016: € 800.000,00.
          </li>
          <li>Deelplafond voor herstel- of inrichtingsmaatregelen als bedoeld in artikel 2.11.2
          onderdeel b, van het recreatieve routenetwerk voor:
            <ul class="list list--lowerroman">
              <li>langeafstand fietsroute (LF): € 100.000,00;</li>
              <li>fietsknooppunten netwerk: € 0,00;</li>
                <li>stad-landverbindingen: € 0,00;</li>
                <li>langeafstand wandelroute (LAW): € 0,00;</li>
                <li>wandelroutenetwerk Zuid-Holland 2010-2020: € 0,00;</li>
                <li>toeristisch overstappunten (TOP): € 0,00;</li>
                <li>ruiter- en menpaden: € 2.332.500,00; </li>
                <li>recreatieve vaarwegen: € 105.000,00.</li>
                <li>ruiter- en menpaden in het Bentwoud: € 200.000,-.</li>
              </ul>
          </li>
          <li>Deelplafond voor beheer en onderhoud van ruiter- en menpaden als bedoeld in artikel 2.11.2 onderdeel c: € 0,00.</li>
        </ul>
      </section>

      <section class="section-chapter js-scrollSection" id="artikel-1">
        <h2>Artikel 1</h2>
        <p>
           Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage
          is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus
          Bonorum et Malorum for use in a type specimen book.
        </p>
      </section>

      <section class="section-chapter js-scrollSection" id="artikel-2">
        <h2>Artikel 2</h2>
        <p>
           Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage
          is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus
          Bonorum et Malorum for use in a type specimen book.
        </p>
      </section>

      <div class="row row--large">

        <h2><em>Inwerktreding</em></h2>
        <p>
          Dit besluit treedt in werking, op het tijdstip dat het besluit van Provinciale Staten tot het vaststellen van hoofdplafond
          voor het jaar 2019 voor paragraaf 2.11van de Subsidieregeling groen Zuid-Holland 2016, als onderdeel van de begroting 2019,
          inwerking treedt.
        </p>

        <p class="author">
          Den Haag, 2 oktober 2018 <br>drs. H.H.M. Koek, secretaris <br>drs. J. Smit, voorzitter
        </p>

      </div>


      <div class="row row--large">
        {{ render "@alert" alertFoutief }}
      </div>


  </div>

</div>

{{ render "@footer" }}
