{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container" id="content" role="main">
  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}
      <form class="form" data-decorator="init-form-validation">
        <fieldset class="u-nomargin">
          <legend class="visually-hidden">Doorzoek de decentrale overheden</legend>
          <div class="form__row form__row--medium">
            <div class="column form__row column-d-9">
              {{ render "@input-text--medium" inputZoekwoord merge=true }}
            </div>
          </div>
          <div class="form__rowsubmit">
            <div class="form__rowsubmit__item">
              <button type="submit" class="form__button button button--primary button--large">Zoek regelingen</button>
            </div>
            <div class="form__rowsubmit__item">
              <a href="#" class="cta">Uitgebreid zoeken</a>
            </div>
          </div>
        </fieldset>
      </form>
    {{/@jumbotron}}

  </div>

  <div class="row row--large">
    <div class="columns columns--dominant">
      <div class="column u-order--d1 column--padded-med">
        {{render "@block"}}
      </div>
      <div class="block-content block-content--highlight block-content--flexed">
        <p class="block-content__subheading">Vragen</p>
        <h3 class="block-content__heading">Onduidelijkheden, vragen of opmerkingen over regelingen?</h3>
        <a href="#" class="block-content__cta cta">Neem contact op</a>
      </div>
    </div>
  </div>

</div>

{{ render "@footer" }}
