{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container" id="content" role="main">
  <div class="row row--spacer">
    <div class="jumbotron jumbotron--highlight">

      <div class="jumbotron__content jumbotron__content--centered">

        <div class="jumbotron__heading jumbotron__heading--centered">
          <p class="jumbotron__subheader">Zoek een lokale wet- en regelgeving</p>
          <h1 class="jumbotron__header">Lokale wet- en regelgevingen</h1>
          <p class="jumbotron__intro">
               Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
          </p>
        </div>

        <form class="form form__row form__row--medium">
          <fieldset>
            <legend class="visually-hidden">Doorzoek de verdragenbank</legend>
            <div class="columns">
              <div class="column form__row column-d-3">
                {{ render "@input-text--medium" inputPostcode merge=true }}
              </div>
              <div class="column form__row column-d-9">
                {{ render "@input-text--medium" inputZoekwoord merge=true }}
              </div>
            </div>

            <div class="columns">
              <div class="u-order--d2 align-right form__row">
                <button type="submit" class="form__button button button--primary button--large">Zoeken</button>
              </div>
              <div class="u-order--d1 u-nomargin">
                <a href="#" class="cta">Uitgebreid zoeken</a>
              </div>
            </div>
          </fieldset>
        </form>



      </div>

    </div>
  </div>

  <div class="row row--large">
    <div class="columns columns--dominant">
      <div class="column column--padded-med">
        <div class="block-content">
          <p class="block-content__subheading">
            <i>Wat is lokale wet- en regelgeving?</i>
          </p>
          <h2 class="block-content__heading">Vindt uw weg in lokale wet- en regelgeving</h2>
          <p>
            Berichten op ‘berichten over uw buurt’ blijven 2 maanden staan. Daarna worden ze in het archief geplaatst. Deze oudere berichten
            kunt u nog wel terugvinden op het platform 'Officiële bekendmakingen'.
          </p>
          <p>
            <a href="#" class="button button--secondary">Lees meer</a>
          </p>
        </div>
      </div>
      <div class="column" style="background-color:#FFF8E1;">IMG</div>
    </div>
  </div>

  <div class="row row--large">
    <div class="columns columns--inversed columns--dominant">
      <div class="column" style="background-color:#FFF8E1;">IMG</div>
      <div class="column column--padded-med">
        <div class="block-content">
          <p class="block-content__subheading">
            <i>Wat is lokale wet- en regelgeving?</i>
          </p>
          <h2 class="block-content__heading">Vindt uw weg in lokale wet- en regelgeving</h2>
          <p>
            Berichten op ‘berichten over uw buurt’ blijven 2 maanden staan. Daarna worden ze in het archief geplaatst. Deze oudere berichten
            kunt u nog wel terugvinden op het platform 'Officiële bekendmakingen'.
          </p>
          <p>
            <a href="#" class="button button--secondary">Lees meer</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <div class="block-content block-content--highlight block-content--flexed">
          <p class="block-content__subheading"><em>Negatieve lijst</em></p>
          <h3 class="block-content__heading">Welke overheden nemen nog geen deel?</h3>
          <a href="#" class="block-content__cta cta">Bekijk de lijst <span class="visually-hidden">van overheden die niet deelnemen</span></a>
      </div>
      <div class="block-content block-content--highlight block-content--flexed">
        <p class="block-content__subheading">Vragen</p>
        <h3 class="block-content__heading">Onduidelijkheden of opmerkingen?</h3>
        <a href="#" class="block-content__cta cta">Neem contact op</a>
      </div>
    </div>
  </div>

</div>

{{ render "@footer" }}
