{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row" role="main" id="content">
  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}

        <form class="form form__row form__row--medium">
          <fieldset>
            <legend class="visually-hidden">Doorzoek de verdragenbank</legend>
            <div class="form__row form__row--medium">
               {{render "@input-text" inputSearchContext }}
            </div>
            <div class="form__rowsubmit">
              <div class="form__rowsubmit__item">
                <button type="submit" class="form__button button button--primary button--large">Zoek verdragen</button>
              </div>
              <div class="form__rowsubmit__item">
                <a href="#" class="cta">Uitgebreid zoeken</a>
              </div>
            </div>
          </fieldset>
        </form>

    {{/@jumbotron}}

  </div>
  <div class="row row--large">


    <h2 class="row__heading">Over de verdragenbank</h2>
    <div class="column-count column-count--half">
      <p>
        De Verdragenbank bevat de gegevens van de verdragen, waarbij het Koninkrijk der Nederlanden partij is. Verdragsgegevens
        zijn onder andere de datum en de plaats van de totstandkoming, de datum van inwerkingtreding, de vindplaats van de verdragstekst,
        de partijen (landen, gebiedsdelen en internationale organisaties) en de
      </p>
      <p>
        datum van bekrachtiging, de gelding voor Europees Nederland, Aruba, Curaçao, Sint Maarten en/of het Caribische deel van
        Nederland (Bonaire, Sint Eustatius, Saba), eventuele voorbehouden, verklaringen en bezwaren en de verbanden tussen verdragen.
      </p>
    </div>
  </div>
  <div class="row row--large">
    <div class="columns">
      {{ render "@block" block1Context }}
      {{ render "@block" block2Context }}
      {{ render "@block" block3Context }}
    </div>
  </div>

  <div class="row row--large">
    <div class="columns">
      <div class="column u-order--d2 column--padded-med ">
        <div class="column__content">
          {{ render "@block" block4Context }}
        </div>
      </div>
      <div class="column u-order--d1">
         {{render "@picture" }}
      </div>
    </div>
  </div>


  <div class="row row--large">

    <div class="jumbotron jumbotron--promo jumbotron--green">

      <div class="jumbotron__content">

        <div class="columns columns--dominant columns--center">

          <div class="column">
            <p class="jumbotron__subheader"><small>Meld je aan voor de mail service</small></p>
            <h3 class="jumbotron__header u-nomargin">En blijf automatisch op de hoogte van al het nieuws over depositaire verdragen</h3>
          </div>
          <div class="column">
            <form class="form">
              <fieldset>
                <legend class="visually-hidden">Meld je aan voor de emailservice</legend>

                  <div class="form__row">
                    {{ render "@input-inputsubmit" }}
                  </div>
                  {{ render "@collapsible" newslCollap }}
                  {{ render "@input-checkbox" newsletterCheckbox }}

              </fieldset>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="row row--large">
    <div class="columns columns--dominant columns--center">
      <div class="column column-d-3">
        <h2 class="h1">Bekijk ook</h2>
      </div>
      <div class="column column-d-9 align-right">
        {{render "@button--doubleline" doubleline1Context }}
        {{render "@button--doubleline" doubleline2Context }}
      </div>
    </div>
  </div>

</div>

{{ render "@disclaimer" }}

{{ render "@footer" }}
