<div class="relevances">
  <a href="#">{{ description }} ({{ listItems.length }})</a>
  <fieldset class="form__element checkboxgroup">
    <!-- @TODO: Use a handlebars helper function to start counting from 1 instead of 0. -->
    {{#each listItems}}
      <label for="option-{{@index}}">
        <input type="checkbox" id="option-{{@index}}"/>
        {{ this }}
      </label>
    {{/each}}
  </fieldset>
  <ul class="list--metadata">
    {{#each metadataItems}}
    <li>{{ this }}</li>
    {{/each}}
  </ul>
</div>