{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container" id="content" role="main">
  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}
      <form class="form" data-decorator="init-form-validation">
        <fieldset class="u-nomargin">
          <legend class="visually-hidden">Doorzoek de decentrale overheden</legend>
          <div class="form__row form__row--medium">
            <div class="column form__row column-d-9">
              <label for="1" class="form__label form__label--medium">Repositories</label>
              {{ render "@select-custom" selectCustomContext }}
            </div>
          </div>
          <div class="align-right">
            <button type="submit" class="form__button button button--primary button--large">Bekijk inhoud</button>
          </div>
        </fieldset>
      </form>
    {{/@jumbotron}}

  </div>

  <div class="">
    <div class="columns columns--dominant">
      <div class="column u-order--d2">
         {{render "@picture" }}
      </div>
      <div class="column u-order--d1 column--padded-med">
        {{ render "@block" block1Context }}
      </div>

    </div>
  </div>

</div>

{{ render "@footer" }}
