{{#if items }}
<ul class="pageactions">
  {{#each items }}
  <li>
    <a href="{{ link }}">
    {{#if icon }}
    <img src="../../images/{{ icon }}" alt="" role="presentation" />
    {{/if}}
    {{ text }}
    {{#if count }}
    <span class="browse__count">
      {{ count }}
      <span class="visually-hidden"> {{ count_context }}</span></span>
    {{/if}}
    </a>
  </li>
  {{/each}}
</ul>
{{/if}}

