<div class="form__element">
  <div class="form__element__label">
    <label id="labelid">Kies iets</label>
  </div>
  <div class="form__element__label">
    <select aria-describedby="labelid" data-multiselect-id="{{id}}" class="multipleSelect" multiple name="{{name}}" data-decorator="init-multiselect" data-decorator-placeholder="{{placeholder}}" data-multiselect-helptext="{{helptext}}">
      {{#each options }}
        <option value="{{text}}">{{text}}</option>
      {{/each}}
    </select>
  </div>
</div>
