{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container">
  <div class="row row--spacer">

    <div class="jumbotron jumbotron--highlight">
      <div class="jumbotron__content jumbotron__content--centered">
        <div class="jumbotron__heading jumbotron__heading--centered">
          <p class="jumbotron__subheader">Berichten over uw buurt</p>
          <h1 class="jumbotron__header">Wat speelt er in úw buurt</h1>
          <p class="jumbotron__intro">
              Alle vergunningen, plannen en plaatselijke regelgevingen die direct invloed hebben op jouw buurt in één archief.
          </p>
        </div>
        <form class="form">
          <fieldset>
            <legend class="visually-hidden">Zoek berichten</legend>
            <div class="form__row ">
              <div class="columns">
                <div class="form__row form__row--medium">
                  {{render "@input-text" postcodeContext }}
                </div>
                <div class="form__row form__row--medium">
                  {{render "@input-text" huisnrContext }}
                </div>
                <div class="form__row form__row--medium">
                  <label class="form__label form__label--accent" for="">Straal
                    <span class="mandatory">Verplicht veld</span>
                  </label>
                  <div class="select-custom select-custom--large">
                  <select>
                    <option>250m</option>
                    <option>1km</option>
                    <option>2km</option>
                  </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form__row align-right">
              <button type="submit" class="form__button button button--primary button--large">Zoek berichten</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="columns">
      <div class="column column-d-5 u-order--d2">{{render "@picture" }}</div>
      <div class="column column-d-7 column--padded-large">
        {{render "@block"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <div class="column column-d-5">{{render "@picture" }}</div>
      <div class="column column-d-7 column--padded-large">
        {{render "@block" officieleContext }}
      </div>

    </div>
  </div>

  <div class="row row--spacer">
    <div class="jumbotron jumbotron--promo">

      <div class="jumbotron__content jumbotron__content--centered">
        <div class="align-center">
          <p class="jumbotron__subheader">Automatisch op de hoogte blijven van gebeurtenissen in uw buurt?</p>
          <h2 class="jumbotron__header">Meld je aan voor de mail service</h2>
        </div>
        <form class="form">
          <fieldset>
            <legend class="visually-hidden">Meld je aan voor de emailservice</legend>
            <div class="form__row">
              {{ render "@input-inputsubmit" }}
            </div>
          </fieldset>
        </form>

      </div>

    </div>
  </div>

</div>

{{ render "@footer" }}
