{{#if moreless}}
<div data-decorator="showmoreless" data-config='{"amount": "4"}'>
  <ul class="list list--unstyled">
{{/if}}

{{#each options }}

  {{#if ../moreless}}
  <li>
  {{/if}}

  <div class="input-checkbox">
    <input {{{arguments}}} class="checkbox__input {{inputClass}}" {{disabled}} {{checked}} type="checkbox" id="option-{{ id }}" name="{{ name }}" {{ status }} value="{{ text }}"
    />
    <label class="checkbox__label" for="option-{{ id  }}">
      {{ text }}
    </label>
    {{#if hasLink}}<a href="{{linkHref}}">{{{linkLabel}}}</a>{{/if}}
  </div>

  {{#if moreless}}
  </li>
  {{/if}}

{{/each}}

{{#if moreless}}
  </ul>
</div>
{{/if}}

