{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

<div id="content" role="main" class="container">

  <div class="row">

    {{#> @jumbotron jumbotronContext }}

      {{ render "@alert--success" alert merge=true }}

      <form class="form" data-decorator="init-form-validation">
        <fieldset>
          <legend class="visually-hidden">Nieuw e-mailadres bevestigen</legend>
          <div class="form__row form__row--medium">
            {{render "@input-text" inputCodeContext }}
          </div>
          <div class="form__rowsubmit">
            <div class="form__rowsubmit__item">
              {{ render "@button" buttonSubmit }}
            </div>
            <div class="form__rowsubmit__item">
              {{render "@link--mail" linkNewcode merge=true }}
            </div>
          </div>
        </fieldset>
      </form>
    {{/@jumbotron}}

  </div>

</div>

{{ render "@disclaimer" }}
{{ render "@footer" }}
