{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>


<div id="content" role="main" class="container container--centered">
  <div class="row row--spacer u-margin-top-40">
    <div class="columns columns--gutter-med">
      <div class="column">
        <div class="form__row form__row--large">
          {{ render "@heading--preheader" preheader merge=true }}
          <h1 class="h1 h1--slim">Activeringscode aanvragen</h1>
          <p>
            Indien u uw activeringscode niet (meer) heeft, kunt u een nieuwe aanvragen. Wij sturen uw nieuwe activeringscode naar het door u opgegeven e-mailadres.
          </p>
        </div>
        <form class="form" data-decorator="init-form-validation">
          <fieldset>
            <legend class="visually-hidden">E-mailadres</legend>
            <div class="form__row form__row--medium">
              {{render "@input-text--email" inputEmailContext merge=true }}
            </div>
            <div class="form__rowsubmit">
              <div class="form__rowsubmit__item">
                {{ render "@button" buttonSubmit }}
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</div>

{{ render "@disclaimer" }}
{{ render "@footer" }}
