{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

<div class="container" role="main" id="content">

  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}

    <form>
      <fieldset>
        <legend class="visually-hidden">Zoek een publicatie</legend>
        <div class="columns">
          <div class="column">
            <div class="form__row">
              {{ render "@input-text" searchterm }}
            </div>
          </div>
          <div class="column">
            <div class="form__row">
              {{ render "@select-multi--large" }}
            </div>
          </div>
        </div>
        <div class="form__rowsubmit">
          <div class="form__rowsubmit__item">
            {{ render "@button" buttonSubmit }}
          </div>
          <div class="form__rowsubmit__item">
            {{render "@link--cta" linkPar merge=true }}
          </div>
        </div>
      </fieldset>
    </form>

    {{/@jumbotron}}

  </div>

  <div class="row">

    <h2 class="row__heading">Omgevingen</h2>

    x

  </div>

  <div class="row--disclaimer">
    <div class="container">
      <p>
         Staatsblad, Staatscourant en Tractatenblad worden met ingang van 1 juli 2009 als pdf-bestanden uitgegeven. De hier aangeboden
        pdf-bestanden van deze bladen vormen de formele bekendmakingen in de zin van de Grondwet. Voor publicaties van vóór deze
        datum geldt dat alleen de in papieren vorm uitgegeven bladen formele status hebben; de hier aangeboden elektronische versies
        daarvan worden bij wijze van service aangeboden.
      </p>
    </div>
  </div>

</div>

{{ render "@footer" }}
