{{ render "@skiplinks" skipLinks }}
{{ render "@topbar" topbar }}
{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

<div class="container columns columns--sticky-sidebar row">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
      <p>
        <a href="/components/preview/templates-eb-homepage" class="icon--backlink">Terug naar Publicaties</a>
      </p>
    </div>
  </div>

  <div role="main" id="content">

    {{ render "@pageactions" actions }}

    <h1>Metadata werk ag-11580</h1>

    {{ render "@definitionlist" werkDL }}

    <table class="table--condensed table--headerhighlight">
      <thead>
        <tr>
          <th scope="col">Meta type</th>
          <th scope="col">Waarde</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">DC.creator</th>
          <td data-before="DC.creator">Eerste Kamer der Staten-Generaal</td>
        </tr>
        <tr>
          <th scope="row">DC.identifier</th>
          <td data-before="DC.identifier">ag-11580</td>
        </tr>
        <tr>
          <th scope="row">DC.title</th>
          <td data-before="DC.title">groene agenda van de vergaderingen van 31 maart 2009</td>
        </tr>
        <tr>
          <th scope="row">DC.type</th>
          <td data-before="DC.type">Agenda</td>
        </tr>
        <tr>
          <th scope="row">DCTERMS.available</th>
          <td data-before="DCTERMS.available">2009-03-26</td>
        </tr>
        <tr>
          <th scope="row">DCTERMS.issued</th>
          <td data-before="DCTERMS.issued">2009-03-26</td>
        </tr>
        <tr>
          <th scope="row">is_privacygevoelig</th>
          <td data-before="is_privacygevoelig">False</td>
        </tr>
        <tr>
          <th scope="row">is_spoedpublicatie</th>
          <td data-before="is_spoedpublicatie">False</td>
        </tr>
        <tr>
          <th scope="row">opdrachtnummer</th>
          <td data-before="opdrachtnummer">11580</td>
        </tr>
        <tr>
          <th scope="row">OVERHEIDop.publicationName</th>
          <td data-before="OVERHEIDop.publicationName">Agenda</td>
        </tr>
        <tr>
          <th scope="row">OVERHEIDop.vergaderjaar</th>
          <td data-before="OVERHEIDop.vergaderjaar">2008-2009</td>
        </tr>
        <tr>
          <th scope="row">sorteersleutel</th>
          <td data-before="sorteersleutel">1700017991909673000000000099</td>
        </tr>
        <tr>
          <th scope="row">timestamp</th>
          <td data-before="timestamp">2014-07-02T13:34:14.1752145+02:00</td>
        </tr>
      </tbody>
    </table>
    <p>
      {{ render "@button" btnEdit merge=true }}
      {{ render "@button" btnSync merge=true }}
      {{ render "@button" btnRem merge=true }}
    </p>

    <h2>Expressies</h2>
    {{#> @collapsible expressie1 }}
      {{ render "@definitionlist" expressie1DL }}
      {{ render "@button" btnExpressieEdit merge=true }}
    {{/@collapsible}}
    {{#> @collapsible expressie2 }}
      {{ render "@definitionlist" expressie2DL }}
      {{ render "@button" btnExpressieEdit merge=true }}
    {{/@collapsible}}

  </div>


</div>

{{ render "@footer" }}
