<div class="form__element">
  <label for="input--{{ id }}">{{ fieldLabel }}</label>
  <small>{{ fieldInstruction }}</small>
  <input type="text" id="input--{{ id }}" class="{{ modifier }}" placeholder="{{ fieldPlaceholder }}" />
</div>
