<dl class="dl {{ modifier }}">
  {{#if divContainer }}
    {{#each items}}
      <div>
        <dt>{{ type }}</dt>
        {{#if modifier }}
          <dd><span class="icon {{ modifier }}">{{ value }}</span></dd>
        {{else}}
        <dd>{{ value }}</dd>
        {{/if}}
      </div>
    {{/each}}
  {{else}}
    {{#each items}}
      <dt>{{ type }}</dt>
      <dd>{{ value }}</dd>
    {{/each}}
  {{/if}}

</dl>
