<a href="{{ action }}">{{ text }}</a>

<p>Dit is een <a href="{{ action }}">{{ text }}</a> in een zin</p>

<p>Dit is een <a href="https://www.overheid.nl">overheid.nl link</a> in een zin</p>

<ul>
  <li>Dit is een <a href="{{ action }}">{{ text }}</a> in een li-item</li>
  <li><a href="{{ action }}">{{ text }} als volledige li-item</a></li>
</ul>

{{#if mode }}
<a href="www.google.nl" class="cta cta--external" rel="external">{{text}}</a>
{{/if}}
