<h2>Form reset</h2>
<p>
  Deze functionaliteit geeft de mogelijkheid alle velden in een formulier leeg te maken. Op dit moment is er ondersteuning voor de volgende velden: "radio", "checkbox", "text".
</p>
<p>
  Plaats <code>data-decorator="init-formreset"</code> op de omliggende container. Geef de desbetreffende reset-knop de class <code>formreset-resetlink</code>.
</p>
<h3>Configuratie mogelijkheden (data-config='{key: value}')</h3>
<ul>
  <li>Key: <code>elements</code>, value(s): <code>input</code> <code>select</code></li>
</ul>
<form data-decorator="init-formreset">
  <fieldset>
    <legend>Reset geheel formulier</legend>
    <div class="form__row">
      {{render "@input-radio" }}
    </div>
    <div class="form__row">
      {{render "@input-checkbox" }}
    </div>
    <div class="form__row">
      {{render "@select-custom" }}
    </div>
    <div class="form__row">
      {{render "@input-text" inputtext merge=true }}
    </div>
    <button class="button button--primary formreset-resetlink">Reset velden</button>
  </fieldset>
</form>

<form>
  <fieldset>
    <legend>Reset een deel van een formulier</legend>
    <div class="form__row">
      {{render "@input-radio" radios2 merge=true }}
    </div>
    <div class="form__row" data-decorator="init-formreset">
      {{render "@input-checkbox" checkboxes2 merge=true }}
      <a href="#" class="reset formreset-resetlink">
        <small>Herstellen</small>
      </a>
    </div>
    <div class="form__row">
      {{render "@input-text" inputtext2 merge=true }}
    </div>
    <button class="button button--primary ">Reset velden</button>
  </fieldset>
</form>
