{{#if anchor }}
  <a class="button {{ modifier }}" href="{{ action }}" role="button" {{ disabled }}>{{ text }}{{#if text2}} <span class="button__sub">{{text2 }}</span>{{/if}}</a>
{{else if button }}
  <button class="button {{ modifier }}" type="submit" {{ disabled }}>{{ text }}{{#if text2}} <span class="button__sub">{{text2 }}</span>{{/if}}</button>
{{else if buttonWithDivider}}
  <button class="button {{ modifier }}" type="button" {{ disabled }}><span class="divider">{{ text }}{{#if text2}} <span class="button__sub">{{text2 }}</span>{{/if}}</span></button>
{{else if inputButton }}
  <input class="button {{ modifier }}" type="button" value="{{ text }}" {{ disabled }}/>
{{else if inputSubmit }}
  <input class="button {{ modifier }}" type="submit" value="{{ text }}" {{ disabled }}/>
{{/if}}
