{{ render "@header" header merge=true }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>


<div class="container">

  <div class="columns columns--sidebar-left">
    <div class="column">

    <div class="row row--spacer">
      <div class="jumbotron jumbotron--highlight">

        <div class="jumbotron__content">

          <div class="jumbotron__heading">
            <p class="jumbotron__subheader">Design system</p>
            <h1 class="jumbotron__header">Componenten</h1>
            <p class="jumbotron__intro">
                ## omschrijving
            </p>
          </div>

        </div>

      </div>
    </div>

    <article class="row">
      <div class="row row--large">
        <h1 id="buttons">Buttons</h1>
        <p>Omschrijving</p>
      </div>
      <div class="columns">
        <div class="column">
          <h2>Primary</h2>
          <h3 class="h5">Regular button</h3>
          <p>{{render "@button--primary" }}</p>
          <h3 class="h5">Icon button</h3>
          <p>{{render "@button--arrowed" }}</p>
          <h3 class="h5">Double-line button</h3>
          <p>{{render "@button--doubleline" }}</p>
        </div>
        <div class="column">
          <h2>Secondary</h2>
          <h3 class="h5">Regular button</h3>
          <p>{{ render "@button" modifier="appel" merge=true }}</p>
          <h3 class="h5">Icon button</h3>
          <p>{{render "@button" }}</p>
          <h3 class="h5">Double-line button</h3>
          <p>{{render "@button" }}</p>
        </div>
        <div class="column">
          <h2>Tertiery</h2>
          <h3 class="h5">Regular button</h3>
          <p>{{render "@button" }}</p>
        </div>
      </div>
    </article>

  </div>

  <div class="column column--sidebar">

    <div id="modal-filter" class="modal-sidebar" role="alert" data-decorator="init-sticky">

      <div class="modal-sidebar__content">
        {{render "@nav" navComponentsContext }}

        <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close">
          <span class="visually-hidden">Sluiten</span>
        </button>
      </div>

    </div>

</div>

{{ render "@footer" }}
