<div class="container">

  <div class="columns columns--sidebar-left">
    <div class="column ds-content">

      <div class="hidden-desktop align-right">
        <a href="#subnav" class="button button--primary" role="button">Navigatie</a>
      </div>

      <div class="row row--spacer">
        <div class="jumbotron jumbotron--highlight">

          <div class="jumbotron__content">

            <div class="jumbotron__heading">
              <p class="jumbotron__subheader">Design system</p>
              <h1 class="jumbotron__header">Componenten</h1>
              <p class="jumbotron__intro">

                  Op deze pagina's vind je een overzicht van de beschikbare componenten waarmee websites kunnen worden opgebouwd.  
              </p>
            </div>

          </div>

        </div>
      </div>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="address">Address</h1>

          <p>Gebruik altijd een <code>address</code> element bij het uitschrijven van een adres.</p>


          <p>Het address component wordt gebruikt voor het weergeven van een adres.</p>

          {{render "@address" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="alert">Alert</h1>

          <p>Alerts worden gebruikt voor het weergeven van tussentijdse informatie op een pagina. Dit kan inline, dus tussen twee blokken op de pagina, of ze kunnen sticky aan de bovenzijde worden weergegeven.</p>
          
          <p>Speciale meldingen (alerts) kunnen gebruikt zowel buiten als binnen een formulier. De class <code>.alert</code> geeft de standaard styling.</p>

          <code>
            &lt;div class="alert alert--fixed  show "&gt;<br />

                &lt;div class="alert__inner"&gt;<br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper ac lectus ac maximus. &lt;a href="#"&gt;Bekijk hier de toelichting&lt;/a&gt;<br />
                    
                    &lt;button class="alert__remove" data-handler="close-alert"&gt;&lt;span class="visually-hidden"&gt;Sluiten&lt;/span&gt;&lt;/button&gt;<br />
                &lt;/div&gt;
            &lt;/div&gt;
          </code>

          <div class="row">
            <h2 class="h5">Default</h2>
            {{render "@alert" }}
          </div>
          <div class="row">
            <h2 class="h5">Warning</h2>
            {{render "@alert--warning" }}
          </div>
          <div class="row">
            <h2 class="h5">Info</h2>
            {{render "@alert--info" }}
          </div>
          <div class="row">
            <h2 class="h5">Success</h2>
            {{render "@alert--success" }}
          </div>
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="articleheader">Article header</h1>
          <p>De article header wordt gebruikt boven wetgevingen en geeft de gebruiker functionaliteiten gerelateerd aan de wetgeving en of artikel.</p>

          {{render "@article-header" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="banner">Banner</h1>

          {{render "@banner" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="blockquote">Blockquote</h1>
          <p>Een citaat wordt weergegeven in een <code>blockquote</code> element. Geef in de <code>cite</code> de bron aan van de citaat.</p>

          {{render "@blockquote" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="browse">Browse</h1>
          <p>Het browse-component toont een lijst van items, inclusief het aantal per item. Beschikbaar in een versie mét en zónder iconen.</p>
          <h2 class="h5">Default</h2>
          {{render "@browse" }}
          <h2 class="h5">With icons</h2>
          {{render "@browse--icons" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="buttons">Buttons</h1>
          <p>Buttons worden opgemaakt middels de <code>.button</code> class. Gebruik bij voorkeur altijd het <code>button</code> element. Een hyperlink (a) als button krijgt <code>role="button"</code> ten behoeve van de toegankelijkheid</p>
        </div>
        <div class="columns row row--xxlarge">
          <div class="column">
            <h2>Primary</h2>
            <h3 class="h5">Regular button</h3>
            <p>{{render "@button--primary" }}</p>
            <h3 class="h5">Icon button</h3>
            <p>{{render "@button--arrowed" }}</p>
          </div>
          <div class="column">
            <h2>Secondary</h2>
            <h3 class="h5">Regular button</h3>
            <p>{{ render "@button--secondary" }}</p>
            <h3 class="h5">Double-line button</h3>
            <p>{{render "@button--doubleline" }}</p>
          </div>
          <div class="column">
            <h2>Tertiery</h2>
            <h3 class="h5">Regular button</h3>
            <p>{{render "@button--tertiary" }}</p>
          </div>
        </div>
        <h3 class="h5">Variants</h3>
        <p>
          {{ render "@button--icon-down" }} {{ render "@button--icon-top" }} {{ render "@button--icon-left" }} {{ render "@button--icon-right"
          }} {{ render "@button--icon-download" }} {{ render "@button--icon-refresh-documents" }}
        </p>
        <h3 class="h5">Icon only</h3>
        <p>
          {{ render "@button-icon" }}
        </p>
        <h2>Buttongroup</h2>
        <p>Verbonden knoppen. Wanneer slechts één van de opties beschikbaar is, is dit component niet van toepassen en wordt deze ook niet weergegeven.</p>
        <div class="row">
          <h3 class="h5">Default</h2>
            <div>{{render "@buttonswitch" }}</div>
        </div>
        <div class="row">
          <h3 class="h5">With icons</h2>
            <div>{{render "@buttonswitch--with-icons" }}</div>
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="copyurl">CopyURL</h1>
          <p>Omschrijving</p>

          {{render "@copydata" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="characteristics">Characteristics</h1>
          {{render "@characteristic" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="collapsible">Collapsible</h1>
          <p>
             Collapsibles gebruikt men als informatie initieel verborgen moet zijn. De informatie wordt zichtbaar bij muis/toetsenbord-klik.
          </p>
          <ul>
            <li>
              We gebruiken <code>aria-expanded</code> om aan te geven dat de collapsible is uitgeklapt. Het is verbonden met de <code>a</code> in de header, gezien het feit dat de gebruiker daarmee interacteert.

            </li>
            <li>
              We gebruiken <code>aria-controls</code> om aan te geven welk element is getoggled.
            </li>
          </ul>

          <div class="row">
            <h2 class="h5">Default</h2>
            {{render "@collapsible" }}
          </div>
          <div class="row">
            <h2 class="h5">Small</h2>
            {{render "@collapsible--collapsible--small" }}
          </div>
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="definitionlist">Definitionlist</h1>
          <p>Een lijst met definities; titel en omschrijving.</p>
          {{render "@definitionlist" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="delins">Del / Ins</h1>
          {{render "@del-ins" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="gridcontainers">Grid &amp; containers</h1>
          <p>Zonder toevoegingen werkt het grid percentueel in een gelijke verdeling. De meer kolommen, de smaller deze worden. Naar wens kan er een handmatige percentuele verdeling gemaakt worden, middels het toevoegen van een class op de column zelf.</p>
          <p>

          </p>
        </div>
        <div class="row row--xxlarge">
          <h2>Grid systeem</h2>
          <h3 class="h5">Gelijkmatige percentuele verdeling</h3>
          <div class="columns row">
            <div class="column u-bg--grey">
              <p>Column (auto)</p>
            </div>
            <div class="column u-bg--grey">
              <p>Column (auto)</p>
            </div>
            <div class="column u-bg--grey">
              <p>Column (auto)</p>
            </div>
          </div>
          <h3 class="h5">Handmatige percentuele verdeling</h3>
          <div class="columns row">
            <div class="column column-d-1 u-bg--grey">
              <p>Column (1-12)</p>
            </div>
            <div class="column column-d-11 u-bg--grey">
              <p>Column (11-12)</p>
            </div>
          </div>
          <div class="columns row">
            <div class="column column-d-2 u-bg--grey">
              <p>Column (2-12)</p>
            </div>
            <div class="column column-d-10 u-bg--grey">
              <p>Column (10-12)</p>
            </div>
          </div>
          <div class="columns row">
            <div class="column column-d-3 u-bg--grey">
              <p>Column (3-12)</p>
            </div>
            <div class="column column-d-9 u-bg--grey">
              <p>Column (9-12)</p>
            </div>
          </div>
          <div class="columns row">
            <div class="column column-d-4 u-bg--grey">
              <p>Column (4-12)</p>
            </div>
            <div class="column column-d-8 u-bg--grey">
              <p>Column (8-12)</p>
            </div>
          </div>
          <div class="columns row">
            <div class="column column-d-5 u-bg--grey">
              <p>Column (5-12)</p>
            </div>
            <div class="column column-d-7 u-bg--grey">
              <p>Column (7-12)</p>
            </div>
          </div>
          <div class="columns row">
            <div class="column column-d-6 u-bg--grey">
              <p>Column (6-12)</p>
            </div>
            <div class="column column-d-6 u-bg--grey">
              <p>Column (6-12)</p>
            </div>
          </div>
          <div class="columns row">
            <div class="column column-d-7 u-bg--grey">
              <p>Column (7-12)</p>
            </div>
            <div class="column column-d-5 u-bg--grey">
              <p>Column (5-12)</p>
            </div>
          </div>
          <div class="columns row">
            <div class="column column-d-8 u-bg--grey">
              <p>Column (8-12)</p>
            </div>
            <div class="column column-d-4 u-bg--grey">
              <p>Column (4-12)</p>
            </div>
          </div>
          <div class="columns row">
            <div class="column column-d-9 u-bg--grey">
              <p>Column (9-12)</p>
            </div>
            <div class="column column-d-3 u-bg--grey">
              <p>Column (3-12)</p>
            </div>
          </div>
          <div class="columns row">
            <div class="column column-d-10 u-bg--grey">
              <p>Column (10-12)</p>
            </div>
            <div class="column column-d-2 u-bg--grey">
              <p>Column (2-12)</p>
            </div>
          </div>
          <div class="columns row">
            <div class="column column-d-11 u-bg--grey">
              <p>Column (11-12)</p>
            </div>
            <div class="column column-d-1 u-bg--grey">
              <p>Column (1-12)</p>
            </div>
          </div>
          <div class="columns row">
            <div class="column column-d-3 u-bg--grey">
              <p>Column (6-12)</p>
            </div>
            <div class="column column-d-7 u-bg--grey">
              <p>Column (7-12)</p>
            </div>
            <div class="column column-d-2 u-bg--grey">
              <p>Column (2-12)</p>
            </div>
          </div>
        </div>
        <h2>Containers</h2>
        <p>Gebruik de <code>.row</code> als rij en houder in de template. Deze zorgt voor en gelijke afstand naar het volgende element.</p>
        <div class="row u-bg--grey">row</div>
        <div class="row row--large u-bg--grey">row large</div>
        <p>Gebruik de <code>.form__row</code> als rij en houder in een formulier. Deze zorgt voor en gelijke afstand naar het volgende element/row. Uiteraard altijd netjes in een <code>form</code> met de class <code>.form</code></p>
        <div class="form__row u-bg--grey">Form row</div>
        <div class="form__row form__row--large u-bg--grey">Form row large</div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="figure">Figure</h1>
          <p>Voeg <strong>altijd</strong> een passende <code>alt</code>-tekst toe aan de afbeelding.</p>
          {{render "@figure" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="footnote">Footnote</h1>
          <p>Voetnoten staan standaard onderaan de pagina. De verwijziging naar een voetnote werkt met een simpele anker-link. </p>

          {{render "@footnote" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="forms">Forms</h1>
          <p>Een formulier wordt altijd opgebouwd met de class <code>.form</code> op de <code>form</code> tag. Elke rij is voorzien van de <code>.form__row</code> class voor consistende overgangen van elementen.</p>
        </div>
        <div class="row row--xxlarge">
          <h2>Statussen</h2>
          <div class="columns row">
            <div class="column">
              <div class="form">
                <div class="form__row">
                  <label>Default</label>
                  {{ render "@input-text" }}
                </div>
                <div class="form__row">
                  <label>Foutief ingevoerd</label>
                  {{ render "@input-text" }}
                </div>
                <div class="form__row">
                  <label>Disabled</label>
                  {{ render "@input-text" }}
                </div>
              </div>
              <div class="column">
                Wanneer een veld onjuist is ingevuld, krijgt deze de class <code>.input__error</code>. Daarbij komt er een extra paragraaf (<code>.form__error</code>) die beschrijft wat precies de fout is. Optioneel is het tonen van een hint (<code>.form__hint</code></code>). Let op: voeg ARIA <code>described-by</code> toe aan de input die verwijst naar deze hint (middels ID)
              </div>
            </div>
          </div>
        </div>
        <h2>Varianten</h2>
        <div class="columns row">
          <div class="column">
            <label>Input text</label>
            {{ render "@input-text" }}
          </div>
          <div class="column">
            <label>Input password</label>
            {{ render "@input-text--password" }}
          </div>
          <div class="column">
            <label>Input number</label>
            {{ render "@input-text--number" }}
          </div>
        </div>
        <div class="columns row">
          <div class="column">
            <label>Datepicker</label>
            {{ render "@datepicker" }}
          </div>
          <div class="column">
            <label>Search</label>
            {{ render "@input-text--search" }}
          </div>
          <div class="column">
            <label>Select (dropdown)</label>
            {{ render "@select-custom" }}
          </div>
        </div>
        <div class="columns row">
          <div class="column">
            <label>Bolder</label>
            {{ render "@input-text--medium" }}
          </div>
          <div class="column">
            <label>Prefix</label>
            {{ render "@input-text--prefix" }}
          </div>
        </div>
        <div class="columns row">
          <div class="column">
            <label>Bolder Search</label>
            {{ render "@input-text--search-medium" }}
          </div>
          <div class="column">
            <label>Search + autocomplete</label>
            {{ render "@input-autocomplete--input-search-autocomplete" }}
            <small>(typ: "gem")</small>
          </div>
        </div>
        <div class="columns row row--xxlarge">
          <div class="column">
            <label>Input + submit</label>
            {{ render "@input-inputsubmit" }}
            <small>(Works with flexbox; button is able to grow)</small>
          </div>
          <div class="column">
            <label>Opmerkingen</label>
            {{ render "@textarea" }}
          </div>
        </div>
        <div class="row row--xxlarge">
          <h2>Checkbox &amp; Radio</h2>
          <div class="columns row">
            <div class="column">
              <h3 class="h5">Checkbox</h3>
              {{ render "@input-checkbox" }}
            </div>
            <div class="column">
              <h3 class="h5">Radio</h3>
              {{ render "@input-radio" }}
            </div>
          </div>
        </div>
        <div class="row row--xxlarge">
          <h2>Subselection</h2>
          <div class="columns row">
            <div class="column">
              <div class="form__row form__row--large">
                <h3 class="h5">Empty state</h3>
                {{ render "@subselection--filter-selection" subSel2 }}
              </div>
              <div class="form__row">
                <h3 class="h5">Filter selected</h3>
                {{ render "@subselection" subSel1 }}
              </div>
            </div>
            <div class="column">
              <h3 class="h5">Selected filters</h3>
              {{ render "@form-selectedfilter" }}
            </div>
          </div>
        </div>
        <div class="row row--xxlarge">
          <h2>Filter results</h2>
          <div class="columns row">
            <div class="column">
              <div class="form__row">
                <div class="" data-decorator="init-filter-results">
                  <div class="form__row form__row--medium">
                    <input type="text" aria-controls="resultfilter-{{id}}" placeholder="Typ hier uw organisatie" name="mysuper_field" id="id_mysuper_field"
                      class="js-filterresults__input input-text input-text--searchmedium" />
                  </div>
                  <fieldset class="js-filterresults__results" role="region" id="resultfilter-{{id}}" aria-live="polite">
                    <ul class="list--unstyled">
                      {{#each Options }}
                      <li class=" js-filterresults__result">
                        <div class="input-checkbox">
                          <input class="checkbox__input" {{disabled}} {{checked}} type="checkbox" id="option-{{ id }}" name="name" {{ status }} value="{{ short }}"
                          />
                          <label class="checkbox__label" for="option-{{ id  }}">
                            {{ title }}
                          </label>
                        </div>
                      </li>
                      {{/each}}
                    </ul>

                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <fieldset>
            <legend>Formulier voorbeeld</legend>
            <div class="form__row">
              <label>Uw naam</label>
              {{ render "@input-text" }}
            </div>
            <div class="form__row">
              {{ render "@button" }}
            </div>
          </fieldset>
        </div>
<<<<<<< HEAD
      </article>
=======
    </article>

    <article class="row row--xxxlarge">
      <div class="row row--large">
        <h1 id="highlight">Highlight</h1>
        <p>Omschrijving</p>

        {{render "@highlight" }}
      </div>
    </article>

    <article class="row row--xxxlarge">
      <div class="row row--large">
        <h1 id="jumbotron">Jumbotron</h1>
        <p>De jumbotron is ontworpen als paginaintroductie, en bevat altijd een Heading 1-element.</p>

        {{render "@jumbotron--highlight" }}
      </div>
    </article>





    {{!-- <article class="row row--xxxlarge">
      <div class="row row--large">
        <h1 id="buttons">Actionblock</h1>
        <p>Omschrijving</p>

        {{render "@actionblock" }}
      </div>
    </article> --}}

>>>>>>> update component-page, added content-page

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="highlight">Highlight</h1>
          <p>Omschrijving</p>

          {{render "@highlight" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="jumbotron">Jumbotron</h1>
          <p>Omschrijving</p>

          {{render "@jumbotron--highlight" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="labels">Labels</h1>
          <p>Omschrijving</p>

          <div class="row">
            <h2 class="h5">Default</h2>
            <div>{{render "@label" }}</div>
          </div>
          <div class="row">
            <h2 class="h5">Blue</h2>
            <div>{{render "@label--blue" }}</div>
          </div>
          <div class="row">
            <h2 class="h5">Primary</h2>
            <div>{{render "@label--primary" }}</div>
          </div>
          <div class="row">
            <h2 class="h5">Orange</h2>
            <div>{{render "@label--orange" }}</div>
          </div>
          <div class="row">
            <h2 class="h5">Success</h2>
            <div>{{render "@label--success" }}</div>
          </div>
          <div class="row">
            <h2 class="h5">Warning</h2>
            <div>{{render "@label--warning" }}</div>
          </div>
          <div class="row">
            <h2 class="h5">Danger</h2>
            <div>{{render "@label--danger" }}</div>
          </div>

        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="link">Link</h1>
          <p>Een hyperlink komt mee met een standaard style. Het icoon wordt automagisch geplaatst op basis van de <code>href</code>.</p>
          <h2 class="h5">Internal</h2>
          <p>
            <a href="/appel">Interne link</a>
          </p>
          <h2 class="h5">External</h2>
          <p>
            <a href="https://www.google.nl">Externe link</a>
          </p>
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="lists">Lists</h1>
          <p>Omschrijving</p>
        </div>
        <div class="columns row row--xxlarge">
          <div class="column">
            <h2 class="h5">Default list</h2>
            {{ render "@list" }}
          </div>
          <div class="column">
            <h2 class="h5">Ordered list</h2>
            {{ render "@list--ordered" }}
          </div>
        </div>
        <div class="columns row row--xxlarge">
          <div class="column">
            <h2 class="h5">Unstyled</h2>
            {{ render "@list--unstyled" }}
          </div>
          <div class="column">
            <h2 class="h5">Inline</h2>
            {{ render "@list--inline" }}
          </div>
        </div>
        <div class="columns row row--xxlarge">
          <div class="column">
            <h2 class="h5">Relationlist</h2>
            {{ render "@list--relationlist" }}
          </div>
          <div class="column">
            <h2 class="h5">Law list</h2>
            {{ render "@list--law-list" }}
          </div>
        </div>
        <div class="columns row row--xxlarge">
          <div class="column">
            <h2 class="h5">Facetlist</h2>
            {{ render "@list--facetlist" }}
          </div>
          <div class="column">
            <h2 class="h5">Legenda</h2>
            {{ render "@list--legenda" }}
          </div>
        </div>
        <div class="">
          <h2 class="h5">Law list unordered</h2>
          {{ render "@list--law-list-unordered" }}
        </div>
      </article>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="modal">Modal</h1>

          Het modal component kan informatie tonen in een vlak dat over de rest van de pagina heenligt, en waarbij de rest van de pagina
          ontoegankelijk is gemaakt.

          <p>
            {{render "@modal" }}
          </p>

          <p>
            De code voor een model moet toegevoegd worden net voor de body-tag. Als je het toevoegt is het standaard niet-zichtbaar.
          </p>

          <p>
            Let op, het bevat altijd:
          </p>
          <ul>
            <li>een id, wat wordt gebruikt om het modal te kunnen aanroepen vanuit een knop</li>
            <li>een classname, die wordt gebruikt voor de opmaak van het modal en het verbergen van het modal.</li>
            <li>een hidden-attribuut, om het attribuut default te verbergen</li>
            <li>een <code>role="alert"</code> zodat screenreaders het netjes oplezen zodra het wordt getoond.</li>
            <li>
              <code>.modal</code> element als buitenste elementen, en <code>.model__content</code> element voor de inhoud</li>
            <li>Een 'close'-button, wat elke opmaak kan bevatten zolang het maar <code>data-handler="close-modal"</code> bevat.</li>
          </ul>
          <p>
            Let op: het <code>data-modal</code> attribuut bevat het ID van het gekoppelde modal, en moet gelijk zijn aan het <code>id</code> attribute in het bijbehorende modal.
          </p>

        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="navigation">Navigation</h1>
          <p>Omschrijving</p>
          <h2 class="h5">Sub-navigation</h2>
          {{render "@nav" }}
          <h2 class="h5">Login</h2>
          {{render "@profile--logged-in" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="pageactions">Pageactions</h1>
          <p>Omschrijving</p>
          {{render "@pageactions" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="pre">Pre</h1>
          <p>Omschrijving</p>
          {{render "@pre" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="resultlist">Resultlist</h1>
          <p>Omschrijving</p>
          {{render "@resultlist" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="sort">Sort</h1>
          <p>Omschrijving</p>
          {{render "@sort" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="steps">Steps</h1>
          <p>Omschrijving</p>
          {{render "@steps" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="tabs">Tabs</h1>
          <p>Omschrijving</p>
          <h2 class="h5">Default</h2>
          {{render "@tabs" }}
          <h2 class="h5">Justified</h2>
          {{render "@tabs--justified" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="table">Table</h1>
          <p>Omschrijving</p>
          <h2 class="h5">Default</h2>
          {{render "@table" }}
          <h2 class="h5">Striped</h2>
          {{render "@table--striped" }}
          <h2 class="h5">Condensed</h2>
          {{render "@table--condensed" }}
          <h2 class="h5">Hover</h2>
          {{render "@table--hover" }}
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="themeblock">Themeblock</h1>
          <p>Omschrijving</p>
          <ul class="themelist list--unstyled">

            {{ render "@themeblock" }} {{ render "@themeblock--cultuur" }} {{ render "@themeblock--economie" }} {{ render "@themeblock--financien"
            }} {{ render "@themeblock--huisvesting" }} {{ render "@themeblock--internationaal" }} {{ render "@themeblock--landbouw"
            }} {{ render "@themeblock--migratie" }} {{ render "@themeblock--natuur" }} {{ render "@themeblock--onderwijs"
            }} {{ render "@themeblock--veiligheid" }} {{ render "@themeblock--recht" }} {{ render "@themeblock--infrastructuur"
            }} {{ render "@themeblock--socialezekerheid" }} {{ render "@themeblock--verkeer" }} {{ render "@themeblock--werk"
            }} {{ render "@themeblock--zorg" }}

          </ul>
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="tooltip">Tooltip</h1>
          <p>Omschrijving</p>

          <p>Een titel{{render "@tooltip" }}</p>
        </div>
      </article>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="treeview">Treeview</h1>
          <p>Omschrijving</p>

          {{render "@treeview" }}
        </div>
      </article>

    </div>

    <div class="column column--sidebar" id="subnav">

      {{render "@nav" navMenuContext }} {{render "@nav" navComponentsContext }}

      <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close">
        <span class="visually-hidden">Sluiten</span>
      </button>

      <a href="#" class="to-top" data-decorator="to-top" title="Terug naar de bovenkant van de pagina">Naar boven</a>

    </div>

  </div>

  {{ render "@footer" }}
