<header class="header">

  <div class="header__start">
    <div class="container">
      <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
          <img src="../../images/logo.svg" alt="Overheid.nl logo" />
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
              <span>Beleid en regelgeving</span>
              <span>Wettenbank</span>
          </p>
      </div>

      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
        <a href="#search">Direct zoeken</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
        <li><a href="#">Eenvoudig zoeken</a></li>
        <li><a href="#">Uitgebreid zoeken</a></li>
        <li><a href="#">Zoeken op EU-richtlijn</a></li>
      </ul>
      {{ render "@search" search merge="true" }}
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
<div class="header__more" id="other-sites">
  <div class="container">
    <div>
      <h2>Verdragenbank</h2>
      <p>De Verdragenbank bevat de gegevens van de verdragen waarbij het Koninkrijk der Nederlanden partij is. Er is ook een Engelse versie.</p>
      <ul class="list list--linked">
        <li><a href="#">Verdragenbank</a></li>
      </ul>
    </div>
    <div>
      <h2>Verdragenbank over twee regels</h2>
      <p>De Verdragenbank bevat de gegevens van de verdragen waarbij het Koninkrijk der Nederlanden partij is. Er is ook een Engelse versie.</p>
      <ul class="list list--linked">
        <li><a href="#">Verdragenbank</a></li>
      </ul>
    </div>
    <div>
      <h2>Verdragenbank</h2>
      <p>De Verdragenbank bevat de gegevens van de verdragen waarbij het Koninkrijk der Nederlanden partij is. Er is ook een Engelse versie.</p>
      <ul class="list list--linked">
        <li><a href="#">Verdragenbank</a></li>
      </ul>
    </div>
    <div>
      <h2>Verdragenbank</h2>
      <p>De Verdragenbank bevat de gegevens van de verdragen waarbij het Koninkrijk der Nederlanden partij is. Er is ook een Engelse versie.</p>
      <ul class="list list--linked">
        <li><a href="#">Verdragenbank</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container columns columns--sticky-sidebar row">
  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
      <div>

        <a href="#" class="icon--backlink">Terug naar zoekresultaten (9430)</a>

        <a href="#">&laquo; Vorige</a> <a href="#" class="pull-right">Volgende &raquo;</a>

        <h2>Goedkeuringswet Verdrag tussen Nederland en Noorwegen (...) <span>Geldend van 01-07-2016 t/m heden</span></h2>
        <div class="actionblock">
            <ul class="actionblock__list">
                <li>
                    <a href="#">
              <img src="../../images/icon-plus.svg" alt="" role="presentation" />
              Alles openklappen
              </a>
                </li>
                <li>
                    <a href="#">
              <img src="../../images/icon-minus.svg" alt="" role="presentation" />
              Alles dichtklappen
              </a>
                </li>
            </ul>
        </div>

        <h2>Inhoudsopgave</h2>
        {{ render "@treeview" }}
      </div>
  </div>
  <div>
    <h1>Goedkeuringswet Verdrag tussen Nederland en Noorwegen inzake het gebruik van een [...] vonnissen opgelegde vrijheidsstraffen (Trb. 2015, 37)</h1>

    <p>Geldend van 01-07-2016 t/m heden</p>

    <div class="article__header--law">

      <ul>
        <li><a href="#">Versie informatie <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Versie vergelijk <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Relaties <span class="visually-hidden">Artikel 2</span> (11)</a></li>
        <li><a href="#">Permanente link <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Print <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Bewaar <span class="visually-hidden">Artikel 2</span></a></li>
      </ul>
    </div>
    <p>Wet van 30 juni 2015 tot goedkeuring en uitvoering van het op 2 maart 2015 te Veenhuizen tot stand gekomen Verdrag tussen het Koninkrijk der Nederlanden en het Koninkrijk Noorwegen inzake het gebruik van een penitentiaire inrichting in Nederland voor de tenuitvoerlegging van bij Noorse vonnissen opgelegde vrijheidsstraffen (Trb. 2015, 37)</p>
    <p>Wij Willem-Alexander, bij de gratie Gods, Koning der Nederlanden, Prins van Oranje-Nassau, enz. enz. enz.</p>
    <p>Allen, die deze zullen zien of horen lezen, saluut! doen te weten:</p>
    <p>Alzo Wij in overweging genomen hebben, dat het op 2 maart 2015 te Veenhuizen tot stand gekomen Verdrag tussen het Koninkrijk der Nederlanden en het Koninkrijk Noorwegen inzake het gebruik van een penitentiaire inrichting in Nederland voor de tenuitvoerlegging van bij Noorse vonnissen opgelegde vrijheidsstraffen ingevolge artikel 91, eerste lid, van de Grondwet de goedkeuring van de Staten-Generaal behoeft, alvorens het Koninkrijk daaraan kan worden gebonden en voorts dat het noodzakelijk is enige wettelijke voorzieningen te treffen teneinde uitvoering te geven aan genoemd verdrag;</p>
    <p>Zo is het, dat Wij, de Afdeling advisering van de Raad van State gehoord, en met gemeen overleg der Staten-Generaal, hebben goedgevonden en verstaan, gelijk Wij goedvinden en verstaan bij deze:</p>

    <div class="article__header--law article__header--law--part">
      <div class="collapsible {{ modifier }}" data-decorator="init-collapsible" id="1">
        <div class="collapsible__header">
          <h2><a href="#1" aria-controls="collapsible-content-1" aria-expanded="true" data-handler="toggle-collapsible">Deel 1. Algemene bepalingen</a></h2>
        </div>
        <div class="collapsible__content" id="collapsible-content-1">
          <ul>
            <li><a href="#">Versie informatie <span class="visually-hidden">Artikel 2</span></a></li>
            <li><a href="#">Versie vergelijk <span class="visually-hidden">Artikel 2</span></a></li>
            <li><a href="#">Relaties <span class="visually-hidden">Artikel 2</span> (11)</a></li>
            <li><a href="#">Permanente link <span class="visually-hidden">Artikel 2</span></a></li>
            <li><a href="#">Print <span class="visually-hidden">Artikel 2</span></a></li>
            <li><a href="#">Bewaar <span class="visually-hidden">Artikel 2</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="article__header--law article__header--law--chapter">

      <div class="collapsible {{ modifier }}" data-decorator="init-collapsible" id="2">
        <div class="collapsible__header">
          <h3><a href="#2" aria-controls="collapsible-content-2" aria-expanded="true" data-handler="toggle-collapsible">Hoofdstuk 1.1 Begripsbepalingen</a></h3>
        </div>
        <div class="collapsible__content" id="collapsible-content-2">
          <ul>
            <li><a href="#">Versie informatie <span class="visually-hidden">Artikel 2</span></a></li>
            <li><a href="#">Versie vergelijk <span class="visually-hidden">Artikel 2</span></a></li>
            <li><a href="#">Relaties <span class="visually-hidden">Artikel 2</span> (11)</a></li>
            <li><a href="#">Permanente link <span class="visually-hidden">Artikel 2</span></a></li>
            <li><a href="#">Print <span class="visually-hidden">Artikel 2</span></a></li>
            <li><a href="#">Bewaar <span class="visually-hidden">Artikel 2</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="article__header--law">

      <h4>Artikel 1.1</h4>
      <p>Geldend van 01-04-2012</p>

      <ul>
        <li><a href="#">Versie informatie <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Versie vergelijk <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Relaties <span class="visually-hidden">Artikel 2</span> (11)</a></li>
        <li><a href="#">Permanente link <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Print <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Bewaar <span class="visually-hidden">Artikel 2</span></a></li>
      </ul>

    </div>

    <ol>
      <li>Voor de toepassing van deze wet en van de tot haar uitvoering genomen besluiten wordt verstaan onder:
        <ol>
          <li>Onze Minister: Onze Minister van Sociale Zaken en Werkgelegenheid;</li>
          <li>lichamen: rechtspersonen, maat- en vennootschappen, samenwerkingsvormen zonder rechtspersoonlijkheid die met verenigingen maatschappelijk gelijk kunnen worden gesteld, ondernemingen van publiekrechtelijke rechtspersonen en doelvermogens;</li>
          <li>vreemdeling: hetgeen daaronder wordt verstaan in de Vreemdelingenwet 2000;</li>
          <li>bruto-minimumloon: het in artikel 8, eerste lid, onderdeel a, van de Wet minimumloon en minimumvakantiebijslag bedoelde bedrag;</li>
          <li>rechtens zijn vrijheid is ontnomen: rechtens zijn vrijheid is ontnomen, behoudens de gevallen, bedoeld in de Wet bijzondere opnemingen in psychiatrische ziekenhuizen en in artikel 37, eerste lid, van het Wetboek van Strafrecht;</li>
          <li>justitiële inrichting: een penitentiaire inrichting of een inrichting voor verpleging van ter beschikking gestelden;</li>
          <li>continentaal plat: de exclusieve economische zone van het Koninkrijk, bedoeld in artikel 1 van de Rijkswet instelling exclusieve economische zone, voor zover deze grenst aan de territoriale zee van Nederland;</li>
          <li>vrijheidsstraf of vrijheidsbenemende maatregel: een bij onherroepelijk geworden vonnis opgelegde vrijheidsstraf of vrijheidsbenemende maatregel als bedoeld in het Wetboek van Strafrecht, behoudens de gevallen, bedoeld in artikel 37, eerste lid, van het Wetboek van Strafrecht;</li>
          <li>pensioengerechtigde leeftijd: leeftijd, bedoeld in artikel 7a, waarop recht op ouderdomspensioen ontstaat;</li>
          <li>aanvangsleeftijd: leeftijd, bedoeld in artikel 7a, met ingang waarvan een niet verzekerd tijdvak leidt tot een korting op het ouderdomspensioen;</li>
          <li>CBS: Centraal bureau voor de statistiek, bedoeld in artikel 2, eerste lid, van de Wet op het Centraal bureau voor de statistiek;</li>
          <li>uitreiziger: persoon ten aanzien van wie op grond van een melding van de opsporingsdiensten of inlichtingen- en veiligheidsdiensten, gericht aan de Sociale verzekeringsbank, is gebleken dat het gegronde vermoeden bestaat dat deze persoon zich buiten Nederland bevindt met het doel om zich aan te sluiten bij een organisatie die is geplaatst op de lijst van organisaties, bedoeld in artikel 14, vierde lid, van de Rijkswet op het Nederlanderschap.</li>
        </ol>
      </li>
      <li>In deze wet en de daarop berustende bepalingen wordt gelijkgesteld met:
        <ol>
          <li>echtgenoot: geregistreerde partner;</li>
          <li>echtgenoten: geregistreerde partners;</li>
          <li>gehuwd: als partner geregistreerd;</li>
          <li>gehuwde: als partner geregistreerde.</li>
        </ol>
      </li>
      <li>In deze wet en de daarop berustende bepalingen wordt:
        <ol>
          <li>als gehuwd of als echtgenoot mede aangemerkt de ongehuwde meerderjarige die met een andere ongehuwde meerderjarige een gezamenlijke huishouding voert, tenzij het betreft een bloedverwant in de eerste graad;</li>
          <li>als ongehuwd mede aangemerkt degene die duurzaam gescheiden leeft van de persoon met wie hij gehuwd is.</li>
        </ol>
      </li>
      <li>Van een gezamenlijke huishouding is sprake indien twee personen hun hoofdverblijf in dezelfde woning hebben en zij blijk geven zorg te dragen voor elkaar door middel van het leveren van een bijdrage in de kosten van de huishouding dan wel anderszins.</li>
      <li>Een gezamenlijke huishouding wordt in ieder geval aanwezig geacht indien de betrokkenen hun hoofdverblijf hebben in dezelfde woning en:
        <ol>
          <li>zij met elkaar gehuwd zijn geweest of eerder voor de toepassing van deze wet daarmee gelijk zijn gesteld;</li>
          <li>uit hun relatie een kind is geboren of erkenning heeft plaatsgevonden van een kind van de een door de ander;</li>
          <li>zij zich wederzijds verplicht hebben tot een bijdrage aan de huishouding krachtens een geldend samenlevingscontract; of</li>
          <li>zij op grond van een registratie worden aangemerkt als een gezamenlijke huishouding die naar aard en strekking overeenkomt met de gezamenlijke huishouding, bedoeld in het vierde lid.</li>
        </ol>
      </li>
      <li>Bij algemene maatregel van bestuur wordt vastgesteld welke registraties, en gedurende welk tijdvak, in aanmerking worden genomen voor de toepassing van het vijfde lid, onderdeel d.</li>
      <li>Bij algemene maatregel van bestuur kunnen regels worden gesteld ten aanzien van hetgeen wordt verstaan onder het hoofdverblijf in dezelfde woning hebben als bedoeld in het vierde en vijfde lid, aanhef, en het blijk geven zorg te dragen voor een ander als bedoeld in het vierde lid.</li>
      <li>Onder bloedverwant in de eerste graad als bedoeld in het derde lid, onderdeel a, wordt mede verstaan een meerderjarig aangehuwd kind of een meerderjarig voormalig pleegkind van de ongehuwde meerderjarige.</li>
      <li>Onder voormalig pleegkind als bedoeld in het achtste lid wordt verstaan een pleegkind voor wie de ongehuwde meerderjarige een pleegvergoeding ontving of ontvangt op grond van de Wet op de jeugdzorg of de Jeugdwet, of kinderbijslag ontving op grond van de Algemene Kinderbijslagwet.</li>
    </ol>


    <div class="article__header--law">
      <h4>Artikel 1.2</h4>

      <p>Geldend vanaf 01-04-2012</p>

      <ul>
        <li><a href="#">Versie informatie <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Versie vergelijk <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Relaties <span class="visually-hidden">Artikel 2</span> (11)</a></li>
        <li><a href="#">Permanente link <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Print <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Bewaar <span class="visually-hidden">Artikel 2</span></a></li>
      </ul>
    </div>

    <p>Ingezetene in de zin van deze wet is degene, die in Nederland woont.</p>

    <div class="article__header--law">

      <h4>Artikel 1.3</h4>

      <p>Geldend vanaf 01-04-2012</p>

      <ul>
        <li><a href="#">Versie informatie <span class="visually-hidden">Artikel 3</span></a></li>
        <li><a href="#">Versie vergelijk <span class="visually-hidden">Artikel 3</span></a></li>
        <li><a href="#">Relaties <span class="visually-hidden">Artikel 3</span> (11)</a></li>
        <li><a href="#">Permanente link <span class="visually-hidden">Artikel 3</span></a></li>
        <li><a href="#">Print <span class="visually-hidden">Artikel 3</span></a></li>
        <li><a href="#">Bewaar <span class="visually-hidden">Artikel 3</span></a></li>
      </ul>

    </div>

    <ol>
      <li>Waar iemand woont en waar een lichaam gevestigd is, wordt naar de omstandigheden beoordeeld.</li>
      <li>Voor de toepassing van het eerste lid worden schepen welke in Nederland hun thuishaven hebben, ten opzichte van de bemanning als deel van Nederland beschouwd.</li>
      <li>Hij die Nederland metterwoon heeft verlaten en binnen een jaar nadien metterwoon terugkeert zonder inmiddels in Aruba, Curaçao, Sint Maarten, de openbare lichamen Bonaire, Sint Eustatius en Saba, of op het grondgebied van een andere Mogendheid te hebben gewoond, wordt ook voor de duur van zijn afwezigheid geacht in Nederland te hebben gewoond.</li>
    </ol>

    <div class="article__header--law">

      <h4>Artikel 1.4</h4>
      <p>[Vervallen per 01-01-1995]</p>

      <ul>
        <li><a href="#">Versie informatie <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Versie vergelijk <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Relaties <span class="visually-hidden">Artikel 2</span> (11)</a></li>
        <li><a href="#">Permanente link <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Print <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Bewaar <span class="visually-hidden">Artikel 2</span></a></li>
      </ul>

    </div>

    <div class="article__header--law">

      <h4>Artikel 1.5</h4>
      <p>[Vervallen per 01-01-2001]</p>

      <ul>
        <li><a href="#">Versie informatie <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Versie vergelijk <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Relaties <span class="visually-hidden">Artikel 2</span> (11)</a></li>
        <li><a href="#">Permanente link <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Print <span class="visually-hidden">Artikel 2</span></a></li>
        <li><a href="#">Bewaar <span class="visually-hidden">Artikel 2</span></a></li>
      </ul>

    </div>

    <h3>Hoofdstuk 1.2 Kring der verzekerden</h3>

    <div class="article__header--law">

      <h4>Artikel 1.6</h4>

      <ul>
        <li><a href="#">Versie informatie <span class="visually-hidden">Artikel 6</span></a></li>
        <li><a href="#">Versie vergelijk <span class="visually-hidden">Artikel 6</span></a></li>
        <li><a href="#">Relaties <span class="visually-hidden">Artikel 6</span> (11)</a></li>
        <li><a href="#">Permanente link <span class="visually-hidden">Artikel 6</span></a></li>
        <li><a href="#">Print <span class="visually-hidden">Artikel 6</span></a></li>
        <li><a href="#">Bewaar <span class="visually-hidden">Artikel 6</span></a></li>
      </ul>

    </div>


    <ol>
      <li>Verzekerd overeenkomstig de bepalingen van deze wet is degene, die nog niet de pensioengerechtigde leeftijd heeft bereikt, en
        <ol>
          <li>ingezetene is;</li>
          <li>geen ingezetene is, doch ter zake van in Nederland of op het continentaal plat in dienstbetrekking verrichte arbeid aan de loonbelasting is onderworpen.</li>
        </ol>
      </li>
      <li>Niet verzekerd is de vreemdeling die niet rechtmatig in Nederland verblijf houdt in de zin van artikel 8, onder a tot en met e en l, van de Vreemdelingenwet 2000.</li>
      <li>Bij of krachtens algemene maatregel van bestuur kan, in afwijking van het eerste en tweede lid, uitbreiding dan wel beperking worden gegeven aan de kring der verzekerden.</li>
      <li>Bij een maatregel, als bedoeld in het derde lid, kan worden afgeweken van het tweede lid ten aanzien van:
        <ol>
          <li>vreemdelingen die rechtmatig in Nederland arbeid verrichten, dan wel hebben verricht;</li>
          <li>vreemdelingen die, na rechtmatig verblijf te hebben gehouden in de zin van artikel 8, onder a tot en met e en l, van de Vreemdelingenwet 2000, rechtmatig in Nederland verblijf hebben als bedoeld in artikel 8, onder g of h, van de Vreemdelingenwet 2000.</li>
        </ol>
      </li>
    </ol>
    <p>Gegeven te</p>
    <p>Wassenaar, 30 juni 2015</p>
  </div>
</div>

{{ render "@footer" }}
