{{ render "@header" headerContext merge="true" }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container columns columns--sticky-sidebar row">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <h2>Acties</h2>
    {{ render "@actionblock"  }}

  </div>

  <div>

    {{ render "@pageactions"  }}

    <h1>22 resultaten gevonden</h1>
    {{ render "@sort" }}
    <h2>Wetten</h2>

    <div class="result--list">
      <ul>
        <li>
          <a href="#" class="result--title">Aanpassingswet Burgerlijk Wetboek Boek 8 (toetreding Koninkrijk tot Protocol tot wijziging Verdrag inzake beperking van aansprakelijkheid voor maritieme vorderingen)</a> (19 artikelen)

          <div class="collapsible collapsible--small" data-decorator="init-collapsible" id="2">
              <div class="collapsible__header">
                  <a href="#2" aria-controls="collapsible-content-2" aria-expanded="true" data-handler="toggle-collapsible">Gerelateerde elementen</a>
              </div>
              <div class="collapsible__content" id="collapsible-content-2">
                  <fieldset class="form__element checkboxgroup">
                      <label for="option-5">
                    <input type="checkbox" id="option-5">Artikel 1.1
                  </label>
                      <label for="option-6">
                    <input type="checkbox" id="option-6">Artikel 1.2
                  </label>
                      <label for="option-7">
                    <input type="checkbox" id="option-7">Artikel 1.3
                  </label>
                      <label for="option-8">
                    <input type="checkbox" id="option-8">Artikel 1.4
                  </label>
                  </fieldset>
              </div>
          </div>

        </li>
        <li>
          <a href="#" class="result--title">Titel eerste resultaat</a> (4 artikelen)

          <div class="collapsible collapsible--small" data-decorator="init-collapsible" id="1">
              <div class="collapsible__header">
                  <a href="#1" aria-controls="collapsible-content-1" aria-expanded="true" data-handler="toggle-collapsible">Gerelateerde elementen</a>
              </div>
              <div class="collapsible__content" id="collapsible-content-1">
                  <fieldset class="form__element checkboxgroup">
                      <label for="option-1">
                    <input type="checkbox" id="option-1">Artikel 1.1
                  </label>
                      <label for="option-2">
                    <input type="checkbox" id="option-2">Artikel 1.2
                  </label>
                      <label for="option-3">
                    <input type="checkbox" id="option-3">Artikel 1.3
                  </label>
                      <label for="option-4">
                    <input type="checkbox" id="option-4">Artikel 1.4
                  </label>
                  </fieldset>
              </div>
          </div>

        </li>

        <li>
          <a href="#" class="result--title">Titel tweede resultaat</a> (19 artikelen)

          <div class="collapsible collapsible--small" data-decorator="init-collapsible" id="2">
              <div class="collapsible__header">
                  <a href="#2" aria-controls="collapsible-content-2" aria-expanded="true" data-handler="toggle-collapsible">Gerelateerde elementen</a>
              </div>
              <div class="collapsible__content" id="collapsible-content-2">
                  <fieldset class="form__element checkboxgroup">
                      <label for="option-5">
                    <input type="checkbox" id="option-5">Artikel 1.1
                  </label>
                      <label for="option-6">
                    <input type="checkbox" id="option-6">Artikel 1.2
                  </label>
                      <label for="option-7">
                    <input type="checkbox" id="option-7">Artikel 1.3
                  </label>
                      <label for="option-8">
                    <input type="checkbox" id="option-8">Artikel 1.4
                  </label>
                  </fieldset>
              </div>
          </div>

        </li>
      </ul>
    </div>

    <h2>AMVB's en andere KB's</h2>

    <div class="result--list">
      <ul>
        <li>
          <a href="#" class="result--title">Aanbestedingswet op defensie- en veiligheidsgebied</a> (4 artikelen)

          <div class="alert alert--warning alert--small">Regeling vervalt per 01-01-16 met terugwerkende kracht t/m 01-01-15</div>

          <div class="collapsible collapsible--small" data-decorator="init-collapsible" id="1">
              <div class="collapsible__header">
                  <a href="#1" aria-controls="collapsible-content-1" aria-expanded="true" data-handler="toggle-collapsible">Gerelateerde elementen</a>
              </div>
              <div class="collapsible__content" id="collapsible-content-1">
                  <fieldset class="form__element checkboxgroup">
                      <label for="option-1">
                    <input type="checkbox" id="option-1">Artikel 1.1
                  </label>
                      <label for="option-2">
                    <input type="checkbox" id="option-2">Artikel 1.2
                  </label>
                      <label for="option-3">
                    <input type="checkbox" id="option-3">Artikel 1.3
                  </label>
                      <label for="option-4">
                    <input type="checkbox" id="option-4">Artikel 1.4
                  </label>
                  </fieldset>
              </div>
          </div>

        </li>

        <li>
          <a href="#" class="result--title">Aanpassingswet Burgerlijk Wetboek Boek 8 (toetreding Koninkrijk tot Protocol tot wijziging Verdrag inzake beperking van aansprakelijkheid voor maritieme vorderingen)</a> (19 artikelen)

          <div class="collapsible collapsible--small" data-decorator="init-collapsible" id="2">
              <div class="collapsible__header">
                  <a href="#2" aria-controls="collapsible-content-2" aria-expanded="true" data-handler="toggle-collapsible">Gerelateerde elementen</a>
              </div>
              <div class="collapsible__content" id="collapsible-content-2">
                  <fieldset class="form__element checkboxgroup">
                      <label for="option-5">
                    <input type="checkbox" id="option-5">Artikel 1.1
                  </label>
                      <label for="option-6">
                    <input type="checkbox" id="option-6">Artikel 1.2
                  </label>
                      <label for="option-7">
                    <input type="checkbox" id="option-7">Artikel 1.3
                  </label>
                      <label for="option-8">
                    <input type="checkbox" id="option-8">Artikel 1.4
                  </label>
                  </fieldset>
              </div>
          </div>

        </li>
      </ul>
    </div>
    <h2>Minsteriële regelingen</h2>

    <div class="result--list">
      <ul>
        <li>
          <a href="#" class="result--title">Aanbestedingswet 2012</a> (4 artikelen)

          <div class="collapsible collapsible--small" data-decorator="init-collapsible" id="1">
              <div class="collapsible__header">
                  <a href="#1" aria-controls="collapsible-content-1" aria-expanded="true" data-handler="toggle-collapsible">Gerelateerde elementen</a>
              </div>
              <div class="collapsible__content" id="collapsible-content-1">
                  <fieldset class="form__element checkboxgroup">
                      <label for="option-1">
                    <input type="checkbox" id="option-1">Artikel 1.1
                  </label>
                      <label for="option-2">
                    <input type="checkbox" id="option-2">Artikel 1.2
                  </label>
                      <label for="option-3">
                    <input type="checkbox" id="option-3">Artikel 1.3
                  </label>
                      <label for="option-4">
                    <input type="checkbox" id="option-4">Artikel 1.4
                  </label>
                  </fieldset>
              </div>
          </div>

        </li>

        <li>
          <a href="#" class="result--title">Aanpassingswet Burgerlijk Wetboek Boek 8 (toetreding Koninkrijk tot Protocol tot wijziging Verdrag inzake beperking van aansprakelijkheid voor maritieme vorderingen)</a> (19 artikelen)

          <div class="collapsible collapsible--small" data-decorator="init-collapsible" id="2">
              <div class="collapsible__header">
                  <a href="#2" aria-controls="collapsible-content-2" aria-expanded="true" data-handler="toggle-collapsible">Gerelateerde elementen</a>
              </div>
              <div class="collapsible__content" id="collapsible-content-2">
                  <fieldset class="form__element checkboxgroup">
                      <label for="option-5">
                    <input type="checkbox" id="option-5">Artikel 1.1
                  </label>
                      <label for="option-6">
                    <input type="checkbox" id="option-6">Artikel 1.2
                  </label>
                      <label for="option-7">
                    <input type="checkbox" id="option-7">Artikel 1.3
                  </label>
                      <label for="option-8">
                    <input type="checkbox" id="option-8">Artikel 1.4
                  </label>
                  </fieldset>
              </div>
          </div>

        </li>
        <li>
          <a href="#" class="result--title">Titel tweede resultaat</a> (19 artikelen)

          <div class="collapsible collapsible--small" data-decorator="init-collapsible" id="2">
              <div class="collapsible__header">
                  <a href="#2" aria-controls="collapsible-content-2" aria-expanded="true" data-handler="toggle-collapsible">Gerelateerde elementen</a>
              </div>
              <div class="collapsible__content" id="collapsible-content-2">
                  <fieldset class="form__element checkboxgroup">
                      <label for="option-5">
                    <input type="checkbox" id="option-5">Artikel 1.1
                  </label>
                      <label for="option-6">
                    <input type="checkbox" id="option-6">Artikel 1.2
                  </label>
                      <label for="option-7">
                    <input type="checkbox" id="option-7">Artikel 1.3
                  </label>
                      <label for="option-8">
                    <input type="checkbox" id="option-8">Artikel 1.4
                  </label>
                  </fieldset>
              </div>
          </div>

        </li>
      </ul>
    </div>
    {{ render "@pagination" }}
  </div>
</div>

{{ render "@footer" }}
