{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row row--heading">
  <h1>Geavanceerd zoeken</h1>
</div>

<form action="">
  <div class="container columns row">
    <div>
      <h2>Zoek op locatie</h2>
      <p>Typ de postode waarvoor u bekendmakingen wilt vinden.</p>
      {{ render '@input-text--postal-code' }}
      {{ render '@input-radio' postalCodeStraal merge="true" }}
    </div>
    <div>
      <h2>Zoek op woord of zinsdeel</h2>
      <p>Typ een of meer woorden die exact zo moeten voorkomen in de tekst.</p>
      <h3>Zoek op onderwerp</h3>
      {{ render '@input-text' searchSubject }}
      <h2>Zoek op datum</h2>
      <p>Kies de periode waarbinnen de bekendmakingen zijn gepubliceerd.</p>
      {{ render '@input-radio' timeScale merge="true" }}

      <div class="daterange">
        {{ render '@input-text' dateFrom merge="true" }}
        {{ render '@input-text' dateTo merge="true" }}
      </div>
    </div>
  </div>
  <div class="container row">
    <input type="submit" class="button button--primary" value="Zoeken" >
  </div>
</form>

{{ render "@footer" }}
