<div class="wrapper">

  {{ render "@header" headerContext merge="true" }}

  <div class="row row--pagetop row--ab container container--ab align-center">
    
    <h1>Wegwijzer naar informatie en diensten van alle overheden</h1>
    
    <p>Uw ingang tot dienstverlening, beleid en officiële informatie over bijvoorbeeld uw leefomgeving, of we helpen u de juiste overheidsorganisatie te vinden. Waar bent u naar op zoek?</p>

  </div>

  <div class="container row">
    <div class="columns columns--homepage-tiles">
      {{ render "@homepage-block--related" homepageBlock1 merge="true" }}
      {{ render "@homepage-block--related" homepageBlock2 merge="true" }}
      {{ render "@homepage-block--related" homepageBlock3 merge="true" }}
      {{ render "@homepage-block--related" homepageBlock4 merge="true" }}
    </div>
  </div>

</div>

{{ render "@footer" }}
