<div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "{{type}}", "triggerOnChangeText": "{{linkTextActive}}", "maxShow": "{{maxShow}}" }'>
  <div class="subselection__summary"></div>
  <div id="modal-{{id}}" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>{{modalTitle}}</h2>
        {{#if searchFilter}}
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--{{id}}">{{label}}</label>
              <input type="text" aria-controls="resultfilter-{{id}}" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--{{id}}" class="js-filterresults__input input-text input-text--searchmedium"
            />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-{{id}}" aria-live="polite">
              <legend class="visually-hidden">{{modalTitle}}</legend>
        {{/if}}
        {{#if selectAll}}
        <div data-decorator="init-selectall">
          <div class="input-checkbox u-margin--m">
            <input class="checkbox__input js-checkbox-master" type="checkbox" id="{{selectAllID}}" name="selectAll" value="Alle iets" />
            <label class="checkbox__label" for="{{selectAllID}}">
              <strong>Alle {{itemsCount}} verdragen</strong>
            </label>
          </div>
        {{/if}}
              <p class="form__label">{{#if OptionsLabel}}{{OptionsLabel}}{{/if}}</p>
              {{#if Options}}
               <ul class="list--unstyled">
                {{#each Options }}
                  <li class=" js-filterresults__result">
                    <div class="input-{{#if ../radio}}radio{{else}}checkbox{{/if}}">
                      <input class="{{#if ../radio}}radio{{else}}checkbox{{/if}}__input" {{disabled}} {{checked}} type="{{#if ../radio}}radio{{else}}checkbox{{/if}}" id="option-{{ id }}" name="name" {{ status }} data-value="{{ short }}" value="2"
                      />
                      <label class="{{#if ../radio}}radio{{else}}checkbox{{/if}}__label" for="option-{{ id  }}">
                        {{ title }}
                      </label>
                    </div>
                  </li>
                {{/each}}
                </ul>
               {{/if}}
                <p class="form__label">{{#if Options2Label}}{{Options2Label}}{{/if}}</p>
                  {{#if Options2}}
                  <ul class="list--unstyled">
                    {{#each Options2 }}
                      <li class=" js-filterresults__result">
                        <div class="input-{{#if ../radio}}radio{{else}}checkbox{{/if}}">
                          <input class="{{#if ../radio}}radio{{else}}checkbox{{/if}}__input" {{disabled}} {{checked}} type="{{#if ../radio}}radio{{else}}checkbox{{/if}}" id="option-{{ id }}" name="name" {{ status }} data-value="{{ short }}" value="2"
                          />
                          <label class="{{#if ../radio}}radio{{else}}checkbox{{/if}}__label" for="option-{{ id  }}">
                            {{ title }}
                          </label>
                        </div>
                      </li>
                    {{/each}}
                    </ul>
                  {{/if}}
        {{#if selectAll}}
         </div>
        {{/if}}
        {{#if searchFilter}}
            </fieldset>
          </div>
        {{/if}}

        <div class="modal__buttonpane">
          <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id{{id}}" data-handler="open-modal" data-modal="modal-{{id}}" class="subselection__trigger icon">{{linkText}}</a>
</div>

<!--
<label for="input{{id}}">
  <input id="input{{id}}" value="{{short}}" type="checkbox" name="name">{{title}}
</label>
-->
