{{#if range}}

  <label for="input--1">Van</label>
  <div class="datepicker">
    <input type="date" value="2015-02-14" data-date="14-02-2015" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy", "range" : "true", "rangePosition": "from", "rangeRelation":"#input--2" }' id="input--1" placeholder="{{ fieldPlaceholder }}" />
  </div>

  <label for="input--2">Tot</label>
  <div class="datepicker">
    <input type="date" value="2015-02-14" data-date="14-02-2015" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy", "range" : "true", "rangePosition": "to", "rangeRelation":"#input--1" }' id="input--2" placeholder="{{ fieldPlaceholder2 }}" />
  </div>

{{else}}
  {{#if haslabel}}
    <label for="input--{{id}}">{{label}}</label>
  {{/if}}
  <div class="datepicker">
    <input type="date" value="" data-date="" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy"{{#if yearrange}}, "yearrange": "{{yearrange}}"{{/if}} }' id="input--{{ id }}" placeholder="{{ fieldPlaceholder }}" />
  </div>

  {{#if debug}}
  <script>
    document.getElementById('input--1').addEventListener('blur', function (e) {
      alert(document.getElementById('input--1').getAttribute('data-date'));
    });
  </script>
  {{/if}}
{{/if}}
