<div class="form__element">
  <label for="input--{{ id }}">{{ fieldLabel }}</label>
  {{#if fieldInstruction }}
    <small>{{ fieldInstruction }}</small>
  {{/if }}
  <div class="datepicker">
    <input type="date" value="2015-02-14" data-date="14-02-2015" class="datepicker__input" data-decorator="init-datepicker" data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--{{ id }}" placeholder="{{ fieldPlaceholder }}" />
  </div>
</div>

{{#if debug}}
<script>
  document.getElementById('input--1').addEventListener('blur', function (e) {
    alert(document.getElementById('input--1').value);
  });


</script>
{{/if}}
