<div class="input-inputsubmit">
  <label {{#if showLabel}}{{else}}class="visually-hidden"{{/if}} for="{{id}}">{{ label }}</label>
  <div class="input-inputsubmit__grid">
    <input id="{{id}}" type="text" class="input {{modifier}}" placeholder="{{placeholder}}" />
    <button class="button button--primary">{{button}}</button>
  </div>
</div>
