<div class="collapsible {{ modifier }}" data-decorator="init-collapsible" id="{{ id }}">
  <div class="collapsible__header">
    <a href="#{{ id }}" aria-controls="collapsible-content-{{ id }}" aria-expanded="true" data-handler="toggle-collapsible">{{ heading }}</a> {{#if headingExtra}}<span>{{headingExtra}}</span>{{/if}}
  </div>
  <div class="collapsible__content" id="collapsible-content-{{ id }}">
    {{#if text}}
      {{{ text }}}
    {{else}}
      {{#> @partial-block}}
      {{/ @partial-block}}
    {{/if}}
  </div>
</div>
