{{ render "@header" header merge=true }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

{{#each rowImage }}
<div class="row row--image row--landing" style="background-image: url({{ image }});">
  <div class="container">
    <div class="content--onimage">
      <h1>{{ title }}</h1>
      <p class="intro--text">{{ intro }}</p>
    </div>
  </div>
</div>
{{/each}}

{{#each highlights }}
<div class="row row--highlight">
  <div class="container">
    <div class="columns">
      {{#each linkSet }}
      <div>
        <h2>{{ title }}</h2>
        <p>{{ intro }}</p>
        {{#if links }}
        <ul>
        {{#each links }}
          <li><a href="{{ url }}">{{ text }}</a></li>
        {{/each}}
        </ul>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/each}}

{{#each subjects  }}
<div class="row container">
  <h2>{{ title }}</h2>
  <div class="columns">
    {{#each linkSet }}
    <div>
      {{#if links }}
      <ul class="list list--linked">
      {{#each links }}
        <li><a href="{{ url }}">{{ text }}</a></li>
      {{/each}}
      </ul>
      {{/if}}
    </div>
    {{/each}}
  </div>
</div>
{{/each}}

{{ render "@footer" }}
