{{ render "@header" header merge=true }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb merge=true }}
  </div>
</div>

<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability"
    id="toggleable-1">
    <div>
      <a href="#" class="icon--backlink">Terug naar zoekresultaten</a>

      <h3 class="nav-sub__heading"><i>Inhoudsopgave</i></h3>

      {{ render "@treeview" }}
    </div>
  </div>
  <div id="content" role="main">

    {{ render "@pageactions" pageactions }}

    <div id="broodtekst" class="stuk broodtekst-container">
      <h1>Titel van het document</h1>
      <p>Body van het document</p>
    </div>

    <div class="regeling"><!--TCID regeling-->
                           <div class="aanhef"><!--TCID aanhef-->
                              <p></p>
                           </div>
                           <div class="regeling-tekst"><!--TCID regeling-tekst-->
                              <section class="section-chapter js-scrollSection" id="d9100e56"><!--TCID hoofdstuk-->
                                 <h4 class="h4_kop">BELEIDSREGEL INZAKE BEOORDELING VERZOEK OM IMMATERIELE SCHADEVERGOEDING OP GROND VAN
                                    OVERSCHRIJDEN REDELIJKE TERMIJN ARTIKEL 6 EUROPEES VERDRAG VAN DE RECHTEN VAN DE MENS
                                    (hierna :EVRM).</h4>
                                 <div class="artikel">
                                    <container>
                                       <h5 class="artikel_kop">Artikel 1</h5>
                                       <ul class="list-custom list-custom--size-xs whitespace-small">
                                          <li class="list-custom__item">
                                             <p class="lid labeled"><span class="list-custom__itembullet">a)</span> Van overschrijding van de redelijke termijn op grond van artikel 6 EVRM in bezwaarprocedures
                                                is sprake indien de totale behandelingstermijn de 12 maanden overschrijdt.</p>
                                          </li>
                                          <li class="list-custom__item">
                                             <p class="lid labeled"><span class="list-custom__itembullet">b)</span> De behandelingstermijn vangt aan op het moment dat een gemotiveerd bezwaarschrift
                                                is ontvangen (datumstempel ingekomen post) en eindigt op de dag dat een beslissing
                                                op bezwaar schriftelijk aan belanghebbende is bekend gemaakt (datum dagtekening).</p>
                                          </li>
                                       </ul>
                                    </container>
                                 </div>
                                 <div class="artikel">
                                    <container>
                                       <h5 class="artikel_kop">Artikel 2</h5>
                                       <ul class="list-custom list-custom--size-xs whitespace-small">
                                          <li class="list-custom__item">
                                             <p class="lid labeled"><span class="list-custom__itembullet">a)</span> Indien sprake is van termijnoverschrijding als bedoeld in artikel 1 wordt in beginsel
                                                immateriële schade verondersteld als gevolg van spanning en frustratie die gepaard
                                                gaat met het uitblijven van een beslissing op bezwaar.</p>
                                          </li>
                                          <li class="list-custom__item">
                                             <p class="lid labeled"><span class="list-custom__itembullet">b)</span> De aanname van deze immateriële schade kan door de gemeente worden weerlegd door
                                                concrete omstandigheden aan te dragen die aanleiding geven tot twijfel over de aanwezigheid
                                                van schade.</p>
                                          </li>
                                       </ul>
                                    </container>
                                 </div>
                                 <div class="artikel">
                                    <container>
                                       <h5 class="artikel_kop">Artikel 3</h5>
                                       <ul class="list-custom list-custom--size-xs whitespace-small">
                                          <li class="list-custom__item">
                                             <p class="lid labeled"><span class="list-custom__itembullet">a)</span> Het verzoek tot vergoeding van immateriële schade dient door degene die bezwaar heeft
                                                gemaakt te worden ingediend bij het college van burgemeester en wethouders.</p>
                                          </li>
                                          <li class="list-custom__item">
                                             <p class="lid labeled"><span class="list-custom__itembullet">b)</span> Het verzoek wordt in behandeling genomen door de afdeling die verantwoordelijk is
                                                voor het inhoudelijk verweer op het bezwaarschrift. </p>
                                          </li>
                                          <li class="list-custom__item">
                                             <p class="lid labeled"><span class="list-custom__itembullet">c)</span> De betreffende afdeling stelt een conceptbesluit op in overleg met het betreffende
                                                afdelingshoofd dat vervolgens door de directie wordt vastgesteld.</p>
                                          </li>
                                       </ul>
                                    </container>
                                 </div>

                                 <h5 class="artikel_kop">Artikel 4</h5>

                                 <p>De immateriële schadevergoeding wegens termijnoverschrijding wordt ongeacht de uitkomst
                                    van de bezwaarprocedure (gegrond/ongegrond) toegekend.</p>


                                 <h5 class="artikel_kop">Artikel 5</h5>

                                 <p>De hoogte van de immateriële schadevergoeding is afhankelijk van de duur van de termijnoverschrijding.</p>

                                 <p>Als uitgangspunt gelden de onderstaande termijnen en daaraan gekoppelde bedragen.</p>

                                 <p></p>

                                 <div class="table-topbar table-topbar--alignleft">
                                    <ul class="table-topbar__list">
                                       <li><a href="/CVDR34019/1?tabel=1" class="button icon-bg icon--fullscreen">Toon volledige tabel</a></li>
                                    </ul>
                                 </div>
                                 <div class="table__container"><table class="table ">
                                    <colgroup>
                                       <col style="width: 50%;">
                                       <col style="width: 50%;">
                                    </colgroup>
                                    <tbody>

                                       <tr>

                                          <td>

                                             <p>
                                                <strong class="vet">Totale afhandelingstermijn</strong>
                                                </p>
                                             </td>

                                          <td>

                                             <p>
                                                <strong class="vet">Bedrag</strong>
                                                </p>
                                             </td>
                                          </tr>

                                       <tr>

                                          <td>

                                             <p>Tussen 12 en 20 maanden</p>
                                             </td>

                                          <td>

                                             <p>€&nbsp;500,00</p>
                                             </td>
                                          </tr>

                                       <tr>

                                          <td>

                                             <p>Tussen 20 en 25 maanden</p>
                                             </td>

                                          <td>

                                             <p>€&nbsp;1.000,00</p>
                                             </td>
                                          </tr>

                                       <tr>

                                          <td>

                                             <p>Tussen 25 en 30 maanden</p>
                                             </td>

                                          <td>

                                             <p>€&nbsp;1.500,00</p>
                                             </td>
                                          </tr>

                                       <tr>

                                          <td>

                                             <p>Bij elke volle 5 maanden boven 30 maanden</p>
                                             </td>

                                          <td>

                                             <p>€&nbsp;500,00</p>
                                             </td>
                                          </tr>
                                       </tbody>
                                 </table></div>


                                 <h5 class="artikel_kop">Artikel 6</h5>

                                 <p>Afwijking van de in artikel 5 genoemde bedragen naar boven of beneden is mogelijk
                                    indien van één van de onderstaande factoren sprake is:</p>

                                 <ul class="list-custom list-custom--size-xs ">
                                    <li class="list-custom__item"><span class="list-custom__itembullet"><!--ins-->a) </span><p>Moet de betreffende zaak worden aangemerkt als complex ?;</p>
                                    </li>
                                    <li class="list-custom__item"><span class="list-custom__itembullet"><!--ins-->b) </span><p>Kunnen in de opstelling van betrokkenen redenen worden gevonden om een langere termijn
                                          in acht te nemen ?;</p>
                                    </li>
                                    <li class="list-custom__item"><span class="list-custom__itembullet"><!--ins-->c) </span><p>Kunnen in de opstelling van de gemeente redenen worden gevonden om een langere termijn
                                          in acht te nemen ?;</p>
                                    </li>
                                    <li class="list-custom__item"><span class="list-custom__itembullet"><!--ins-->d) </span><p>Zijn er concrete omstandigheden aanwezig die aanleiding geven tot twijfel over de
                                          aanwezigheid van schade ?.</p>
                                    </li>
                                 </ul>


                                 <h5 class="artikel_kop">Artikel 7</h5>

                                 <p>Op het moment dat de Wet dwangsom en beroep bij niet tijdig beslissen in werking treedt
                                    (vermoedelijk 1 januari 2010) komen deze beleidsregels van rechtswege te vervallen.</p>
                                 </section>
                              <section class="section-chapter js-scrollSection" id="d9100e295"><!--TCID hoofdstuk-->
                                 <h4 class="h4_kop">Jurisprudentie</h4>
                                 <p class="structuurtekst">De beleidsregels zijn o.a. gebaseerd op de onderstaande uitspraken van de Centrale
                                    Raad van Beroep.</p>
                                 <p class="structuurtekst"></p>
                                 <p class="structuurtekst">LJN. AR7273, Centrale Raad van Beroep, 8 december 2004</p>
                                 <p class="structuurtekst">LJN. AY8871, Centrale Raad van Beroep, 22 september 2006</p>
                                 <p class="structuurtekst">LJN: BA7517, Centrale Raad van Beroep, 6 juni 2007</p>
                              </section>
                           </div>
                        </div>

  </div>
</div>



{{ render "@footer" }}
