<div class="question-explanation">

  <a aria-label="Help?" aria-describedby="question-explanation-{{ id }}" aria-expanded="false" href="#question-explanation-{{ id }}" class="question-explanation__link" id="question-explanation-link-{{ id }}" data-handler="toggle-explanation">{{ Text }}</a>
  <div data-decorator="explanation" role="tooltip" class="question-explanation__content" id="question-explanation-{{ id }}">
    {{{ Helptext }}}
    {{!-- <a href="#question-explanation-link-{{ id }}" class="question-explanation__close" data-handler="close-explanation">
        Sluiten
    </a> --}}
  </div>

</div>
