
<div {{#if id}}id="{{id}}"{{/if}} class="accordion {{#if type }}accordion--{{type}}{{/if}}" data-decorator="init-accordion" {{#if config}}data-config='{{{config}}}'{{/if}}>
  {{#> @partial-block}}
    {{ render "@accordion-item" item1 }}
    {{ render "@accordion-item" item2 }}
    {{ render "@accordion-item" item3 }}
  {{/ @partial-block}}
</div>
