{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row" role="main" id="content">
  <div class="columns columns--sidebar-left">
    <div class="column">

      {{ render "@sort" sortContext }}

      <h1 class="h1 h1--result--list">Zoekresultaten
        <span class="h1__sub">1-10 van de 105 resultaten</span>
      </h1>

      <div class="hidden-desktop align-right">
        <button class="button button--primary block-element button--icon-filter" data-decorator="init-modalsidebar" data-handler="open-modalsidebar"
          data-modal="modal-filter">Filter opties (3)</button>
      </div>

      {{render "@resultlist" resultsContext }} {{render "@pagination" }}

    </div>
    <div class="column column--sidebar">

      <div id="modal-filter" class="modal-sidebar" role="alert" data-decorator="init-fixedbottom-button">

        <div class="modal-sidebar__content">

          <div class="row--spacer">
            <h2>Zoekfilter</h2>
            <div class="row">
              <p>
                <a href="#" class="icon icon--refresh">Herstel alle filters</a>
              </p>
            </div>

            <div class="form__row form__row--large">
              <h4>Geselecteerde filters (7)</h4>
              <div data-decorator="showmoreless" data-config='{"amount": 2}'>
                <ul class="list list--unstyled">
                  <li><div class="form__selectedfilter">Waarde 1<a href="{{url}}" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
                  <li><div class="form__selectedfilter">Waarde 2<a href="{{url}}" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
                  <li><div class="form__selectedfilter">Waarde 3<a href="{{url}}" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
                  <li><div class="form__selectedfilter">Waarde 4<a href="{{url}}" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
                  <li><div class="form__selectedfilter">Waarde 5<a href="{{url}}" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
                  <li><div class="form__selectedfilter">Waarde 6<a href="{{url}}" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
                  <li><div class="form__selectedfilter">Waarde 7<a href="{{url}}" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
                </ul>
              </div>
            </div>

            <form id="formid">

              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Zoekwoord(en)</legend>
                  <div class="form__row">
                    {{render "@input-inputsubmit" inputsubmitContext }}
                  </div>
                  <div class="form__row">
                    {{ render "@input-group" zoekeninContext merge=true }}
                  </div>
                </fieldset>
              </div>

              <div class="form__row form__row--large">

                <fieldset>
                  <legend>Domein</legend>
                  <div class="form__row">
                    {{render "@subselection" subselectionInfoContext }}
                  </div>
                </fieldset>

              </div>

              <div class="form__row form__row--large">

                <fieldset>
                  <legend>Accountants</legend>
                  <div class="form__row">
                    <h3 class="form__label">Instanties</h3>
                    {{render "@subselection" subselectionThemaContext }}
                  </div>
                  <div class="form__row">
                    <h3 class="form__label">Beroepsgroep</h3>
                    {{render "@subselection" subselectionBeroepsgroepContext }}
                  </div>
                  <div class="form__row">
                    <h3 class="form__label">Onderwerp</h3>
                    {{render "@subselection" subselectionOnderwerpContext }}
                  </div>
                  <div class="form__row">
                    <h3 class="form__label">Beslissing</h3>
                    {{render "@subselection" subselectionBeslissingContext }}
                  </div>
                </fieldset>

              </div>

              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Nummer</legend>
                  <div class="form__row">
                    {{ render "@input-text" ecliInput }}
                  </div>
                  <div class="form__row">
                    {{ render "@input-text" zoeknummerInput }}
                  </div>
                </fieldset>
                <fieldset>
                  <legend>Datum</legend>
                  <div class="form__row">
                    {{ render "@input-group" datumvanContext }}
                  </div>
                  <div class="form__row">
                    <div data-decorator="init-form-conditionals">
                      <div id="citem-1" class="js-form-conditionals__citem">
                        <div class="form__row">
                          {{ render "@select-custom" selectCustomContext }}
                        </div>
                      </div>
                      <div id="citem-2" class="js-form-conditionals__citem">
                        <div class="form__row">
                          {{render "@datepicker" startDatepicker }}
                        </div>
                        <div class="form__row">
                          {{render "@datepicker" endDatepicker }}
                        </div>

                      </div>
                    </div>
                  </div>
                  <a href="#" class="reset">
                    <small>Herstellen</small>
                  </a>
                </fieldset>
              </div>

                <a href="#" class="js-fixedbottom-button__button modal-sidebar__submit button button--primary" hidden data-decorator="init-sticky"
                  data-config='{"position":"bottom"}'>Zoek opnieuw</a>
            </form>
            </div>


            <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close">
              <span class="visually-hidden">Sluiten</span>
            </button>

          </div>

        </div>
      </div>
    </div>

  </div>

  {{ render "@footer" }}
