{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row" id="content" role="main">
  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}

        <form class="form">
          <div class="form__row form__row--large">
            <fieldset>
              <legend class="visually-hidden">Doorzoek alle documenten</legend>
              <div class="columns">
                <div class="column column-d-8">
                  <div class="form__row">
                    {{ render "@input-text--medium" inputZoekwoord merge=true }}
                  </div>
                </div>
                <div class="column column-d-4">
                  <div class="form__row">
                    {{ render "@input-group" zoekeninContext merge=true }}
                  </div>
                </div>
              </div>

            </fieldset>
          </div>
          <div class="form__row form__row--medium columns columns--dominant">
            <div class="column">
              <fieldset>
                <legend>Domein</legend>
                <div class="form__row form__row--medium">
                  <div class="form__row"><h3 class="form__label">Vrije beroepen</h3></div>
                   {{render "@input-radio" vrijeberoepenContext }}
                </div>
                <div class="form__row">
                  <div class="form__row">
                    <h3 class="form__label">Producenten</h3>
                  </div>
                  {{render "@input-radio" producentenContext }}
                </div>
              </fieldset>

            </div>
            <div class="column">

              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Nummer</legend>
                  <div class="form__row">
                    {{ render "@input-text" ecliInput }}
                  </div>
                  <div class="form__row">
                    {{ render "@input-text" zoeknummerInput }}
                  </div>
                </fieldset>
                <fieldset>
                  <legend>Datum</legend>
                  <div class="form__row">
                     {{ render "@input-group" datumvanContext }}
                  </div>
                  <div class="form__row">
                    <div data-decorator="init-form-conditionals">
                      <div id="citem-1" class="js-form-conditionals__citem">
                        <div class="form__row">
                          {{ render "@select-custom" selectCustomContext }}
                        </div>
                      </div>
                      <div id="citem-2" class="js-form-conditionals__citem">
                        <div class="columns">
                          <div class="column">
                            {{render "@datepicker" startDatepicker }}
                          </div>
                          <div class="column">
                            {{render "@datepicker" endDatepicker }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="reset">
                    <small>Herstellen</small>
                  </a>
                </fieldset>
              </div>
            </div>
          </div>

          <div class="form__row form__row--submit">
            <div class="columns columns--vcenter">
              <div class="column">
                <a href="#" class="icon icon--refresh">Herstel alle filters</a>
              </div>
              <div class="column align-right">
                <button type="submit" class="button button--primary">Zoek uitspraken</button>
              </div>
            </div>
          </div>


        </form>

     {{/@jumbotron}}

  </div>
</div>

{{ render "@footer" }}
