{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container columns columns--sticky-sidebar">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
      <p>
        <a href="#" class="icon icon--arrow-cta-right">Terug naar zoekresultaten</a>
      </p>
    </div>
  </div>
  <div id="content" role="main" class="content content--publication">

    <div class="align-right">
      {{ render "@pageactions"}}
    </div>

    <h1>Beslissingvan de Raad van Discipline in het ressort ‘s-Hertogenbosch van 18 november 2019 in de zaak 19-454/DB/LI</h1>

    <table class="table table--condensed table__data-overview">
      <tbody>
        <tr>
          <th>ECLI:</th>
          <td>ECLI:NL:TADRSHE:2019:172</td>
        </tr>
        <tr>
          <th>Datum uitspraak:</th>
          <td>20-10-2019</td>
        </tr>
        <tr>
          <th>Datum publicatie:</th>
          <td>20-11-2019</td>
        </tr>
        <tr>
          <th>Zaaknummer(s):</th>
          <td>19-454/DB/LI</td>
        </tr>
        <tr>
          <th>Onderwerp:</th>
          <td>Wat een behoorlijk advocaat betaamt t.o. de wederpartijVrijheid van handelen Wat een behoorlijk advocaat betaamt t.o. de wederpartijGrievende uitlatingen</td>
        </tr>
        <tr>
          <th>Beslissingen:</th>
          <td></td>
        </tr>
        <tr>
          <th>Inhoudsindicatie:</th>
          <td>Verzet ongegrond.</td>
        </tr>
      </tbody>
    </table>

    <ul>
      <li><a href="#">Dit is een klein testje met een label</a> <span class="label">pdf</span></li>
    </ul>

    <p>naar aanleiding van het verzet tegen de beslissing van de voorzitter van de raad van discipline van 29 juli 2019 op de klacht
    van: <br><br><strong>klager</strong><br><br>tegen:<br><br><strong>verweerder</strong></p>

    <ul class="list-custom list-custom--size-xs">
      <li class="list-custom__item"><span class="list-custom__itembullet">1</span>
        <p>Verloop van de procedure</p>
        <ul>
          <li class="list-custom__item"><span class="list-custom__itembullet">1.1</span><p>Bij e-mail d.d. 9 maart 2019 heeft klager bij de deken van de Orde van Advocaten in het arrondissement Limburg, hierna: “de
          deken”, een klacht ingediend tegen verweerder.</p></li>
          <li class="list-custom__item"><span class="list-custom__itembullet">1.2</span><p>Bij e-mail d.d. 11 juli 2019 heeft de deken de klacht ter kennis gebracht van de raad.</p></li>
        </ul>
      </li>
      <li class="list-custom__item"><span class="list-custom__itembullet">2</span>
        <p>FEITEN</p>
          <ul class="list-custom">
            <li class="list-custom__item"><span class="list-custom__itembullet">2.1</span><p>Voor een weergave van de vaststaande feiten verwijst de raad naar de beslissing van de voorzitter, waartegen klager in verzet
            in zoverre niet opkomt.</p></li>
          </ul>
      </li>
    </ul>

    <p>
        Aldus beslist door mr. M.M.T. Coenegracht, voorzitter, mrs. L.W.M. Caudri en J.D.E. van den Heuvel, leden, bijgestaan door
      mr. T.H.G. Huber - Van de Langenberg, als griffier en uitgesproken ter openbare zitting van 18 november 2019.
    </p>
    <p>
        Griffier<br>Voorzitter
    </p>

      {{render "@to-top"}}

  </div>

</div>

{{ render "@footer" }}
