{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container">
  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}
    <form class="form form__row form__row--medium">
      <fieldset>
        <legend class="visually-hidden">Doorzoek de verdragenbank</legend>
        <div class="form__row form__row--medium">
          {{render "@input-text" inputSearchContext }}
        </div>
      </fieldset>

      <div class="">
        <div class="columns">
          <div class="u-order--d2 align-right form__row">
            <button type="submit" class="form__button button button--primary button--large">Zoeken</button>
          </div>
          <div class="u-order--d1 u-nomargin">
            <a href="#" class="cta">Uitgebreid zoeken</a>
          </div>
        </div>
      </div>

    </form>
    {{/@jumbotron}}

  </div>

  <div class="row">

    <div class="row row--large">
      <h2 class="h1">Uitspraken vrije beroepen <span class="h1__sub">November 2019</span></h2>
    </div>

    <ul class="list list--themas list--columns-4">
      {{#each themaItems}}
        <li class="list__item">
          <h3 class="list__heading"><a href="#">{{title}}</a></h3>
          <p>{{descr}}</p>
        </li>
      {{/each}}
    </ul>

  </div>

  <div class="row row--large">
    <div class="columns columns--dominant columns--center">
      <div class="column column-d-3">
        <h2 class="h1">Bekijk ook</h2>
      </div>
      <div class="column column-d-9 align-right">
        {{render "@button--doubleline" doubleline1Context }} {{render "@button--doubleline" doubleline2Context }}
      </div>
    </div>
  </div>

</div>

{{ render "@footer" }}
