<div id="{{id}}" class="select-custom {{modifier}}">
  <select>
    {{#each items}}
      <option value="{{value}}" {{#if linkedto}}data-linkedto="{{linkedto}}"{{/if}} {{selected}}>{{label}}</option>
    {{/each}}
  </select>
</div>
